<!-- TOOLTIP EXAMPLE SECTION - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-example-section" id="{{ model.standard-component-name-id-07 }}">
			<section class="row">

			<!-- COMPONENT HEADER - BEGINS -->
				<div class="medium-7 columns">
					<h3 class="evo-site-category-pages-header">{{ model.standard-component-name-07 }}</h3>
				</div>
			<!-- COMPONENT HEADER - ENDS -->

			<!-- TABS - BEGINS -->
				<div class="medium-5 columns">
					<ul class="tabs evo-tabs-titles-category-pages" data-tab role="tablist">
						<li class="tab-title active" role="presentation">
							<a href="#{{ model.standard-component-name-id-07 }}-1" role="tab" tabindex="0" aria-selected="true" aria-controls="tabs1" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Overview"><span class="text"><i class="evo-icon-site-newspaper evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Overview" aria-label="Overview"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.standard-component-name-id-07 }}-2" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs2" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Usage"><span class="text"><i class="evo-icon-site-book3 evo-icon-size-small evo-center-block-vertical-element evo-center-block active" title="Usage" aria-label="Usage"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.standard-component-name-id-07 }}-3" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs3" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Mobile"><span class="text"><i class="evo-icon-site-mobile evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Mobile" aria-label="Mobile"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.standard-component-name-id-07 }}-4" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs4" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Technical"><span class="text"><i class="evo-icon-site-file-xml2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Technical" aria-label="Technical"></i></span></a>
						</li>
						<li class="tab-title evo-no-padding-right evo-component-page-tab-back-to-top" role="presentation">
							<a data-scroll-to-top href="#top" tabindex="0" aria-selected="false" aria-controls="" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Back to Top"><span class="text"><i class="evo-icon-circle-up2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" aria-label="Back to Top"></i></span></a>
						</li>
					</ul>
				</div>
			<!-- TABS - ENDS -->

			</section>

		<!-- COMPONENT EXAMPLE - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<hr class="evo-site-component-divider">

					<div class="tabs-content evo-tabs-content-category-pages">

					<!-- TAB 1 (overview section) - BEGINS -->
						<section role="tabpanel" aria-hidden="false" class="content active" id="{{ model.standard-component-name-id-07 }}-1">
						<!-- COMPONENT TITLE AND DESCRIPTION - BEGINS -->
							<p>The Tooltip feature provides the user additional information/detail on Form Input fields that is not initially displayed. The information displayed with the Tooltip should not be crucial, required functionality, or content needed to interact with the interface. It is simply a bit of additional information that would be considered helpful to the user, but not essential.</p>
						<!-- COMPONENT TITLE AND DESCRIPTION - ENDS -->
						</section>
					<!-- TAB 1 (overview section) - ENDS -->

					<!-- TAB 2 (usage section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.standard-component-name-id-07 }}-2">
							<p>Designers should use the Tooltip when the amount of information displayed is short in length (10-15 words maximum) and not critical to the user.</p>
						</section>
					<!-- TAB 2 (usage section) - ENDS -->

					<!-- TAB 3 (mobile section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.standard-component-name-id-07 }}-3">
							<ul>
								<li>The tooltip will open on tap. If the user taps the already open tooltip, it will close.</li>
								<li>The font size of the content within the tool tip will increase for mobile.</li>
							</ul>
						</section>
					<!-- TAB 3 (mobile section) - ENDS -->

					<!-- TAB 4 (get code section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.standard-component-name-id-07 }}-4">
							
							<p>Please use the Evolution Core <a href="/reference/objects/tooltip">tooltip reference</a> to get code for this standard.</p>

						</section>
					<!-- TAB 4 (get code section) - ENDS -->

					</div>
				</div>
			</section>

			<section class="row">
				<div class="small-12 columns">

				<!-- COMPONENT CODE - BEGINS -->
					{% include "/content/components/objects/tooltip/tooltip" %}
				<!-- COMPONENT CODE - ENDS -->

				</div>
			</section>
		<!-- COMPONENT EXAMPLE - ENDS -->

		</div>
	</section>
<!-- TOOLTIP EXAMPLE SECTION - ENDS -->