<!-- INTERACTIVE DATA TABLE - BEGINS -->
<div class="mul-table-small-mediaquery">
	<table class="mul-table mul-footable mul-table-borders mul-table-striped mul-table-hover" data-filter="#filter" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
		<caption>
			<div class="col-19 first">&nbsp;</div>
			<div class="col-5 mul-tbl-data-filter">
				{% include '/base/tables/table-quick-filter' %}
			</div>
		</caption>
		<thead>
			<tr>
				<th class="col-1" scope="col" data-sort-ignore="true">
					<input type="checkbox" class="js-mul-select-all-checkboxes">
				</th>
				<th class="col-5" scope="col"><a href="javascript:;">Task</a></th>
				<th class="col-2" scope="col"><a href="javascript:;">Type</a></th>
				<th class="col-7" scope="col">
					<a href="javascript:;">Client</a> |
					<a href="javascript:;">Location</a>
				</th>
				<th class="col-3" data-sort-initial="true" scope="col"><a href="javascript:;">Assigned To</a></th>
				<th class="col-3 mul-nowrap mul-align-right" scope="col"><a href="javascript:;">Start Date</a></th>
				<th class="col-3 mul-nowrap mul-align-right" scope="col"><a href="javascript:;">End Date</a></th>
			</tr>
		</thead>
		<tbody>

			{% for item in global.table_data %}
			<tr>
				<td>{{ item.checkbox }}</td>
				<td>{{ item.task }}</td>
				<td>{{ item.type_global }}</td>
				<td><a href="javascript:;">{{ item.company }}</a> | {{ item.location}}</td>
				<td>{{ item.abbrev_first_name}} {{ item.last_name}}</td>
				<td class="mul-nowrap mul-align-right">{{ item.start_date }}</td>
				<td class="mul-nowrap mul-align-right">{{ item.end_date }}</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>
<!-- INTERACTIVE DATA TABLE - ENDS -->