<!-- INTERACTIVE DATA TABLE (filter only) - BEGINS -->
<div class="evo-table-small-mediaquery">
	<table cellpadding="0" cellspacing="0" border="0" class="tdisplay evo-table evo-table-hover" id="evo-datatble-filter-only-example">
		<thead>
			<tr>
				<th scope="column"><input type="checkbox" class="js-evo-select-all-checkboxes"></th>
				<th scope="column"><a href="javascript:;">Rendering engine</a></th>
				<th scope="column"><a href="javascript:;">Browser</a></th>
				<th scope="column"><a href="javascript:;">Platform(s)</a></th>
				<th scope="column" class="text-center"><a href="javascript:;">Engine Version</a></th>
				<th scope="column" class="text-center"><a href="javascript:;">CSS Grade</a></th>
			</tr>
		</thead>
		<tbody>
			{% for item in global.browser_data %}
			<tr>
				<td scope="row" class="checkbox"><input type="checkbox" class="js-evo-select-all-checkbox-item"></td>
				<td scope="row">{{ item.renderingEngine }}</td>
				<td scope="row">{{ item.browser }}</td>
				<td scope="row">{{ item.platform }}</td>
				<td scope="row" class="text-center">{{ item.engine }}</td>
				<td scope="row" class="text-center">{{ item.cssGrade }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<!-- INTERACTIVE DATA TABLE (filter only) - ENDS -->