<!-- STEPPER SECTION - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-example-section" id="{{ model.component-name-id-06 }}">
			<section class="row">

			<!-- COMPONENT HEADER - BEGINS -->
				<div class="medium-7 columns">
					<h3 class="evo-site-category-pages-header">{{ model.component-name-06 }}</h3>
				</div>
			<!-- COMPONENT HEADER - ENDS -->

			<!-- TABS - BEGINS -->
				<div class="medium-5 columns">
					<ul class="tabs evo-tabs-titles-category-pages" data-tab role="tablist">
						<li class="tab-title active" role="presentation">
							<a href="#{{ model.component-name-id-06 }}-1" role="tab" tabindex="0" aria-selected="true" aria-controls="tabs1" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Overview"><span class="text"><i class="evo-icon-site-newspaper evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Overview" aria-label="Overview"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-06 }}-2" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs2" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Usage"><span class="text"><i class="evo-icon-site-book3 evo-icon-size-small evo-center-block-vertical-element evo-center-block active" title="Usage" aria-label="Usage"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-06 }}-3" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs3" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Mobile"><span class="text"><i class="evo-icon-site-mobile evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Mobile" aria-label="Mobile"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-06 }}-4" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs4" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Technical"><span class="text"><i class="evo-icon-site-file-xml2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Technical" aria-label="Technical"></i></span></a>
						</li>
						<li class="tab-title evo-no-padding-right evo-component-page-tab-back-to-top" role="presentation">
							<a data-scroll-to-top href="#top" tabindex="0" aria-selected="false" aria-controls="" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Back to Top"><span class="text"><i class="evo-icon-circle-up2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" aria-label="Back to Top"></i></span></a>
						</li>
					</ul>
				</div>
			<!-- TABS - ENDS -->

			</section>

		<!-- COMPONENT EXAMPLE - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<hr class="evo-site-component-divider">

					<div class="tabs-content evo-tabs-content-category-pages">

					<!-- TAB 1 (overview section) - BEGINS -->
						<section role="tabpanel" aria-hidden="false" class="content active" id="{{ model.component-name-id-06 }}-1">
						<!-- COMPONENT TITLE AND DESCRIPTION - BEGINS -->
							<p>The generic stepper informs the user of the number of steps that exist in a multi-step flow. It is also used to orient the user as to where they are within the specific flow.</p>
						<!-- COMPONENT TITLE AND DESCRIPTION - ENDS -->
						</section>
					<!-- TAB 1 (overview section) - ENDS -->

					<!-- TAB 2 (usage section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-06 }}-2">
							<p>Use the Generic Stepper when you want to provide the user with a general sense of the number of steps in a flow as well as where they are within that flow. This component is intended to be ancillary to the rest of the goals on the page, and as such it is intentionally scaled back in terms of functionality.</p>
							<p>For large and extra large screens, the Generic Stepper should display in line with the Page Title, aligned to the right side of the content area.</p>
						</section>
					<!-- TAB 2 (usage section) - ENDS -->

					<!-- TAB 3 (mobile section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-06 }}-3">
							<p>For small and medium screens, the Generic Stepper will wrap directly underneath the Page Title, and will be displayed on its own line.</p>
						</section>
					<!-- TAB 3 (mobile section) - ENDS -->

					<!-- TAB 4 (get code section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-06 }}-4">
							<div class="row">
								<div class="large-3 large-push-9 columns">

								<!-- DOWNLOAD - BEGINS -->
									<h6>Get Code</h6>
									<p>
										<a href="{{ model.family-boilerplate-download-url }}" class="button radius evo-button evo-site-button evo-no-margin-bottom" data-evo-button-icons="left" id="" role="button" title="Download Boilerplate" aria-label="">
											<i class="evo-icon-download4 evo-icon-position-left" title=""></i>
											<span class="evo-button-text">Download Boilerplate</span>
										</a>
									</p>
								<!-- DOWNLOAD - ENDS -->
									
								</div>
								<div class="large-9 large-pull-3 columns">
									
								<p>Please use the Evolution Core <a href="/reference/components/stepper/index">stepper reference</a> to get code for this component.</p>

								<!-- EXAMPLE HTML - BEGINS -->
									<h6>HTML</h6>
									{{ global.reference-component-html-instructions }}
								<!-- EXAMPLE HTML - ENDS -->

								</div>
							</div>
						</section>
					<!-- TAB 4 (get code section) - ENDS -->

					</div>
				</div>
			</section>

			<section class="row">
				<div class="large-4 columns evo-spacer-margin-bottom-large">

					<h6>Beginning</h6>

				<!-- COMPONENT CODE - BEGINS -->
					{{ "/bp/components/stepper/stepper.css" | asset_url | stylesheet_tag }}
					{% include "/bp/components/stepper/stepper" %}
				<!-- COMPONENT CODE - ENDS -->

				</div>
				<div class="large-8 columns">
					<h6>During</h6>

					{% include "/bp/components/stepper/stepper-active" %}
				</div>
			</section>
		<!-- COMPONENT EXAMPLE - ENDS -->

		</div>
	</section>
<!-- STEPPER SECTION - ENDS -->