{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="col-24 mul-alternate-views-badge mul-ref-alternate-views-badge" data-alternate-views-badge="js-mul-ref-alternate-views-badge">

		{% include '/reference/reference-content' %}

	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - BEGINS -->
		{% if model.reference-get-code == "true" %}
			<div id="mul-ref-alternate-views-badge-content-panel-get-code">

				<h3 class="mul-hdr-rule">HTML</h3>

				{{ model.reference-code-html-content-block-pre }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label }}</h4>
				{% endif %}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-primary' %}{{ global.reference-get-code-end-tag }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/href-primary' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-2 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-2 }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-secondary' %}{{ global.reference-get-code-end-tag }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/href-secondary' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-2 }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-3 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-3 }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-primary-interactive' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-3 }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-4 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-4 }}
				<ol>
					<li><code>mul-btn-xxx-small</code></li>
					<li><code>mul-btn-xx-small</code></li>
					<li><code>mul-btn-x-small</code></li>
					<li><code>mul-btn-small</code></li>
					<li><code>mul-btn-medium</code></li>
					<li><code>mul-btn-large</code></li>
					<li><code>mul-btn-x-large</code></li>
					<li><code>mul-btn-xx-large</code></li>
					<li><code>mul-btn-xxx-large</code></li>
				</ol>
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-primary' %}{{ global.reference-get-code-end-tag }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/href-primary' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-4 }}

				{% if model.reference-code-js == "true" %}

					<h3 class="mul-hdr-rule">JS</h3>

					{% if model.reference-example-versions == "true" %}
						<h4>{{ model.reference-example-version-label }}</h4>
					{% endif %}
					{{ model.reference-code-js-content-block-pre }}
					{{ global.reference-get-code-start-tag }}{ include '/js/' }{{ global.reference-get-code-end-tag }}
					{{ model.reference-code-js-content-block-post }}

				{% endif %}

			</div>
		{% endif %}
	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - ENDS -->

	</section>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<section class="col-24 mul-ref-example">

	<!-- EXAMPLE SECTION - HEADER - BEGINS -->
		<h3 class="mul-hdr-dbl-rule mul-ref-example-hdr">{{ global.reference-example-hdr }}</h3>
	<!-- EXAMPLE SECTION - HEADER - ENDS -->

	<!-- EXAMPLE SECTION - CONTENT - BEGINS -->
		<section class="mul-ref-example-content">

			<div class="col-24">
				<div class="col-8 first">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="mul-box mul-box-rnd mul-padding-bottom mul-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="mul-hdr-rule">{{ model.reference-example-version-label }}</h4>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							<a class="mul-btn mul-btn-medium mul-btn-first" id="" href="" tabindex="" title="Secondary">Secondary</a>
							<button class="mul-btn mul-btn-medium mul-btn-primary" id="" name="" value="" type="" tabindex="" title="Primary">Primary</button>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

				</div>
				<div class="col-8">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="mul-box mul-box-rnd mul-padding-bottom mul-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="mul-hdr-rule">{{ model.reference-example-version-label-2 }}</h4>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							{% include '/base/buttons/button-primary-interactive' %}
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

				</div>

				<div class="col-8">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="mul-box mul-box-rnd mul-padding-bottom mul-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="mul-hdr-rule">{{ model.reference-example-version-label-3 }}</h4>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							<button class="mul-btn mul-btn-medium mul-btn-first mul-btn-disabled" id="" name="" value="" type="" disabled="disabled" tabindex="" title="loading&hellip;">loading&hellip;</button>
							<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-disabled" id="" name="" value="" type="" disabled="disabled" tabindex="" title="loading&hellip;">loading&hellip;</button>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

				</div>
			</div>
			<div class="col-24">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="mul-box mul-box-rnd mul-padding-bottom mul-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="mul-hdr-rule">{{ model.reference-example-version-label-4 }}</h4>
							<p>In cases where buttons are used within a multi-step flow, the common combination of buttons is as follows: "Cancel" first, followed by "Back", followed by whatever the primary action is ("Next", "Save", "Review", etc).</p>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							<a class="mul-btn mul-btn-medium mul-btn-first" id="" href="" tabindex="" title="Cancel">Cancel</a>
							<a class="mul-btn mul-btn-medium" id="" href="" tabindex="" title="Back">Back</a>
							<button class="mul-btn mul-btn-medium mul-btn-primary" id="" name="" value="" type="" tabindex="" title="Save">Save</button>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

			</div>
			<div class="col-24">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="mul-box mul-box-rnd mul-padding-bottom mul-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="mul-hdr-rule">{{ model.reference-example-version-label-5 }}</h4>
							<p>Each button has a minimum width of 100 pixels. This ensures consistency mul-even in cases where the label text is really short.</p>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							<a class="mul-btn mul-btn-medium mul-btn-first" id="" href="" tabindex="" title="Back">Back</a>
							<button class="mul-btn mul-btn-medium mul-btn-primary" id="" name="" value="" type="" tabindex="" title="Go">Go</button>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

			</div>
			<div class="col-24">

			<!-- EXAMPLE SECTION - BOX - BEGINS -->
				<div class="mul-box mul-box-rnd mul-padding-bottom mul-ref-example-box">

					{% if model.reference-example-versions == "true" %}
						<h4 class="mul-hdr-rule">{{ model.reference-example-version-label-5 }}</h4>
						<p>The buttons are content aware, and the width of the button should be dynamic based on the label text.</p>
					{% endif %}

					<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<button class="mul-btn mul-btn-medium mul-btn-primary mul-btn-first" id="" name="" value="" type="" tabindex="" title="Title Case Button With Alot Of Text">Title Case Button With Alot Of Text</button>
					<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

				</div>
			<!-- EXAMPLE SECTION - BOX - ENDS -->

			</div>
			<div class="col-24">
				<hr />
				<p>
					<a href="javascript:;" class="js-mul-toggle-content" data-mul-toggle="2">
						<i class="mul-icon-arrow-right3 mul-image-icon-position-left mul-image-icon-size-small"></i>Button Options
					</a>
				</p>
				<div class="mul-ref-example-box mul-display-none" id="div2">
					<h4 class="mul-hdr-rule">Button Sizes</h4>

					<!-- BUTTON SIZES TABLE - BEGINS -->
						<div class="mul-table-small-mediaquery">
							<table class="mul-table mul-table-borders" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
								<thead>
									<tr>
										<th class="col-4" scope="col">Size</th>
										<th class="col-5" scope="col">Button Tag Primary</th>
										<th class="col-5" scope="col">Button Tag Secondary</th>
										<th class="col-5" scope="col">Link Tag Primary</th>
										<th class="col-5" scope="col">Link Tag Secondary</th>
									</tr>
								</thead>
								<tbody>

									{% for item in model.reference-button-sizes-table-data %}
									<tr>
										<td class="mul-nowrap">
											{{ item.button-size-label }}
										</td>
										<td>
											<button class="mul-btn mul-btn-{{ item.button-size }} mul-btn-primary mul-btn-first" id="" name="" value="" type="" tabindex="" title="Button">Button</button>
										</td>
										<td>
											<button class="mul-btn mul-btn-{{ item.button-size }} mul-btn-first" id="" name="" value="" type="" tabindex="" title="Button">Button</button>
										</td>
										<td>
											<a class="mul-btn mul-btn-{{ item.button-size }} mul-btn-primary mul-btn-first" id="" href="" tabindex="" title="Button">Button</a>
										</td>
										<td>
											<a class="mul-btn mul-btn-{{ item.button-size }} mul-btn-first" id="" href="" tabindex="" title="Button">Button</a>
										</td>
									</tr>
									{% endfor %}

								</tbody>
							</table>
						</div>
					<!-- BUTTON SIZES TABLE - ENDS -->

				</div>
			</div>

		</section>
	<!-- EXAMPLE SECTION - CONTENT - ENDS -->

	</section>
<!-- EXAMPLE SECTION - ENDS -->

{% endblock %}