{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="col-24 evo-alternate-views-badge evo-ref-alternate-views-badge" data-alternate-views-badge="js-evo-ref-alternate-views-badge">

		{% include '/reference/reference-content' %}

	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - BEGINS -->
		{% if model.reference-get-code == "true" %}
			<div id="evo-ref-alternate-views-badge-content-panel-get-code">

				<h3 class="evo-hdr-rule">HTML</h3>

				{{ model.reference-code-html-content-block-pre }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label }}</h4>
				{% endif %}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-primary' %}{{ global.reference-get-code-end-tag }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/href-primary' %}{{ global.reference-get-code-end-tag }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-secondary' %}{{ global.reference-get-code-end-tag }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/href-secondary' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-2 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-2 }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-primary-interactive' %}{{ global.reference-get-code-end-tag }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-secondary-interactive' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-2 }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-3 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-3 }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-primary-disabled' %}{{ global.reference-get-code-end-tag }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-secondary-disabled' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-3 }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-7 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-7 }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-colors' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-7 }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-8 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-8 }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-sizes' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-8 }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-9 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-9 }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-shapes' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-9 }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-10 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-10 }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-forms' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-10 }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-11 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-11 }}
				{{ global.reference-get-code-start-tag }}{% include '/base/buttons/button-groups' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-11 }}

				{% if model.reference-code-js == "true" %}

					<h3 class="evo-hdr-rule">JS</h3>

					{% if model.reference-example-versions == "true" %}
						<h4>{{ model.reference-example-version-label }}</h4>
					{% endif %}
					{{ model.reference-code-js-content-block-pre }}
					{{ global.reference-get-code-start-tag }}{ include '/js/' }{{ global.reference-get-code-end-tag }}
					{{ model.reference-code-js-content-block-post }}

				{% endif %}

			</div>
		{% endif %}
	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - ENDS -->

	</section>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<section class="col-24 evo-ref-example">

	<!-- EXAMPLE SECTION - HEADER - BEGINS -->
		<h3 class="evo-hdr-dbl-rule evo-ref-example-hdr">{{ global.reference-example-hdr }}</h3>
	<!-- EXAMPLE SECTION - HEADER - ENDS -->

	<!-- EXAMPLE SECTION - CONTENT - BEGINS -->
		<section class="evo-ref-example-content">

			<div class="col-24">
				<div class="col-8 first">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="evo-hdr-rule">{{ model.reference-example-version-label }}</h4>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							<a href="" class="button radius secondary evo-btn" id="" tabindex="" title="">Secondary a</a>
							<button class="button radius secondary evo-btn" id="" name="" value="" type="" tabindex="" title="">Secondary</button>

							<a href="" class="button radius evo-btn" id="" tabindex="" title="">Primary a</a>
							<button class="button radius evo-btn" id="" name="" value="" type="" tabindex="" title="">Primary</button>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

				</div>
				<div class="col-8">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-2 }}</h4>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							{% include '/base/buttons/button-secondary-interactive' %}
							{% include '/base/buttons/button-primary-interactive' %}
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

				</div>

				<div class="col-8">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-3 }}</h4>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							<button class="button radius secondary disabled" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">Secondary disabled</button>
							<button class="button radius disabled" id="" name="" value="" type="" disabled="disabled" tabindex="" title="">Primary disabled</button>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

				</div>
			</div>
			<div class="col-24">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-4 }}</h4>
							<p>In cases where buttons are used within a multi-step flow, the common combination of buttons is as follows: "Cancel" first, followed by "Back", followed by whatever the primary action is ("Next", "Save", "Review", etc).</p>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							<button class="button radius secondary" id="" name="" value="" type="" tabindex="" title="">Cancel</button>
							<button class="button radius secondary" id="" name="" value="" type="" tabindex="" title="">Back</button>
							<button class="button radius" id="" name="" value="" type="" tabindex="" title="">Save</button>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

			</div>
			<div class="col-24">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-5 }}</h4>
							<p>Each button has a minimum width of 100 pixels. This ensures consistency even in cases where the label text is really short.</p>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							<button class="button radius secondary" id="" name="" value="" type="" tabindex="" title="">Back</button>
							<button class="button radius" id="" name="" value="" type="" tabindex="" title="">Go</button>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

			</div>
			<div class="col-24">

			<!-- EXAMPLE SECTION - BOX - BEGINS -->
				<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

					{% if model.reference-example-versions == "true" %}
						<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-6 }}</h4>
						<p>The buttons are content aware, and the width of the button should be dynamic based on the label text.</p>
					{% endif %}

					<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<button class="button radius" id="" name="" value="" type="" tabindex="" title="">Title Case Button With Alot Of Text</button>
					<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

				</div>
			<!-- EXAMPLE SECTION - BOX - ENDS -->

			</div>

			<div class="col-24">

			<!-- EXAMPLE SECTION - BOX - BEGINS -->
				<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

					{% if model.reference-example-versions == "true" %}
						<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-7 }}</h4>
					{% endif %}

					<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<button class="button radius secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button>
						<button class="button radius success" id="" name="" value="" type="" tabindex="" title="">Success</button>
						<button class="button radius alert" id="" name="" value="" type="" tabindex="" title="">Alert</button>
						<button class="button radius info" id="" name="" value="" type="" tabindex="" title="">Info</button>
					<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

				</div>
			<!-- EXAMPLE SECTION - BOX - ENDS -->

			</div>

			<div class="col-24">

			<!-- EXAMPLE SECTION - BOX - BEGINS -->
				<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

					{% if model.reference-example-versions == "true" %}
						<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-8 }}</h4>
					{% endif %}

					<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<div class="col-24">
							<button class="button tiny radius secondary" id="" name="" value="" type="" tabindex="" title="">Tiny</button>
							<button class="button small radius secondary" id="" name="" value="" type="" tabindex="" title="">Small</button>
							<button class="button radius secondary" id="" name="" value="" type="" tabindex="" title="">Default</button>
							<button class="button large radius secondary" id="" name="" value="" type="" tabindex="" title="">Large</button>
						</div>
						<div class="col-24">
							<button class="button tiny radius" id="" name="" value="" type="" tabindex="" title="">Tiny</button>
							<button class="button small radius" id="" name="" value="" type="" tabindex="" title="">Small</button>
							<button class="button radius" id="" name="" value="" type="" tabindex="" title="">Default</button>
							<button class="button large radius" id="" name="" value="" type="" tabindex="" title="">Large</button>
						</div>
					<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

				</div>
			<!-- EXAMPLE SECTION - BOX - ENDS -->

			</div>

			<div class="col-24">

			<!-- EXAMPLE SECTION - BOX - BEGINS -->
				<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

					{% if model.reference-example-versions == "true" %}
						<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-9 }}</h4>
					{% endif %}

					<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<div class="col-24">
							<button class="button expand radius secondary" id="" name="" value="" type="" tabindex="" title="">Secondary expanded</button>
							<button class="button round secondary" id="" name="" value="" type="" tabindex="" title="">Secondary round</button>
							<button class="button radius secondary" id="" name="" value="" type="" tabindex="" title="">Secondary radius</button>
						</div>
						<div class="col-24">
							<button class="button expand radius" id="" name="" value="" type="" tabindex="" title="">Expanded</button>
							<button class="button round" id="" name="" value="" type="" tabindex="" title="">Round</button>
							<button class="button radius" id="" name="" value="" type="" tabindex="" title="">Radius</button>
						</div>
					<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

				</div>
			<!-- EXAMPLE SECTION - BOX - ENDS -->

			</div>

			<div class="col-24">

			<!-- EXAMPLE SECTION - BOX - BEGINS -->
				<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

					{% if model.reference-example-versions == "true" %}
						<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-10 }}</h4>
					{% endif %}

					<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<input class="button secondary radius" id="" name="" value="Secondary" type="submit" tabindex="" title="" />
						<input class="button radius" id="" name="" value="Primary" type="submit" tabindex="" title="" />
					<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

				</div>
			<!-- EXAMPLE SECTION - BOX - ENDS -->

			</div>

			<div class="col-24">

			<!-- EXAMPLE SECTION - BOX - BEGINS -->
				<div class="evo-box evo-box-rnd evo-padding-bottom evo-ref-example-box">

					{% if model.reference-example-versions == "true" %}
						<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-11 }}</h4>
					{% endif %}

					<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<ul class="button-group radius">
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
						</ul>

						<ul class="button-group round">
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
						</ul>

						<ul class="button-group radius">
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
						</ul>

						<ul class="button-group round">
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
						</ul>

						<h5>Expand Evenly</h5>

						<ul class="button-group radius even-3">
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
						</ul>

						<ul class="button-group radius even-6">
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
							<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
						</ul>

						<h5>Stacked</h5>

						<ul class="stack button-group radius">
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
						</ul>

						<h5>Stacked for Small Media Query</h5>

						<ul class="stack-for-small button-group radius">
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
							<li><button class="button secondary" id="" name="" value="" type="" tabindex="" title="">Secondary</button></li>
						</ul>

						<h5>Button Bar</h5>

						<div class="button-bar">
							<ul class="button-group radius">
								<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
								<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
								<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
							</ul>
							<ul class="button-group radius">
								<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
								<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
								<li><button class="button" id="" name="" value="" type="" tabindex="" title="">Primary</button></li>
							</ul>
						</div>
					<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

				</div>
			<!-- EXAMPLE SECTION - BOX - ENDS -->

			</div>

		</section>
	<!-- EXAMPLE SECTION - CONTENT - ENDS -->

	</section>
<!-- EXAMPLE SECTION - ENDS -->

{% endblock %}