{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="col-24">
		{{ model.reference-overview }}
	</section>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<section class="col-24 evo-ref-example">

	<!-- EXAMPLE SECTION - COLORS TABS - BEGINS -->
		<div class="js-evo-tabs-example evo-tabs">
			<ul>
				<li><a href="#tabs-1">Available Palette</a></li>
				<li><a href="#tabs-2">Specified Colors</a></li>
			</ul>

			<div id="tabs-1">

				<div class="col-24 evo-margin-bottom">

					<div class="gray col-4 first">
						<h4 class="evo-align-center">Black</h4>
						<div class="color-block color-block-01">#000000</div>
						<div class="color-block color-block-02">#202020</div>
						<div class="color-block color-block-03">#37424A</div>
						<div class="color-block color-block-04">#404040</div>
						<div class="color-block color-block-05">#808080</div>
						<div class="color-block color-block-06">#BFBFBF</div>
						<div class="color-block color-block-07">#EEEEEE</div>
						<div class="color-block color-block-08">#F8F8F8</div>
					</div>

					<div class="blue-gray col-4">
						<h4 class="evo-align-center">Blue-Gray</h4>
						<div class="color-block color-block-01">#23334C</div>
						<div class="color-block color-block-02">#395A85</div>
						<div class="color-block color-block-03">#396EA8</div>
						<div class="color-block color-block-04">#517BAA</div>
						<div class="color-block color-block-05">#6B90B8</div>
						<div class="color-block color-block-06">#A9BCD3</div>
						<div class="color-block color-block-07">#C3D2E5</div>
						<div class="color-block color-block-08">#E9EEF5</div>
						<div class="color-block color-block-09">#E8F0F7</div>
					</div>

					<div class="sapphire col-4">
						<h4 class="evo-align-center">Sapphire</h4>
						<div class="color-block color-block-01">#002C77</div>
						<div class="color-block color-block-02">#006D9E</div>
						<div class="color-block color-block-03">#00A8C8</div>
						<div class="color-block color-block-04">#A6E2EF</div>
					</div>

					<div class="iolite col-4">
						<h4 class="evo-align-center">Iolite</h4>
						<div class="color-block color-block-01">#43286D</div>
						<div class="color-block color-block-02">#595998</div>
						<div class="color-block color-block-03">#6F85C2</div>
						<div class="color-block color-block-04">#C5CAE7</div>
					</div>

					<div class="amethyst col-4">
						<h4 class="evo-align-center">Amethyst</h4>
						<div class="color-block color-block-01">#570054</div>
						<div class="color-block color-block-02">#932077</div>
						<div class="color-block color-block-03">#CF3D96</div>
						<div class="color-block color-block-04">#E7B8D6</div>
					</div>

					<div class="ruby col-4">
						<h4 class="evo-align-center">Ruby</h4>
						<div class="color-block color-block-01">#690031</div>
						<div class="color-block color-block-02">#A9194F</div>
						<div class="color-block color-block-03">#ED2C67</div>
						<div class="color-block color-block-04">#F7B6BB</div>
					</div>

				</div>

				<div class="col-24 evo-margin-bottom">

					<div class="garnet col-4 first">
						<h4 class="evo-align-center">Garnet</h4>
						<div class="color-block color-block-01">#820009</div>
						<div class="color-block color-block-02">#BB2C2B</div>
						<div class="color-block color-block-03">#EF4E45</div>
						<div class="color-block color-block-04">#F9BEAD</div>
					</div>

					<div class="citrine col-4">
						<h4 class="evo-align-center">Citrine</h4>
						<div class="color-block color-block-01">#8D380A</div>
						<div class="color-block color-block-02">#C55F24</div>
						<div class="color-block color-block-03">#F48132</div>
						<div class="color-block color-block-04">#FCCFAB</div>
					</div>

					<div class="topaz col-4">
						<h4 class="evo-align-center">Topaz</h4>
						<div class="color-block color-block-01">#905501</div>
						<div class="color-block color-block-02">#C98414</div>
						<div class="color-block color-block-03">#FBAE17</div>
						<div class="color-block color-block-04">#FFDDAC</div>
					</div>

					<div class="green col-4">
						<h4 class="evo-align-center">Green</h4>
						<div class="color-block color-block-01">#005804</div>
						<div class="color-block color-block-02">#2D7B05</div>
						<div class="color-block color-block-03">#6EAA38</div>
						<div class="color-block color-block-04">#72BE44</div>
						<div class="color-block color-block-05">#98E96C</div>
						<div class="color-block color-block-06">#BDDCA1</div>
						<div class="color-block color-block-07">#D6EBC3</div>
					</div>

					<div class="blue-green col-4">
						<h4 class="evo-align-center">Blue-Green</h4>
						<div class="color-block color-block-01">#004C4F</div>
						<div class="color-block color-block-02">#008075</div>
						<div class="color-block color-block-03">#0FB694</div>
						<div class="color-block color-block-04">#A7D9C8</div>
					</div>

				</div>
			</div>
			<div id="tabs-2">

				<h3 class="evo-hdr-rule">{{ model.reference-color-hdr }}</h3>
				{{ model.reference-color-content }}

				<div class="evo-table-small-mediaquery">
					<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
						<thead>
							<tr>
								<th class="col-5">Example</th>
								<th class="col-2">Style</th>
								<th class="col-2">Hex Top</th>
								<th class="col-3">Hex Bottom</th>
								<th class="col-13">Usage Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="blue-gray">
									<div class="colors color-block-01"></div>
								</td>
								<td>Solid</td>
								<td>#23334C</td>
								<td>--</td>
								<td><strong>Header Background</strong> - this is used as the background in the <a href="/base/product-header">Main Navigation</a> and is mostly viewable on the left and right sides of product header.</td>
							</tr>
							<tr>
								<td>
									<div class="colors evo-navbar-color"></div>
								</td>
								<td>Gradient</td>
								<td>#F6F6F6</td>
								<td>#CDCDCD</td>
								<td><strong>Main Navigation</strong> - This background gradient is used on the main navigation bar in the <a href="/base/product-header">Product Header</a>.</td>
							</tr>
							<tr>
								<td class="sapphire">
									<div class="colors color-block-01"></div>
								</td>
								<td>Solid</td>
								<td>#002c77</td>
								<td>--</td>
								<td><strong>Default Link</strong> - This color is used as the default link color.</td>
							</tr>
							<tr>
								<td class="gray">
									<div class="colors color-block-02"></div>
								</td>
								<td>Solid</td>
								<td>#333333</td>
								<td>--</td>
								<td><strong>Page Headers</strong> - This color is used for all page headers or titles. See the <a href="/base/typography">Typography section</a> for more details.</td>
							</tr>
							<tr>
								<td class="gray">
									<div class="colors color-block-01"></div>
								</td>
								<td>Solid</td>
								<td>#000000</td>
								<td>--</td>
								<td><strong>Base Font</strong> - This color is used for the base font for all applications. See the <a href="/base/typography">Typography section</a> for more details.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-2 }}</h3>
				{{ model.reference-color-content-2 }}
				
				<div class="evo-table-small-mediaquery">
					<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
						<thead>
							<tr>
								<th class="col-5">Example</th>
								<th class="col-2">Style</th>
								<th class="col-2">Hex Top</th>
								<th class="col-3">Hex Bottom</th>
								<th class="col-13">Usage Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="green">
									<div class="colors color-block-06"></div>
								</td>
								<td>Solid</td>
								<td>#d6ebc3</td>
								<td>--</td>
								<td><strong>Background</strong> - Commonly used as the background color on the <a href="/base/boxes/message-confirmation">Confirmation Message</a> container.</td>
							</tr>
							<tr>
								<td class="green">
									<div class="colors color-block-02"></div>
								</td>
								<td>Solid</td>
								<td>#2d7b05</td>
								<td>--</td>
								<td><strong>Border</strong> - Used as the border color in the <a href="/base/boxes/message-confirmation">Confirmation Message</a> container.</td>
							</tr>
							<tr>
								<td class="green">
									<div class="colors color-block-01"></div>
								</td>
								<td>Solid</td>
								<td>#005804</td>
								<td>--</td>
								<td><strong>Text</strong> - Confirmation/Positive - used as the text color when displaying a positive number, result or confirmation.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-3 }}</h3>
				{{ model.reference-color-content-3 }}

				<div class="evo-table-small-mediaquery">
					<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
						<thead>
							<tr>
								<th class="col-5">Example</th>
								<th class="col-2">Style</th>
								<th class="col-2">Hex Top</th>
								<th class="col-3">Hex Bottom</th>
								<th class="col-13">Usage Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="red">
									<div class="colors color-block-03"></div>
								</td>
								<td>Solid</td>
								<td>#fcdbd9</td>
								<td>--</td>
								<td><strong>Background</strong>  - Used as the background color in the <a href="/base/boxes/message-error">Error Message</a> container or as the hover color for negative or escalated items in the <a href="/objects/primary-summary">Summary Data</a> containers.</td>
							</tr>
							<tr>
								<td class="red">
									<div class="colors color-block-02"></div>
								</td>
								<td>Solid</td>
								<td>#ba2c2b</td>
								<td>--</td>
								<td><strong>Border</strong> - Used as the border color in the <a href="/base/boxes/message-error">Error Message</a> container.</td>
							</tr>
							<tr>
								<td class="red">
									<div class="colors color-block-01"></div>
								</td>
								<td>Solid</td>
								<td>#810009</td>
								<td>--</td>
								<td><strong>Text</strong> - Used as the text color when displaying an error message or a negative number or result.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-4 }}</h3>
				{{ model.reference-color-content-4 }}
				
				<div class="evo-table-small-mediaquery">
					<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
						<thead>
							<tr>
								<th class="col-5">Example</th>
								<th class="col-2">Style</th>
								<th class="col-2">Hex Top</th>
								<th class="col-3">Hex Bottom</th>
								<th class="col-13">Usage Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="tan">
									<div class="colors color-block-03"></div>
								</td>
								<td>Solid</td>
								<td>#fef8e3</td>
								<td>--</td>
								<td><strong>Background</strong> - Used in areas like the <a href="/base/boxes/message-attention">Attention Message</a> container, as the hover color in the <a href="/base/tables/interactive">Interactive Data Table</a> or as the background for the selected item in the <a href="/objects/mini-filter">Mini Filter</a>. </td>
							</tr>
							<tr>
								<td class="tan">
									<div class="colors color-block-02"></div>
								</td>
								<td>Solid</td>
								<td>#c6a54f</td>
								<td>--</td>
								<td><strong>Border</strong> - Used as the border color in the <a href="/base/boxes/message-attention">Attention Message</a> container. </td>
							</tr>
							<tr>
								<td class="tan">
									<div class="colors color-block-01"></div>
								</td>
								<td>Solid</td>
								<td>#8e5501</td>
								<td>--</td>
								<td><strong>Text</strong> - Used as the text color for titles inside the <a href="/base/boxes/message-attention">Attention Message</a> container, or in other areas as the text color to display highlighted text.</td>
							</tr>	
						</tbody>
					</table>
				</div>

				<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-5 }}</h3>
				{{ model.reference-color-content-5 }}
				
				<div class="evo-table-small-mediaquery">
					<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
						<thead>
							<tr>
								<th class="col-5">Example</th>
								<th class="col-2">Style</th>
								<th class="col-2">Hex Top</th>
								<th class="col-3">Hex Bottom</th>
								<th class="col-13">Usage Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="colors table-header-row"></div>
								</td>
								<td>Solid</td>
								<td>#E9EEF5</td>
								<td>--</td>
								<td><strong>Header Row</strong> - Background color for the top most row on a Interactive Data Table.</td>
							</tr>
							<tr>
								<td>
									<div class="colors table-subheader-row"></div>
								</td>
								<td>Solid</td>
								<td>#E8F0F7</td>
								<td>--</td>
								<td><strong>Subheader Row</strong> - Background color used on the optional subheader row in a Interactive Data Table.</td>
							</tr>
							<tr>
								<td>
									<div class="colors table-data-row-01"></div>
								</td>
								<td>Solid</td>
								<td>#FFFFFF</td>
								<td>--</td>
								<td><strong>Alternating Data Row 1</strong> - used on the <a href="/base/tables/interactive">Interactive Data Table</a> in conjunction with Alternating Data Row 1 to create a "zebra-stripe" effect in the main content area to allow the user to easily identify a single row of data.</td>
							</tr>
							<tr>
								<td>
									<div class="colors table-data-row-02"></div>
								</td>
								<td>Solid</td>
								<td>#F7F7F7</td>
								<td>--</td>
								<td><strong>Alternating Data Row 2</strong> - used on the <a href="/base/tables/interactive">Interactive Data Table</a> in conjunction with Alternating Data Row 1 to create a "zebra-stripe" effect in the main content area to allow the user to easily identify a single row of data.</td>
							</tr>
							<tr>
								<td>
									<div class="colors table-subtotal-row"></div>
								</td>
								<td>Solid</td>
								<td>#EEEEEE</td>
								<td>--</td>
								<td><strong>Subtotal Row</strong> - Background color for the optional summary or total row that would appear as the last row in an <a href="/base/tables/interactive">Interactive Data Table</a>.</td>
							</tr>
							<tr>
								<td>
									<div class="colors table-total-row"></div>
								</td>
								<td>Solid</td>
								<td>#E6E6E6</td>
								<td>--</td>
								<td><strong>Total Row</strong> - Background color for the optional summary or total row that would appear as the last row in an <a href="/base/tables/interactive">Interactive Data Table</a>.</td>
							</tr>
							<tr>
								<td>
									<div class="colors table-sorting-row-01"></div>
								</td>
								<td>Solid</td>
								<td>#F7F7F7</td>
								<td>--</td>
								<td><strong>Sorting (odd row)</strong> -</td>
							</tr>
							<tr>
								<td>
									<div class="colors table-sorting-row-02"></div>
								</td>
								<td>Solid</td>
								<td>#EEEEEE</td>
								<td>--</td>
								<td><strong>Sorting (even row)</strong> -</td>
							</tr>
							<tr>
								<td>
									<div class="colors table-header-border"></div>
								</td>
								<td>Solid</td>
								<td>#A9BCD3</td>
								<td>--</td>
								<td><strong>Table Header Border Color</strong> -</td>
							</tr>
							<tr>
								<td>
									<div class="colors table-row-border"></div>
								</td>
								<td>Solid</td>
								<td>#CCCCCC</td>
								<td>--</td>
								<td><strong>Table Row Border Color</strong> -</td>
							</tr>
							<tr>
								<td>
									<div class="colors table-subheader-border"></div>
								</td>
								<td>Solid</td>
								<td>#C3D2E5</td>
								<td>--</td>
								<td><strong>Table Subheader Border Color</strong> -</td>
							</tr>
						</tbody>
					</table>
				</div>

				<a name="buttonColors"></a>
				<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-6 }}</h3>
				{{ model.reference-color-content-6 }}
				
				<div class="evo-table-small-mediaquery">
					<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
						<thead>
							<tr>
								<th class="col-5">Example</th>
								<th class="col-2">Style</th>
								<th class="col-2">Hex Top</th>
								<th class="col-3">Hex Bottom</th>
								<th class="col-13">Usage Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="colors btn-primary"></div>
								</td>
								<td>Gradient</td>
								<td>#69dd14</td>
								<td>#2d6e0c</td>
								<td>This is the background color for the <a href="/base/buttons">Primary Button (Default State)</a>.</td>
							</tr>
							<tr>
								<td>
									<div class="colors btn-primary-active"></div>
								</td>
								<td>Gradient</td>
								<td>#1b4a03 </td>
								<td>#69dd14 </td>
								<td>This is the background color for the <a href="/base/buttons">Primary Button (Active State)</a>.</td>
							</tr>
							<tr>
								<td>
									<div class="colors btn-primary-hover"></div>
								</td>
								<td>Gradient</td>
								<td>#69dd14 </td>
								<td>#1b4a03 </td>
								<td>This is the background color for the <a href="/base/buttons">Primary Button (Hover State)</a>.</td>
							</tr>
							<tr>
								<td class="green">
									<div class="colors color-block-02"></div>
								</td>
								<td>Solid</td>
								<td>#2D7B05</td>
								<td>--</td>
								<td>This is the background color for the <a href="/base/buttons">Primary Button (Loading State)</a>.</td>
							</tr>
							<tr>
								<td>
									<div class="colors btn-default"></div>
								</td>
								<td>Gradient</td>
								<td>#efefef </td>
								<td>#b0b0b0 </td>
								<td>This is the background color for the <a href="/base/buttons">Secondary Button (Default State)</a>.</td>
							</tr>
							<tr>
								<td>
									<div class="colors btn-default-active"></div>
								</td>
								<td>Gradient</td>
								<td>#9a9a9a </td>
								<td>#efefef </td>
								<td>This is the background color for the <a href="/base/buttons">Secondary Button (Active State)</a>.</td>
							</tr>
							<tr>
								<td>
									<div class="colors btn-default-hover"></div>
								</td>
								<td>Gradient</td>
								<td>#efefef </td>
								<td>#9a9a9a </td>
								<td>This is the background color for the <a href="/base/buttons">Secondary Button (Hover State)</a>.</td>
							</tr>
							<tr>
								<td class="gray">
									<div class="colors color-block-08"></div>
								</td>
								<td>Solid</td>
								<td>#EEEEEE</td>
								<td>--</td>
								<td>This is the background color for the <a href="/base/buttons">Secondary Button (Loading State)</a>.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-7 }}</h3>
				{{ model.reference-color-content-7 }}
				
				<div class="evo-table-small-mediaquery">
					<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
						<thead>
							<tr>
								<th class="col-5">Example</th>
								<th class="col-2">Style</th>
								<th class="col-2">Hex Top</th>
								<th class="col-3">Hex Bottom</th>
								<th class="col-13">Usage Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="evo-box-adv evo-user-profile evo-no-margin-bottom">
										<div class="evo-box-hdr">&nbsp;</div>
									</div>
								</td>
								<td>Solid</td>
								<td>#00a8c8</td>
								<td>--</td>
								<td>User Profile</td>
							</tr>
							<tr>
								<td>
									<div class="evo-box-adv evo-client-profile-inactive evo-no-margin-bottom">
										<div class="evo-box-hdr">&nbsp;</div>
									</div>
								</td>
								<td>Solid</td>
								<td>#999999</td>
								<td>--</td>
								<td>Inactive Client Profile</td>
							</tr>
							<tr>
								<td>
									<div class="evo-box-adv evo-client-profile-active evo-no-margin-bottom">
										<div class="evo-box-hdr">&nbsp;</div>
									</div>
								</td>
								<td>Solid</td>
								<td>#43276d</td>
								<td>--</td>
								<td>Active Client Profile</td>
							</tr>
							<tr>
								<td>
									<div class="evo-box-adv evo-client-profile-prospective evo-no-margin-bottom">
										<div class="evo-box-hdr">&nbsp;</div>
									</div>
								</td>
								<td>Solid</td>
								<td>#6f83c1</td>
								<td>--</td>
								<td>Prospective Client Profile</td>
							</tr>
							<tr>
								<td>
									<div class="evo-box-adv evo-product-profile evo-no-margin-bottom">
										<div class="evo-box-hdr">&nbsp;</div>
									</div>
								</td>
								<td>Solid</td>
								<td>#c45f24</td>
								<td>--</td>
								<td>Product Profile</td>
							</tr>
							<tr>
								<td>
									<div class="evo-box-adv evo-plan-profile evo-no-margin-bottom">
										<div class="evo-box-hdr">&nbsp;</div>
									</div>
								</td>
								<td>Solid</td>
								<td>#FAA45E</td>
								<td>--</td>
								<td>Plan Profile</td>
							</tr>
							<tr>
								<td>
									<div class="evo-box-adv evo-location-profile evo-no-margin-bottom">
										<div class="evo-box-hdr">&nbsp;</div>
									</div>
								</td>
								<td>Solid</td>
								<td>#a9bcd3</td>
								<td>--</td>
								<td>Location Profile</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<!-- EXAMPLE SECTION - COLORS TABS - ENDS -->

	</section>
<!-- EXAMPLE SECTION - ENDS -->

{% endblock %}