{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<div class="row">
		<div class="small-12 columns">
			{{ model.reference-overview }}
		</div>
	</div>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<div class="row">
		<div class="small-12 columns">

			<ul class="tabs" data-tab>
				<li class="tab-title active"><a href="#panel1">Available Palette</a></li>
				<li class="tab-title"><a href="#panel2">Specified Colors</a></li>
			</ul>
			<div class="tabs-content">
				<div class="content active" id="panel1">

					<div class="row">
						<div class="small-12 columns evo-margin-bottom">
							<div class="col-4 first">
								<h4 class="evo-align-center">Base &amp; Gray</h4>
								<div class="color-block" data-evo-background-color="black">#000000</div>
								<div class="color-block" data-evo-background-color="white">#FFFFFF</div>
								<div class="color-block" data-evo-background-color="gray-darker">#37424A</div>
								<div class="color-block" data-evo-background-color="gray-dark">#404040</div>
								<div class="color-block" data-evo-background-color="gray-mid">#808080</div>
								<div class="color-block" data-evo-background-color="gray-light">#BFBFBF</div>
							</div>

							<div class="col-4">
								<h4 class="evo-align-center">Blue-Gray</h4>
								<div class="color-block color-block-01" data-evo-background-color="blue-gray">#23334C</div>
								<div class="color-block color-block-02" data-evo-background-color="blue-gray-darkest">#395A85</div>
								<div class="color-block color-block-03" data-evo-background-color="blue-gray-darker">#396EA8</div>
								<div class="color-block color-block-04" data-evo-background-color="blue-gray-dark">#517BAA</div>
								<div class="color-block color-block-05" data-evo-background-color="blue-gray-mid-dark">#6B90B8</div>
								<div class="color-block color-block-06" data-evo-background-color="blue-gray-mid-light">#A9BCD3</div>
								<div class="color-block color-block-07" data-evo-background-color="blue-gray-light">#C3D2E5</div>
								<div class="color-block color-block-08" data-evo-background-color="blue-gray-lighter">#E9EEF5</div>
								<div class="color-block color-block-09" data-evo-background-color="blue-gray-lightest">#E8F0F7</div>
							</div>

							<div class="col-4">
								<h4 class="evo-align-center">Sapphire</h4>
								<div class="color-block" data-evo-background-color="sapphire">#002C77</div>
								<div class="color-block" data-evo-background-color="sapphire-dark">#006D9E</div>
								<div class="color-block" data-evo-background-color="sapphire-mid">#00A8C8</div>
								<div class="color-block" data-evo-background-color="sapphire-light">#A6E2EF</div>
							</div>

							<div class="col-4">
								<h4 class="evo-align-center">Iolite</h4>
								<div class="color-block" data-evo-background-color="iolite">#43286D</div>
								<div class="color-block" data-evo-background-color="iolite-dark">#595998</div>
								<div class="color-block" data-evo-background-color="iolite-mid">#6F85C2</div>
								<div class="color-block" data-evo-background-color="iolite-light">#C5CAE7</div>
							</div>

							<div class="col-4">
								<h4 class="evo-align-center">Amethyst</h4>
								<div class="color-block" data-evo-background-color="amethyst">#570054</div>
								<div class="color-block" data-evo-background-color="amethyst-dark">#932077</div>
								<div class="color-block" data-evo-background-color="amethyst-mid">#CF3D96</div>
								<div class="color-block" data-evo-background-color="amethyst-light">#E7B8D6</div>
							</div>

							<div class="col-4">
								<h4 class="evo-align-center">Ruby</h4>
								<div class="color-block" data-evo-background-color="ruby">#690031</div>
								<div class="color-block" data-evo-background-color="ruby-dark">#A9194F</div>
								<div class="color-block" data-evo-background-color="ruby-mid">#ED2C67</div>
								<div class="color-block" data-evo-background-color="ruby-light">#F7B6BB</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12 columns evo-margin-bottom">
							<div class="col-4 first">
								<h4 class="evo-align-center">Garnet</h4>
								<div class="color-block" data-evo-background-color="garnet">#820009</div>
								<div class="color-block" data-evo-background-color="garnet-dark">#BB2C2B</div>
								<div class="color-block" data-evo-background-color="garnet-mid">#EF4E45</div>
								<div class="color-block" data-evo-background-color="garnet-light">#F9BEAD</div>
							</div>

							<div class="col-4">
								<h4 class="evo-align-center">Citrine</h4>
								<div class="color-block" data-evo-background-color="citrine">#8D380A</div>
								<div class="color-block" data-evo-background-color="citrine-dark">#C55F24</div>
								<div class="color-block" data-evo-background-color="citrine-mid">#F48132</div>
								<div class="color-block" data-evo-background-color="citrine-light">#FCCFAB</div>
							</div>

							<div class="col-4">
								<h4 class="evo-align-center">Topaz</h4>
								<div class="color-block" data-evo-background-color="topaz">#905501</div>
								<div class="color-block" data-evo-background-color="topaz-dark">#C98414</div>
								<div class="color-block" data-evo-background-color="topaz-mid">#FBAE17</div>
								<div class="color-block" data-evo-background-color="topaz-light">#FFDDAC</div>
							</div>

							<div class="peridot col-4">
								<h4 class="evo-align-center">Peridot</h4>
								<div class="color-block" data-evo-background-color="peridot">#516021</div>
								<div class="color-block" data-evo-background-color="peridot-dark">#838E30</div>
								<div class="color-block" data-evo-background-color="peridot-mid">#B3BA35</div>
								<div class="color-block" data-evo-background-color="peridot-light">#D9D99F</div>
							</div>

							<div class="emerald col-4">
								<h4 class="evo-align-center">Emerald</h4>
								<div class="color-block" data-evo-background-color="emerald">#00582D</div>
								<div class="color-block" data-evo-background-color="emerald-dark">#128C3F</div>
								<div class="color-block" data-evo-background-color="emerald-mid">#72BE44</div>
								<div class="color-block" data-evo-background-color="emerald-light">#BDDDA3</div>
							</div>

							<div class="turquoise col-4">
								<h4 class="evo-align-center">Turquoise</h4>
								<div class="color-block" data-evo-background-color="turquoise">#004C50</div>
								<div class="color-block" data-evo-background-color="turquoise-dark">#008075</div>
								<div class="color-block" data-evo-background-color="turquoise-mid">#0FB694</div>
								<div class="color-block" data-evo-background-color="turquoise-light">#A7D9C8</div>
							</div>
						</div>
					</div>

				</div>
				<div class="content" id="panel2">

					<h3 class="evo-hdr-rule">{{ model.reference-color-hdr }}</h3>
					{{ model.reference-color-content }}

					<div class="evo-table-small-mediaquery">
						<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th class="col-5">Example</th>
									<th class="col-2">Style</th>
									<th class="col-2">Hex Top</th>
									<th class="col-3">Hex Bottom</th>
									<th class="col-13">Usage Details</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="blue-gray"></div>
									</td>
									<td>Solid</td>
									<td>#23334C</td>
									<td>--</td>
									<td><strong>Header Background</strong> - this is used as the background in the <a href="/base/product-header">Main Navigation</a> and is mostly viewable on the left and right sides of product header.</td>
								</tr>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="gray-light"></div>
									</td>
									<td>Solid</td>
									<td>#BFBFBF</td>
									<td>--</td>
									<td><strong>Main Navigation</strong> - This background gradient is used on the main navigation bar in the <a href="/base/product-header">Product Header</a>.</td>
								</tr>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="sapphire-dark"></div>
									</td>
									<td>Solid</td>
									<td>#006D9E</td>
									<td>--</td>
									<td><strong>Default Link</strong> - This color is used as the default link color.</td>
								</tr>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="gray-dark"></div>
									</td>
									<td>Solid</td>
									<td>#404040</td>
									<td>--</td>
									<td><strong>Page Headers</strong> - This color is used for all page headers or titles. See the <a href="/base/typography">Typography section</a> for more details.</td>
								</tr>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="gray-dark"></div>
									</td>
									<td>Solid</td>
									<td>#404040</td>
									<td>--</td>
									<td><strong>Base Font</strong> - This color is used for the base font for all applications. See the <a href="/base/typography">Typography section</a> for more details.</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-2 }}</h3>
					{{ model.reference-color-content-2 }}
					
					<div class="evo-table-small-mediaquery">
						<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th class="col-5">Example</th>
									<th class="col-2">Style</th>
									<th class="col-2">Hex Top</th>
									<th class="col-3">Hex Bottom</th>
									<th class="col-13">Usage Details</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="emerald-light"></div>
									</td>
									<td>Solid</td>
									<td>#BDDDA3</td>
									<td>--</td>
									<td><strong>Background</strong> - Commonly used as the background color on the <a href="/base/boxes/message-confirmation">Confirmation Message</a> container.</td>
								</tr>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="emerald-dark"></div>
									</td>
									<td>Solid</td>
									<td>#128C3F</td>
									<td>--</td>
									<td><strong>Border</strong> - Used as the border color in the <a href="/base/boxes/message-confirmation">Confirmation Message</a> container.</td>
								</tr>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="emerald"></div>
									</td>
									<td>Solid</td>
									<td>#00582D</td>
									<td>--</td>
									<td><strong>Text</strong> - Confirmation/Positive - used as the text color when displaying a positive number, result or confirmation.</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-3 }}</h3>
					{{ model.reference-color-content-3 }}

					<div class="evo-table-small-mediaquery">
						<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th class="col-5">Example</th>
									<th class="col-2">Style</th>
									<th class="col-2">Hex Top</th>
									<th class="col-3">Hex Bottom</th>
									<th class="col-13">Usage Details</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="garnet-light"></div>
									</td>
									<td>Solid</td>
									<td>#F9BEAD</td>
									<td>--</td>
									<td><strong>Background</strong>  - Used as the background color in the <a href="/base/boxes/message-error">Error Message</a> container or as the hover color for negative or escalated items in the <a href="/objects/primary-summary">Summary Data</a> containers.</td>
								</tr>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="garnet-dark"></div>
									</td>
									<td>Solid</td>
									<td>#BB2C2B</td>
									<td>--</td>
									<td><strong>Border</strong> - Used as the border color in the <a href="/base/boxes/message-error">Error Message</a> container.</td>
								</tr>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="garnet"></div>
									</td>
									<td>Solid</td>
									<td>#820009</td>
									<td>--</td>
									<td><strong>Text</strong> - Used as the text color when displaying an error message or a negative number or result.</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-4 }}</h3>
					{{ model.reference-color-content-4 }}
					
					<div class="evo-table-small-mediaquery">
						<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th class="col-5">Example</th>
									<th class="col-2">Style</th>
									<th class="col-2">Hex Top</th>
									<th class="col-3">Hex Bottom</th>
									<th class="col-13">Usage Details</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="topaz-light"></div>
									</td>
									<td>Solid</td>
									<td>#FFDDAC</td>
									<td>--</td>
									<td><strong>Background</strong> - Used in areas like the <a href="/base/boxes/message-attention">Attention Message</a> container, as the hover color in the <a href="/base/tables/interactive">Interactive Data Table</a> or as the background for the selected item in the <a href="/objects/mini-filter">Mini Filter</a>. </td>
								</tr>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="topaz-dark"></div>
									</td>
									<td>Solid</td>
									<td>#C98414</td>
									<td>--</td>
									<td><strong>Border</strong> - Used as the border color in the <a href="/base/boxes/message-attention">Attention Message</a> container. </td>
								</tr>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="topaz"></div>
									</td>
									<td>Solid</td>
									<td>#905501</td>
									<td>--</td>
									<td><strong>Text</strong> - Used as the text color for titles inside the <a href="/base/boxes/message-attention">Attention Message</a> container, or in other areas as the text color to display highlighted text.</td>
								</tr>	
							</tbody>
						</table>
					</div>

					<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-5 }}</h3>
					{{ model.reference-color-content-5 }}
					
					<div class="evo-table-small-mediaquery">
						<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th class="col-5">Example</th>
									<th class="col-2">Style</th>
									<th class="col-2">Hex Top</th>
									<th class="col-3">Hex Bottom</th>
									<th class="col-13">Usage Details</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="colors table-header-row"></div>
									</td>
									<td>Solid</td>
									<td>#E9EEF5</td>
									<td>--</td>
									<td><strong>Header Row</strong> - Background color for the top most row on a Interactive Data Table.</td>
								</tr>
								<tr>
									<td>
										<div class="colors table-subheader-row"></div>
									</td>
									<td>Solid</td>
									<td>#E8F0F7</td>
									<td>--</td>
									<td><strong>Subheader Row</strong> - Background color used on the optional subheader row in a Interactive Data Table.</td>
								</tr>
								<tr>
									<td>
										<div class="colors table-data-row-01"></div>
									</td>
									<td>Solid</td>
									<td>#FFFFFF</td>
									<td>--</td>
									<td><strong>Alternating Data Row 1</strong> - used on the <a href="/base/tables/interactive">Interactive Data Table</a> in conjunction with Alternating Data Row 1 to create a "zebra-stripe" effect in the main content area to allow the user to easily identify a single row of data.</td>
								</tr>
								<tr>
									<td>
										<div class="colors table-data-row-02"></div>
									</td>
									<td>Solid</td>
									<td>#F7F7F7</td>
									<td>--</td>
									<td><strong>Alternating Data Row 2</strong> - used on the <a href="/base/tables/interactive">Interactive Data Table</a> in conjunction with Alternating Data Row 1 to create a "zebra-stripe" effect in the main content area to allow the user to easily identify a single row of data.</td>
								</tr>
								<tr>
									<td>
										<div class="colors table-subtotal-row"></div>
									</td>
									<td>Solid</td>
									<td>#EEEEEE</td>
									<td>--</td>
									<td><strong>Subtotal Row</strong> - Background color for the optional summary or total row that would appear as the last row in an <a href="/base/tables/interactive">Interactive Data Table</a>.</td>
								</tr>
								<tr>
									<td>
										<div class="colors table-total-row"></div>
									</td>
									<td>Solid</td>
									<td>#E6E6E6</td>
									<td>--</td>
									<td><strong>Total Row</strong> - Background color for the optional summary or total row that would appear as the last row in an <a href="/base/tables/interactive">Interactive Data Table</a>.</td>
								</tr>
								<tr>
									<td>
										<div class="colors table-sorting-row-01"></div>
									</td>
									<td>Solid</td>
									<td>#F7F7F7</td>
									<td>--</td>
									<td><strong>Sorting (odd row)</strong> -</td>
								</tr>
								<tr>
									<td>
										<div class="colors table-sorting-row-02"></div>
									</td>
									<td>Solid</td>
									<td>#EEEEEE</td>
									<td>--</td>
									<td><strong>Sorting (even row)</strong> -</td>
								</tr>
								<tr>
									<td>
										<div class="colors table-header-border"></div>
									</td>
									<td>Solid</td>
									<td>#A9BCD3</td>
									<td>--</td>
									<td><strong>Table Header Border Color</strong> -</td>
								</tr>
								<tr>
									<td>
										<div class="colors table-row-border"></div>
									</td>
									<td>Solid</td>
									<td>#CCCCCC</td>
									<td>--</td>
									<td><strong>Table Row Border Color</strong> -</td>
								</tr>
								<tr>
									<td>
										<div class="colors table-subheader-border"></div>
									</td>
									<td>Solid</td>
									<td>#C3D2E5</td>
									<td>--</td>
									<td><strong>Table Subheader Border Color</strong> -</td>
								</tr>
							</tbody>
						</table>
					</div>

					<a name="buttonColors"></a>
					<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-6 }}</h3>
					{{ model.reference-color-content-6 }}
					
					<div class="evo-table-small-mediaquery">
						<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th class="col-5">Example</th>
									<th class="col-2">Style</th>
									<th class="col-2">Hex Top</th>
									<th class="col-3">Hex Bottom</th>
									<th class="col-13">Usage Details</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="sapphire-dark"></div>
									</td>
									<td>Solid</td>
									<td>#006D9E</td>
									<td>--</td>
									<td>This is the background color for the <a href="/base/buttons">Primary Button (Default State)</a>.</td>
								</tr>
								<tr>
									<td>
										<div class="colors" data-evo-background-color="gray-lighter"></div>
									</td>
									<td>Solid</td>
									<td>#EEEEEE</td>
									<td>--</td>
									<td>This is the background color for the <a href="/base/buttons">Secondary Button (Default State)</a>.</td>
								</tr>
							</tbody>
						</table>
					</div>

					<h3 class="evo-hdr-rule">{{ model.reference-color-hdr-7 }}</h3>
					{{ model.reference-color-content-7 }}
					
					<div class="evo-table-small-mediaquery">
						<table class="evo-table evo-table-borders evo-table-striped" cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th class="col-5">Example</th>
									<th class="col-2">Style</th>
									<th class="col-2">Hex Top</th>
									<th class="col-3">Hex Bottom</th>
									<th class="col-13">Usage Details</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="evo-box-adv evo-user-profile evo-no-margin-bottom">
											<div class="evo-box-hdr">&nbsp;</div>
										</div>
									</td>
									<td>Solid</td>
									<td>#00a8c8</td>
									<td>--</td>
									<td>User Profile</td>
								</tr>
								<tr>
									<td>
										<div class="evo-box-adv evo-client-profile-inactive evo-no-margin-bottom">
											<div class="evo-box-hdr">&nbsp;</div>
										</div>
									</td>
									<td>Solid</td>
									<td>#999999</td>
									<td>--</td>
									<td>Inactive Client Profile</td>
								</tr>
								<tr>
									<td>
										<div class="evo-box-adv evo-client-profile-active evo-no-margin-bottom">
											<div class="evo-box-hdr">&nbsp;</div>
										</div>
									</td>
									<td>Solid</td>
									<td>#43276d</td>
									<td>--</td>
									<td>Active Client Profile</td>
								</tr>
								<tr>
									<td>
										<div class="evo-box-adv evo-client-profile-prospective evo-no-margin-bottom">
											<div class="evo-box-hdr">&nbsp;</div>
										</div>
									</td>
									<td>Solid</td>
									<td>#6f83c1</td>
									<td>--</td>
									<td>Prospective Client Profile</td>
								</tr>
								<tr>
									<td>
										<div class="evo-box-adv evo-product-profile evo-no-margin-bottom">
											<div class="evo-box-hdr">&nbsp;</div>
										</div>
									</td>
									<td>Solid</td>
									<td>#c45f24</td>
									<td>--</td>
									<td>Product Profile</td>
								</tr>
								<tr>
									<td>
										<div class="evo-box-adv evo-plan-profile evo-no-margin-bottom">
											<div class="evo-box-hdr">&nbsp;</div>
										</div>
									</td>
									<td>Solid</td>
									<td>#FAA45E</td>
									<td>--</td>
									<td>Plan Profile</td>
								</tr>
								<tr>
									<td>
										<div class="evo-box-adv evo-location-profile evo-no-margin-bottom">
											<div class="evo-box-hdr">&nbsp;</div>
										</div>
									</td>
									<td>Solid</td>
									<td>#a9bcd3</td>
									<td>--</td>
									<td>Location Profile</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
			
		</div>
	</div>
{% endblock %}