{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="col-24">
		{{ model.reference-overview }}
	</section>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<section class="col-24 mul-ref-example">

	<!-- EXAMPLE SECTION - CORPORATE LOGOS - BEGINS -->

	<!-- MARSH & MCLENNAN COMPANIES LOGOS - BEGINS -->
		<div class="col-24">
			<h3 class="mul-hdr-rule">Marsh &amp; McLennan Companies</h3>
			
			<div class="mul-table-small-mediaquery">
				<table class="mul-table mul-footable mul-table-borders mul-table-striped mul-table-hover" data-filter="#mmc-logos-filter" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<caption>
						<div class="col-19 first">
							<dl class="mul-horizontal-list mul-horizontal-list-piped mul-mini-filter">
								<dt>Download:</dt>
								<dd class="mul-first-child"><a href="/assets/images/core/logos/mmc/mmc_logos_eps.zip">EPS</a></dd>
								<dd><a href="/assets/images/core/logos/mmc/mmc_logos_all.zip">All</a></dd>
							</dl>
						</div>
						<div class="col-5 mul-tbl-data-filter">
							<input id="mmc-logos-filter" type="text" placeholder="Filter" tabindex="" title="Type to filter results." />
						</div>
					</caption>
					<thead>
						<tr>
							<th class="col-9" data-sort-ignore="true" scope="col">Logo</th>
							<th class="col-6" data-sort-initial="ascending" scope="col"><a href="javascript:;">Name/Use</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Size</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Type</a></th>
							<th class="col-7" scope="col"><a href="javascript:;">Comments</a></th>
						</tr>
					</thead>
					<tbody>

						{% for item in model.mmc_logos_table_data %}
						<tr>
							<td><img {% if item.logo_background == "true" %}class="corp-logo-background-color"{% endif %} src="{{ item.logo_file_name | asset_url }}" alt="{{ item.logo_name }}" width="{{ item.logo_width }}" height="{{ item.logo_height }}" title="{{ item.logo_name }}" /></td>
							<td>{{ item.logo_name }}</td>
							<td>{{ item.logo_size }}</td>
							<td>{{ item.logo_type }}</td>
							<td>{{ item.logo_comments }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>

		</div>
	<!-- MARSH & MCLENNAN COMPANIES LOGOS - ENDS -->

	<!-- MARSH LOGOS - BEGINS -->
		<div class="col-24">
			<h3 class="mul-hdr-rule">Marsh</h3>
			
			<div class="mul-table-small-mediaquery">
				<table class="mul-table mul-footable mul-table-borders mul-table-striped mul-table-hover" data-filter="#marsh-logos-filter" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<caption>
						<div class="col-19 first">
							<dl class="mul-horizontal-list mul-horizontal-list-piped mul-mini-filter">
								<dt>Download:</dt>
								<dd class="mul-first-child"><a href="/assets/images/core/logos/marsh/marsh_logos_eps.zip">EPS</a></dd>
								<dd><a href="/assets/images/core/logos/marsh/marsh_logos_all.zip">All</a></dd>
							</dl>
						</div>
						<div class="col-5 mul-tbl-data-filter">
							<input id="marsh-logos-filter" type="text" placeholder="Filter" tabindex="" title="Type to filter results." />
						</div>
					</caption>
					<thead>
						<tr>
							<th class="col-9" data-sort-ignore="true" scope="col">Logo</th>
							<th class="col-6" data-sort-initial="ascending" scope="col"><a href="javascript:;">Name/Use</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Size</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Type</a></th>
							<th class="col-7" scope="col"><a href="javascript:;">Comments</a></th>
						</tr>
					</thead>
					<tbody>

						{% for item in model.marsh_logos_table_data %}
						<tr>
							<td><img {% if item.logo_background == "true" %}class="corp-logo-background-color"{% endif %} src="{{ item.logo_file_name | asset_url }}" alt="{{ item.logo_name }}" width="{{ item.logo_width }}" height="{{ item.logo_height }}" title="{{ item.logo_name }}" /></td>
							<td>{{ item.logo_name }}</td>
							<td>{{ item.logo_size }}</td>
							<td>{{ item.logo_type }}</td>
							<td>{{ item.logo_comments }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>

		</div>
	<!-- MARSH LOGOS - ENDS -->

	<!-- MERCER LOGOS - BEGINS -->
		<div class="col-24">
			<h3 class="mul-hdr-rule">Mercer</h3>
			
			<div class="mul-table-small-mediaquery">
				<table class="mul-table mul-footable mul-table-borders mul-table-striped mul-table-hover" data-filter="#mercer-logos-filter" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<caption>
						<div class="col-19 first">
							<dl class="mul-horizontal-list mul-horizontal-list-piped mul-mini-filter">
								<dt>Download:</dt>
								<dd class="mul-first-child"><a href="/assets/images/core/logos/mercer/mercer_logos_eps.zip">EPS</a></dd>
								<dd><a href="/assets/images/core/logos/mercer/mercer_logos_all.zip">All</a></dd>
							</dl>
						</div>
						<div class="col-5 mul-tbl-data-filter">
							<input id="mercer-logos-filter" type="text" placeholder="Filter" tabindex="" title="Type to filter results." />
						</div>
					</caption>
					<thead>
						<tr>
							<th class="col-9" data-sort-ignore="true" scope="col">Logo</th>
							<th class="col-6" data-sort-initial="ascending" scope="col"><a href="javascript:;">Name/Use</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Size</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Type</a></th>
							<th class="col-7" scope="col"><a href="javascript:;">Comments</a></th>
						</tr>
					</thead>
					<tbody>

						{% for item in model.mercer_logos_table_data %}
						<tr>
							<td><img {% if item.logo_background == "true" %}class="corp-logo-background-color"{% endif %} src="{{ item.logo_file_name | asset_url }}" alt="{{ item.logo_name }}" width="{{ item.logo_width }}" height="{{ item.logo_height }}" title="{{ item.logo_name }}" /></td>
							<td>{{ item.logo_name }}</td>
							<td>{{ item.logo_size }}</td>
							<td>{{ item.logo_type }}</td>
							<td>{{ item.logo_comments }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>

		</div>
	<!-- MERCER LOGOS - BEGINS -->

	<!-- MERCER MARSH BENEFITS LOGOS - BEGINS -->
		<div class="col-24">
			<h3 class="mul-hdr-rule">Mercer Marsh Benefits</h3>
			
			<div class="mul-table-small-mediaquery">
				<table class="mul-table mul-footable mul-table-borders mul-table-striped mul-table-hover" data-filter="#mmb-logos-filter" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<caption>
						<div class="col-19 first">
							<dl class="mul-horizontal-list mul-horizontal-list-piped mul-mini-filter">
								<dt>Download:</dt>
								<dd class="mul-first-child"><a href="/assets/images/core/logos/mmb/mmb_logos_eps.zip">EPS</a></dd>
								<dd><a href="/assets/images/core/logos/mmb/mmb_logos_all.zip">All</a></dd>
							</dl>
						</div>
						<div class="col-5 mul-tbl-data-filter">
							<input id="mmb-logos-filter" type="text" placeholder="Filter" tabindex="" title="Type to filter results." />
						</div>
					</caption>
					<thead>
						<tr>
							<th class="col-9" data-sort-ignore="true" scope="col">Logo</th>
							<th class="col-6" data-sort-initial="ascending" scope="col"><a href="javascript:;">Name/Use</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Size</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Type</a></th>
							<th class="col-7" scope="col"><a href="javascript:;">Comments</a></th>
						</tr>
					</thead>
					<tbody>

						{% for item in model.mmb_logos_table_data %}
						<tr>
							<td><img {% if item.logo_background == "true" %}class="corp-logo-background-color"{% endif %} src="{{ item.logo_file_name | asset_url }}" alt="{{ item.logo_name }}" width="{{ item.logo_width }}" height="{{ item.logo_height }}" title="{{ item.logo_name }}" /></td>
							<td>{{ item.logo_name }}</td>
							<td>{{ item.logo_size }}</td>
							<td>{{ item.logo_type }}</td>
							<td>{{ item.logo_comments }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>

		</div>
	<!-- MERCER MARSH BENEFITS LOGOS - ENDS -->

	<!-- GUY CARPENTER LOGOS - BEGINS -->
		<div class="col-24">
			<h3 class="mul-hdr-rule">Guy Carpenter</h3>
			
			<div class="mul-table-small-mediaquery">
				<table class="mul-table mul-footable mul-table-borders mul-table-striped mul-table-hover" data-filter="#gc-logos-filter" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<caption>
						<div class="col-19 first">
							<dl class="mul-horizontal-list mul-horizontal-list-piped mul-mini-filter">
								<dt>Download:</dt>
								<dd class="mul-first-child"><a href="/assets/images/core/logos/gc/gc_logos_eps.zip">EPS</a></dd>
								<dd><a href="/assets/images/core/logos/gc/gc_logos_all.zip">All</a></dd>
							</dl>
						</div>
						<div class="col-5 mul-tbl-data-filter">
							<input id="gc-logos-filter" type="text" placeholder="Filter" tabindex="" title="Type to filter results." />
						</div>
					</caption>
					<thead>
						<tr>
							<th class="col-9" data-sort-ignore="true" scope="col">Logo</th>
							<th class="col-6" data-sort-initial="ascending" scope="col"><a href="javascript:;">Name/Use</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Size</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Type</a></th>
							<th class="col-7" scope="col"><a href="javascript:;">Comments</a></th>
						</tr>
					</thead>
					<tbody>

						{% for item in model.gc_logos_table_data %}
						<tr>
							<td><img {% if item.logo_background == "true" %}class="corp-logo-background-color"{% endif %} src="{{ item.logo_file_name | asset_url }}" alt="{{ item.logo_name }}" width="{{ item.logo_width }}" height="{{ item.logo_height }}" title="{{ item.logo_name }}" /></td>
							<td>{{ item.logo_name }}</td>
							<td>{{ item.logo_size }}</td>
							<td>{{ item.logo_type }}</td>
							<td>{{ item.logo_comments }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>

		</div>
	<!-- GUY CARPENTER LOGOS - ENDS -->

	<!-- OLIVER WYMAN LOGOS - BEGINS -->
		<div class="col-24">
			<h3 class="mul-hdr-rule">Oliver Wyman</h3>
			
			<div class="mul-table-small-mediaquery">
				<table class="mul-table mul-footable mul-table-borders mul-table-striped mul-table-hover" data-filter="#ow-logos-filter" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<caption>
						<div class="col-19 first">
							<dl class="mul-horizontal-list mul-horizontal-list-piped mul-mini-filter">
								<dt>Download:</dt>
								<dd class="mul-first-child"><a href="/assets/images/core/logos/ow/ow_logos_eps.zip">EPS</a></dd>
								<dd><a href="/assets/images/core/logos/ow/ow_logos_all.zip">All</a></dd>
							</dl>
						</div>
						<div class="col-5 mul-tbl-data-filter">
							<input id="ow-logos-filter" type="text" placeholder="Filter" tabindex="" title="Type to filter results." />
						</div>
					</caption>
					<thead>
						<tr>
							<th class="col-9" data-sort-ignore="true" scope="col">Logo</th>
							<th class="col-6" data-sort-initial="ascending" scope="col"><a href="javascript:;">Name/Use</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Size</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Type</a></th>
							<th class="col-7" scope="col"><a href="javascript:;">Comments</a></th>
						</tr>
					</thead>
					<tbody>

						{% for item in model.ow_logos_table_data %}
						<tr>
							<td><img {% if item.logo_background == "true" %}class="corp-logo-background-color"{% endif %} src="{{ item.logo_file_name | asset_url }}" alt="{{ item.logo_name }}" width="{{ item.logo_width }}" height="{{ item.logo_height }}" title="{{ item.logo_name }}" /></td>
							<td>{{ item.logo_name }}</td>
							<td>{{ item.logo_size }}</td>
							<td>{{ item.logo_type }}</td>
							<td>{{ item.logo_comments }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>

		</div>
	<!-- OLIVER WYMAN LOGOS - ENDS -->

	<!-- FAVICON LOGO - BEGINS -->
		<div class="col-24">
			<h3 class="mul-hdr-rule">Favicons</h3>
			
			<div class="mul-table-small-mediaquery">
				<table class="mul-table mul-footable mul-table-borders mul-table-striped mul-table-hover" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<caption>
						<div class="col-19 first">
							<dl class="mul-horizontal-list mul-horizontal-list-piped mul-mini-filter">
								<dt>Download:</dt>
								<dd class="mul-first-child"><a href="/assets/images/core/logos/favicon/favicon.ico">ICO</a></dd>
								<dd><a href="/assets/images/core/logos/favicon/favicon.png">PNG</a></dd>
							</dl>
						</div>
						<div class="col-5 mul-tbl-data-filter">
							&nbsp;
						</div>
					</caption>
					<thead>
						<tr>
							<th class="col-9" data-sort-ignore="true" scope="col">Logo</th>
							<th class="col-6" data-sort-initial="ascending" scope="col"><a href="javascript:;">Name/Use</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Size</a></th>
							<th class="col-1" scope="col"><a href="javascript:;">Type</a></th>
							<th class="col-7" scope="col"><a href="javascript:;">Comments</a></th>
						</tr>
					</thead>
					<tbody>

						{% for item in model.favicon_logos_table_data %}
						<tr>
							<td><img {% if item.logo_background == "true" %}class="corp-logo-background-color"{% endif %} src="{{ item.logo_file_name | asset_url }}" alt="{{ item.logo_name }}" width="{{ item.logo_width }}" height="{{ item.logo_height }}" title="{{ item.logo_name }}" /></td>
							<td>{{ item.logo_name }}</td>
							<td>{{ item.logo_size }}</td>
							<td>{{ item.logo_type }}</td>
							<td>{{ item.logo_comments }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>

		</div>
	<!-- FAVICON LOGO - ENDS -->

	<!-- EXAMPLE SECTION - CORPORATE LOGOS - ENDS -->

	</section>
<!-- EXAMPLE SECTION - ENDS -->

{% endblock %}