{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

	<script>
		// Toggle large icons
		function toggleLargeIcons(on) {
			var obj = document.getElementById('icons-ctn');
			
			if (on) {
				obj.className += ' icons-large-on';
			} else {
				obj.className = obj.className.replace(' icons-large-on', '');
			}
		}
	</script>

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<div class="row">
		<div class="small-12 columns">
			{{ model.reference-overview }}	
		</div>
	</div>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<ul class="tabs evo-tabs" data-tab>
		<li class="tab-title active"><a href="#panel1">Icon Font</a></li>
		<li class="tab-title"><a href="#panel2">Icon Font Options</a></li>
		<li class="tab-title"><a href="#panel3">Photo Icons</a></li>
		<li class="tab-title"><a href="#panel4">Vector Icons</a></li>
	</ul>
	<div class="tabs-content evo-tabs-content">
	<!-- ICON FONT ICONS - BEGINS -->
		<div class="content active" id="panel1">

			<h3 class="evo-hdr-rule">Icon Font</h3>
			{{ model.reference-icon-font-content }}

			<section class="row">
				<div class="small-9 columns">
					<label for="large-switch-checkbox">
						<input id="large-switch-checkbox" type="checkbox" onclick="toggleLargeIcons(this.checked)" title="Show Large Icons" />
						Show Large Icons
					</label>
				</div>
				<div class="small-3 columns">
					<input id="icon-font-filter" type="text" placeholder="Filter" tabindex="" title="Type to filter results." />
				</div>
			</section>

			<div class="evo-table-small-mediaquery">
				<table class="evo-table evo-footable evo-table-hover" data-filter="#icon-font-filter" id="icons-ctn" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<thead>
						<tr>
							<th data-sort-initial="ascending" scope="col"><a href="javascript:;">Name</a></th>
							<th class="text-center" scope="col"><a href="javascript:;">Blue</a></th>
							<th class="text-center" scope="col"><a href="javascript:;">Gray</a></th>
							<th class="text-center" scope="col"><a href="javascript:;">Disabled</a></th>
							<th class="text-center" scope="col"><a href="javascript:;">Reverse</a></th>
							<th class="text-center" scope="col"><a href="javascript:;">Specific Use Color</a></th>
							<th scope="col"><a href="javascript:;">Class</a></th>
							<th scope="col"><a href="javascript:;">Keywords</a></th>
						</tr>
					</thead>
					<tbody>

						{% for item in model.icons %}
						<tr>
							<td>{{ item.properties.name }}</td>
							<td class="text-center">
								<i class="evo-icon-{{ item.properties.name }}"></i>
								<span class="evo-icon-hide-text">{{ item.properties.name }}</span>
							</td>
							<td class="text-center">
								<i class="evo-icon-{{ item.properties.name }} evo-icon-color-gray-dark"></i>
								<span class="evo-icon-hide-text">{{ item.properties.name }}</span>
							</td>
							<td class="text-center">
								<i class="evo-icon-{{ item.properties.name }} evo-icon-color-disabled"></i>
								<span class="evo-icon-hide-text">{{ item.properties.name }}</span>
							</td>
							<td class="text-center icon-table-cell-reverse-background">
								<i class="evo-icon-{{ item.properties.name }} evo-icon-color-white"></i>
								<span class="evo-icon-hide-text">{{ item.properties.name }}</span>
							</td>
							<td class="text-center">
								<i class="evo-icon-{{ item.properties.name }} evo-icon-color-confirmation evo-icon-position-left"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span>
								<i class="evo-icon-{{ item.properties.name }} evo-icon-color-error evo-icon-position-left"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span>
								<i class="evo-icon-{{ item.properties.name }} evo-icon-color-attention evo-icon-position-left"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span>
								<i class="evo-icon-{{ item.properties.name }} evo-icon-color-info evo-icon-position-left"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span>
							</td>
							<td>evo-icon-{{ item.properties.name }}</td>
							<td>{{ item.icon.tags | join: ', ' }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	<!-- ICON FONT ICONS - ENDS -->

	<!-- ICON FONT OPTIONS - BEGINS -->
		<div class="content" id="panel2">
			
			<h3 class="evo-hdr-rule">Icon Positioning</h3>

				<div class="row">
					<div class="small-3 columns">
						<label>
							<a class="evo-icon-search evo-icon-position-left" href="javascript:;" title="Search"></a>I am content
						</label>
					</div>
					<div class="small-3 columns">
						<label>
							More content here<i class="evo-icon-search evo-icon-position-right" title="Search"></i>
						</label>
					</div>
					<div class="small-3 columns">
						<label>
							<i class="evo-icon-search evo-icon-position-top" title="Search"></i>Some additional content
						</label>
					</div>
					<div class="small-3 columns">
						<label>
							The last content<i class="evo-icon-search evo-icon-position-bottom" title="Search"></i>
						</label>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
						<form data-abide>
							<fieldset>
								<div class="row">
									<div class="large-3 columns">
										<label for="email">
											<i class="evo-icon-envelop evo-icon-size-small evo-icon-position-left" title="Email Address"></i>Email Address:
											<input id="email" name="" value="" tabindex="" type="text" placeholder="example@email.com" title="Enter your email address." />
										</label>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>

				<h4>Rules</h4>
				<p>Remember to put the icon code in the correct content order so the icon is before or after the label text</p>
				<ul>
					<li>If you want an icon on the left, then have the icon HTML code before the label text inside the label tag</li>
					<li>If you want an icon on the right, then have the icon HTML code after the label text inside the label tag</li>
					<li>If you want an icon on the top, then have the icon HTML code before the label text inside the label tag, and add the icon top positioning class to the icon HTML code</li>
					<li>If you want an icon on the bottom, then have the icon HTML code after the label text inside the label tag, and add the icon bottom positioning class to the icon HTML code</li>
				</ul>

				<h3 class="evo-hdr-rule">Icon Sizes</h3>
				<div class="row">
					<label class="large-3 columns text-center">
						<a class="evo-icon-search evo-icon-size-small evo-icon-position-top" href="javascript:;" title="Small"></a>Small
					</label>

					<label class="large-3 columns text-center">
						<i class="evo-icon-search evo-icon-size-medium evo-icon-position-top" title="Medium"></i>Medium
					</label>

					<label class="large-3 columns text-center">
						<i class="evo-icon-search evo-icon-size-large evo-icon-position-top" title="Large"></i>Large
					</label>

					<label class="large-3 columns text-center">
						<i class="evo-icon-search evo-icon-size-x-large evo-icon-position-top" title="X-large"></i>X-large
					</label>
				</div>

				<h3 class="evo-hdr-rule">Icon Only (with accessible text)</h3>
				<div class="row">
					<label class="large-3 columns text-center">
						<a class="evo-icon-search evo-icon-size-small evo-icon-position-top" href="javascript:;" title="Small"><span class="evo-icon-hide-text">Small</span></a>
					</label>

					<label class="large-3 columns text-center">
						<i class="evo-icon-search evo-icon-size-medium evo-icon-position-top" title="Medium"><span class="evo-icon-hide-text">Medium</span></i>
					</label>

					<label class="large-3 columns text-center">
						<i class="evo-icon-search evo-icon-size-large evo-icon-position-top" title="Large"><span class="evo-icon-hide-text">Large</span></i>
					</label>

					<label class="large-3 columns text-center">
						<i class="evo-icon-search evo-icon-size-x-large evo-icon-position-top" title="X-large"><span class="evo-icon-hide-text">X-large</span></i>
					</label>
				</div>

				<h3 class="evo-hdr-rule">Icon Styles</h3>
				<h4>Text Shadow</h4>
				<div class="row">
					<label class="large-3 columns text-center">
						<a class="evo-icon-search evo-icon-size-small evo-icon-style-shadow evo-icon-position-top" href="javascript:;" title="Small"></a>Small
					</label>

					<label class="large-3 columns text-center">
						<i class="evo-icon-search evo-icon-size-medium evo-icon-style-shadow evo-icon-position-top" title="Medium"></i>Medium
					</label>

					<label class="large-3 columns text-center">
						<i class="evo-icon-search evo-icon-size-large evo-icon-style-shadow evo-icon-position-top" title="Large"></i>Large
					</label>

					<label class="large-3 columns text-center">
						<i class="evo-icon-search evo-icon-size-x-large evo-icon-style-shadow evo-icon-position-top" title="X-large"></i>X-large
					</label>
				</div>

				<h4>Background Gradient</h4>
				<p>Webkit only (Safari, Chrome) with fallback font color for other browsers.</p>
				<div class="row">
					<label class="large-2 columns text-center">
						<a class="evo-icon-checkmark-circle evo-icon-size-medium evo-icon-style-gradient-confirmation evo-icon-position-top" href="javascript:;" title="Positive Icon"></a>Positive Icon
					</label>

					<label class="large-2 columns text-center">
						<i class="evo-icon-notification evo-icon-size-medium evo-icon-style-gradient-error evo-icon-position-top" title="Negative Icon"></i>Negative Icon
					</label>

					<label class="large-2 columns text-center">
						<i class="evo-icon-warning evo-icon-size-medium evo-icon-style-gradient-attention evo-icon-position-top" title="Warning Icon"></i>Warning Icon
					</label>

					<label class="large-2 columns text-center">
						<i class="evo-icon-question evo-icon-size-medium evo-icon-style-gradient-info evo-icon-position-top" title="Info Icon"></i>Info Icon
					</label>

					<label class="large-2 columns text-center">
						<i class="evo-icon-menu3 evo-icon-size-medium evo-icon-style-gradient evo-icon-position-top" title="Blue Icon"></i>Blue Icon
					</label>

					<label class="large-2 columns text-center">
						<i class="evo-icon-menu3 evo-icon-size-medium evo-icon-style-gradient-gray-dark evo-icon-position-top" title="Gray Icon"></i>Gray Icon
					</label>
				</div>

				<br />

				<h3 class="evo-hdr-rule">Icon Colors</h3>
				<div class="row evo-margin-bottom">
					<label class="large-2 columns">
						<a class="evo-icon-checkmark-circle evo-icon-size-small evo-icon-color-confirmation evo-icon-position-left" href="javascript:;" title="Positive Icon"></a>Positive Icon
					</label>

					<label class="large-2 columns">
						<i class="evo-icon-notification evo-icon-size-small evo-icon-color-error evo-icon-position-left" title="Negative Icon"></i>Negative Icon
					</label>

					<label class="large-2 columns">
						<i class="evo-icon-warning evo-icon-size-small evo-icon-color-attention evo-icon-position-left" title="Warning Icon"></i>Warning Icon
					</label>

					<label class="large-2 columns">
						<i class="evo-icon-question evo-icon-size-small evo-icon-color-info evo-icon-position-left" title="Info Icon"></i>Info Icon
					</label>

					<label class="large-2 columns">
						<i class="evo-icon-menu3 evo-icon-size-small evo-icon-position-left" title="Blue Icon"></i>Blue Icon
					</label>

					<label class="large-2 columns">
						<i class="evo-icon-menu3 evo-icon-size-small evo-icon-color-gray-dark evo-icon-position-left" title="Gray Icon"></i>Gray Icon
					</label>
				</div>

				<h3 class="evo-hdr-rule">Icons As Links</h3>
				<div class="row evo-margin-bottom">
					<label class="large-2 columns">
						<a class="evo-icon-checkmark-circle evo-icon-size-small evo-icon-color-confirmation evo-icon-position-left" href="javascript:;" title="Positive Icon"></a>Positive Icon
					</label>

					<label class="large-2 columns">
						<a class="evo-icon-notification evo-icon-size-small evo-icon-color-error evo-icon-position-left" href="javascript:;" title="Negative Icon"></a>Negative Icon
					</label>

					<label class="large-2 columns">
						<a class="evo-icon-warning evo-icon-size-small evo-icon-color-attention evo-icon-position-left" href="javascript:;" title="Warning Icon"></a>Warning Icon
					</label>

					<label class="large-2 columns">
						<a class="evo-icon-question evo-icon-size-small evo-icon-color-info evo-icon-position-left" href="javascript:;" title="Info Icon"></a>Info Icon
					</label>

					<label class="large-2 columns">
						<a class="evo-icon-menu3 evo-icon-size-small evo-icon-position-left" href="javascript:;" title="Blue Icon"></a>Blue Icon
					</label>

					<label class="large-2 columns">
						<a class="evo-icon-menu3 evo-icon-size-small evo-icon-color-gray-dark evo-icon-position-left" href="javascript:;" title="Gray Icon"></a>Gray Icon
					</label>
				</div>
				<div class="row evo-margin-bottom">
					<label class="large-2 columns">
						<a class="evo-icon-checkmark-circle evo-icon-size-small evo-icon-style-gradient-confirmation evo-icon-position-left" href="javascript:;" title="Positive Icon"></a>Positive Icon
					</label>

					<label class="large-2 columns">
						<a class="evo-icon-notification evo-icon-size-small evo-icon-style-gradient-error evo-icon-position-left" href="javascript:;" title="Negative Icon"></a>Negative Icon
					</label>

					<label class="large-2 columns">
						<a class="evo-icon-warning evo-icon-size-small evo-icon-style-gradient-attention evo-icon-position-left" href="javascript:;" title="Warning Icon"></a>Warning Icon
					</label>

					<label class="large-2 columns">
						<a class="evo-icon-question evo-icon-size-small evo-icon-style-gradient-info evo-icon-position-left" href="javascript:;" title="Info Icon"></a>Info Icon
					</label>

					<label class="large-2 columns">
						<a class="evo-icon-menu3 evo-icon-size-small evo-icon-style-gradient evo-icon-position-left" href="javascript:;" title="Blue Icon"></a>Blue Icon
					</label>

					<label class="large-2 columns">
						<a class="evo-icon-menu3 evo-icon-size-small evo-icon-style-gradient-gray-dark evo-icon-position-left" href="javascript:;" title="Gray Icon"></a>Gray Icon
					</label>
				</div>

				<h3 class="evo-hdr-rule">Advanced Icons On Circle Shields</h3>
				<h4>Small</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-small evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>Small Medium</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-small-medium evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small-medium evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small-medium evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>Medium</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-medium evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-medium evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-medium evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>Large</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-large evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-large evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-large evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>X-large</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-x-large evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-x-large evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-x-large evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>Small</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-small evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>Small Medium</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-small-medium evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small-medium evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small-medium evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>Medium</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-medium evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-medium evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-medium evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>Large</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-large evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-large evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-large evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>X-large</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-x-large evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-x-large evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-x-large evo-icon-adv-color-gray-dark evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>Small</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-small evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>Small Medium</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-small-medium evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small-medium evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-small-medium evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>Medium</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-medium evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-medium evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-medium evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>Large</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-large evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-large evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-large evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>

				<h4>X-large</h4>
				<div class="row evo-margin-bottom">
					<div class="large-12">
						<a class="evo-icon-adv evo-icon-adv-size-x-large evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Contact Us"><i class="evo-icon-phone2"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-x-large evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Browse"><i class="evo-icon-mouse"></i></a>
						<a class="evo-icon-adv evo-icon-adv-size-x-large evo-icon-adv-color-disabled evo-icon-position-left" href="javascript:;" title="Chat With Us"><i class="evo-icon-bubble"></i></a>
					</div>
				</div>
		</div>
	<!-- ICON FONT OPTIONS - ENDS -->

	<!-- CUSTOM PHOTO ICONS - BEGINS -->
		<div class="content" id="panel3">

			<section class="evo-spacer-margin-bottom-xxx-large">
				<div class="right">
					<i class="evo-icon-folder-download"></i>
					<a href="/assets/images/photo-icons/career/career-photo-icons.zip">Download</a>
				</div>
				<h3 class="evo-hdr-rule">Career Icons</h3>
				<ul class="slarge-block-grid-9">
				{% for item in model.photo-icons-career %}
					<li><img src="/assets/images/photo-icons/career/{{ item.img-name }}" alt="" width="80" height="80" title="Client" /></li>
				{% endfor %}
				</ul>
			</section>

			<section class="evo-spacer-margin-bottom-xxx-large">
				<div class="right">
					<i class="evo-icon-folder-download"></i>
					<a href="/assets/images/photo-icons/career/health-photo-icons.zip">Download</a>
				</div>
				<h3 class="evo-hdr-rule">Health Icons</h3>
				<ul class="slarge-block-grid-9">
				{% for item in model.photo-icons-health %}
					<li><img src="/assets/images/photo-icons/health/{{ item.img-name }}" alt="" width="80" height="80" title="Client" /></li>
				{% endfor %}
				</ul>
			</section>

			<section>
				<div class="right">
					<i class="evo-icon-folder-download"></i>
					<a href="/assets/images/photo-icons/career/wealth-photo-icons.zip">Download</a>
				</div>
				<h3 class="evo-hdr-rule">Wealth Icons</h3>
				<ul class="slarge-block-grid-9">
				{% for item in model.photo-icons-wealth %}
					<li><img src="/assets/images/photo-icons/wealth/{{ item.img-name }}" alt="" width="80" height="80" title="Client" /></li>
				{% endfor %}
				</ul>
			</section>
		</div>
	<!-- CUSTOM PHOTO ICONS - ENDS -->

	<!-- VECTOR ICONS - BEGINS -->
		<div class="content" id="panel4">

			<section class="evo-spacer-margin-bottom-xxx-large">
				<h3 class="evo-hdr-rule">Career Icons</h3>
				<ul class="slarge-block-grid-9">
				{% for item in model.vector-icons-career %}
					<li><img src="/assets/images/vector-icons/career/{{ item.img-name }}" alt="" width="80" height="80" title="" /></li>
				{% endfor %}
				</ul>
			</section>

			<section class="evo-spacer-margin-bottom-xxx-large">
				<h3 class="evo-hdr-rule">Health Icons</h3>
				<ul class="slarge-block-grid-9">
				{% for item in model.vector-icons-health %}
					<li><img src="/assets/images/vector-icons/health/{{ item.img-name }}" alt="" width="80" height="80" title="" /></li>
				{% endfor %}
				</ul>
			</section>

			<section class="evo-spacer-margin-bottom-xxx-large">
				<h3 class="evo-hdr-rule">Wealth Icons</h3>
				<ul class="slarge-block-grid-9">
				{% for item in model.vector-icons-wealth %}
					<li><img src="/assets/images/vector-icons/wealth/{{ item.img-name }}" alt="" width="80" height="80" title="" /></li>
				{% endfor %}
				</ul>
			</section>

		</div>
	<!-- VECTOR ICONS - ENDS -->
	</div>
{% endblock %}