{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="col-24">
		{{ model.reference-overview }}
	</section>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<section class="col-24 evo-ref-example">

		<!-- EXAMPLE SECTION - ICON FONT - BEGINS -->
		<script>

			// Toggle large icons
			function toggleLargeIcons(on) {
				var obj = document.getElementById('icons-ctn');
				
				if (on) {
					obj.className += ' icons-large-on';
				} else {
					obj.className = obj.className.replace(' icons-large-on', '');
				}
			}
			
		</script>

		<div class="evo-table-small-mediaquery">
			<table class="evo-table evo-footable evo-table-borders evo-table-striped evo-table-hover" data-filter="#icon-font-filter" id="icons-ctn" border="0" cellpadding="0" cellspacing="0" title="" summary="">
				<caption>
					<div class="col-19 first">
						<form class="evo-form evo-form-inline evo-no-margin-bottom" id="" name="" method="" action="" title="">
							<fieldset>
								<ol>
									<li class="evo-no-margin-bottom">
										<div class="evo-checkbox evo-no-margin-bottom">
											<label class="evo-no-margin-bottom" for="large-switch-checkbox">
												<input id="large-switch-checkbox" type="checkbox" onclick="toggleLargeIcons(this.checked)" title="Show Large Icons" /> Show Large Icons
											</label>
										</div>
									</li>
								</ol>
							</fieldset>
						</form>
					</div>
					<div class="col-5 evo-tbl-data-filter">
						<input id="icon-font-filter" type="text" placeholder="Filter" tabindex="" title="Type to filter results." />
					</div>
				</caption>
				<thead>
					<tr>
						<th class="col-4" data-sort-initial="true" scope="col"><a href="javascript:;">Name</a></th>
						<th class="col-2 evo-align-center" scope="col"><a href="javascript:;">Blue</a></th>
						<th class="col-2 evo-align-center" scope="col"><a href="javascript:;">Gray</a></th>
						<th class="col-2 evo-align-center" scope="col"><a href="javascript:;">Disabled</a></th>
						<th class="col-2 evo-align-center" scope="col"><a href="javascript:;">Reverse</a></th>
						<th class="col-4 evo-align-center" scope="col"><a href="javascript:;">Specific Use Color</a></th>
						<th class="col-8" scope="col"><a href="javascript:;">Keywords</a></th>
					</tr>
				</thead>
				<tbody>

					{% for item in model.icons %}
					<tr>
						<td>{{ item.properties.name }}</td>
						<td class="evo-align-center"><i class="evo-icon-site-{{ item.properties.name }}"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span></td>
						<td class="evo-align-center"><i class="evo-icon-site-{{ item.properties.name }} evo-icon-color-gray-darker"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span></td>
						<td class="evo-align-center"><i class="evo-icon-site-{{ item.properties.name }} evo-icon-color-disabled"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span></td>
						<td class="evo-align-center icon-table-cell-reverse-background"><i class="evo-icon-site-{{ item.properties.name }} evo-icon-color-white"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span></td>
						<td class="evo-align-center">
							<i class="evo-icon-site-{{ item.properties.name }} evo-icon-color-confirmation evo-icon-position-left"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span>
							<i class="evo-icon-site-{{ item.properties.name }} evo-icon-color-error evo-icon-position-left"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span>
							<i class="evo-icon-site-{{ item.properties.name }} evo-icon-color-attention evo-icon-position-left"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span>
							<i class="evo-icon-site-{{ item.properties.name }} evo-icon-color-info evo-icon-position-left"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span>
						</td>
						<td>{{ item.icon.tags | join: ', ' }}</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
		<!-- EXAMPLE SECTION - ICON FONT - ENDS -->

	</section>
<!-- EXAMPLE SECTION - ENDS -->

{% endblock %}