{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="evo-intro-text"></p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="evo-hdr-dbl-rule">
		Example
		<a href="javascript:;" class="evo-icon-size-small evo-icon-evo-arrow-circle-down evo-icon-color-gray-darker evo-icon-position-right evo-float-right related-items-menu"></a>
	</h3>

<!-- EMPLOYEE PORTAL HOMEPAGE LAYOUT - BEGINS -->
	<div class="col-24 example-min-height">

		<div class="col-6 first">
			<a class="evo-btn evo-btn-medium evo-btn-primary evo-btn-first" href="/demos/layout-employee-portal-homepage-demo" target="_blank">View Layout</a>
		</div>
		<div class="col-18">
			<!--
			<a href="/demos/layout-employee-portal-homepage-demo" target="_blank" title="View Employee Portal Homepage">
				<img src="{{ "ee_homepage-screenshot.jpg" | asset_url }}" alt="{{ model.title }}" title="{{ model.title }}" width="1015" height="1228" />
			</a>
			-->
		</div>

	</div>
<!-- EMPLOYEE PORTAL HOMEPAGE LAYOUT - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<div class="col-24">
		<a name="moreDetails"></a>
		<h4 class="evo-hdr-dbl-rule addtional-detail-hdr">Additional Details</h4>

		<div class="js-evo-tabs-example evo-tabs">
			<ul>
				<li><a href="#tabs-1">Usage</a></li>
				<li><a href="#tabs-2">Details</a></li>
				<li><a href="#tabs-4">Mobile</a></li>
				<li><a href="#tabs-3">Technical</a></li>
			</ul>
			<div id="tabs-1">
				<p>When to use details go here&hellip;</p>
			</div>
			<div id="tabs-2">
				<p>Functional details go here&hellip;</p>
			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>Examples go here&hellip;</p>
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}