{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="col-24">
		{{ model.reference-overview }}
	</section>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<section class="col-24 evo-ref-example">

	<!-- EXAMPLE SECTION - TYPOGRAPHY TABLE - BEGINS -->
		<div class="evo-table-small-mediaquery">
			<table class="evo-table evo-footable evo-table-borders evo-table-striped evo-table-hover evo-ref-type-table" data-filter="#typography-table-filter" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
				<caption>
					<div class="col-19 first">
						&nbsp;
					</div>
					<div class="col-5 evo-tbl-data-filter">
						<input id="typography-table-filter" type="text" tabindex="" title="Type to filter results." placeholder="Filter" />
					</div>
				</caption>
				<thead>
					<tr>
						<th class="col-5" scope="col"><a href="javascript:;">Example</a></th>
						<th class="col-1" scope="col"><a href="javascript:;">Name</a></th>
						<th class="col-4" scope="col"><a href="javascript:;">Usage</a></th>
						<th class="col-4" scope="col"><a href="javascript:;">Font</a></th>
						<th class="col-2" scope="col"><a href="javascript:;">Desktop Size</a></th>
						<th class="col-2" scope="col"><a href="javascript:;">Mobile Size</a></th>
						<th class="col-2" scope="col"><a href="javascript:;">Weight</a></th>
						<th class="col-2" scope="col"><a href="javascript:;">Decoration</a></th>
						<th class="col-2" scope="col"><a href="javascript:;">Color</a></th>
					</tr>
				</thead>
				<tbody>

					{% for item in model.reference-typography-data %}
					<tr>
						<td>{{ item.example }}</td>
						<td>{{ item.name }}</td>
						<td>{{ item.usage }}</td>
						<td>{{ item.font }}</td>
						<td>{{ item.desktop_size }}</td>
						<td>{{ item.mobile_size }}</td>
						<td>{{ item.weight }}</td>
						<td>{{ item.decoration }}</td>
						<td>{{ item.color }}</td>
					</tr>
					{% endfor %}

					{% for item in model.reference-typography-base-data %}
					<tr>
						<td class="evo-ref-type-example">{{ item.example }}</td>
						<td>{{ item.name }}</td>
						<td>{{ item.usage }}</td>
						<td>{{ item.font }}</td>
						<td>{{ item.desktop_size }}</td>
						<td>{{ item.mobile_size }}</td>
						<td>{{ item.weight }}</td>
						<td>{{ item.decoration }}</td>
						<td>{{ item.color }}</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	<!-- EXAMPLE SECTION - TYPOGRAPHY TABLE - ENDS -->

		<div class="col-24">
			<div class="col-12 first">

			<!-- EXAMPLE SECTION - CONTEXT - BEGINS -->
				<h3 class="evo-hdr-rule">Context example</h3>

				<h1>Title &ndash; h1</h1>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<h2>Subtitle &ndash; h2</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<h3>Subtitle &ndash; h3</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<h4>Subtitle &ndash; h4</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<h5>Subtitle &ndash; h5</h5>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<h6>Subtitle &ndash; h6</h6>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<ol>
					<li><span>Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
					<li><span>Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing.</span></li>
					<li><span>Ordered list item three</span></li>
				</ol>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<ul>
					<li><span>Unordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
					<li><span>Unordered list item two</span></li>
					<li><span>Unordered list item three. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<blockquote>
					<p>&ldquo;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.&rdquo;</p>
					<cite>John Doe, Expert</cite>
				</blockquote>
			<!-- EXAMPLE SECTION - CONTEXT - ENDS -->

			<!-- EXAMPLE SECTION - ORDERED LISTS - BEGINS -->
				<h3 class="evo-hdr-rule">Ordered lists</h3>

				<ol>
					<li><span>Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
					<li><span>Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item two. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing.</span></li>
					<li><span>Ordered list item three</span>
						<ol>
							<li><span>Ordered list level 2</span></li>
							<li><span>Ordered list level 2</span></li>
							<li><span>Ordered list level 2</span></li>
						</ol>
					</li>
				</ol>
			<!-- EXAMPLE SECTION - ORDERED LISTS - ENDS -->

			<!-- EXAMPLE SECTION - UNORDERED LISTS - BEGINS -->
				<h3 class="evo-hdr-rule">Unordered lists</h3>

				<ul>
					<li><span>Unordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></li>
					<li><span>Unordered list item two</span></li>
					<li><span>Unordered list item three. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
						<ul>
							<li><span>Unordered list level 2</span></li>
							<li><span>Unordered list level 2</span></li>
							<li><span>Unordered list level 2</span></li>
						</ul>
					</li>
				</ul>
			<!-- EXAMPLE SECTION - UNORDERED LISTS - ENDS -->
		
			<!-- EXAMPLE SECTION - UNORDERED LISTS - OPTIONS - BEGINS -->
				<h3 class="evo-hdr-rule">Unordered lists - different list style types</h3>

				<ul class="evo-lower-alpha">
					<li><span>Unordered list item one</span></li>
					<li><span>Unordered list item two</span></li>
					<li><span>Unordered list item three</span>
						<ul class="evo-upper-alpha">
							<li><span>Unordered list level 2</span></li>
							<li><span>Unordered list level 2</span></li>
							<li><span>Unordered list level 2</span></li>
						</ul>
						<ul class="evo-lower-roman">
							<li><span>Unordered list level 2</span></li>
							<li><span>Unordered list level 2</span></li>
							<li><span>Unordered list level 2</span></li>
						</ul>
						<ul class="evo-upper-roman">
							<li><span>Unordered list level 2</span></li>
							<li><span>Unordered list level 2</span></li>
							<li><span>Unordered list level 2</span></li>
						</ul>
						<ul class="evo-list-style-none">
							<li><span>Unordered list level 2</span></li>
							<li><span>Unordered list level 2</span></li>
							<li><span>Unordered list level 2</span></li>
						</ul>
					</li>
				</ul>
			<!-- EXAMPLE SECTION - UNORDERED LISTS - OPTIONS - ENDS -->
		
			<!-- EXAMPLE SECTION - DEFINITION LISTS - BEGINS -->
				<h3 class="evo-hdr-rule">Definition lists</h3>

				<dl>
					<dt>Definition Term</dt>
					<dd>Definition description. Lorem ipsum dolor sit amet, consectetur.</dd>
					<dt>Definition Term</dt>
					<dd>Definition description Lorem ipsum dolor sit amet, consectetur.</dd>
					<dt>Definition Term</dt>
					<dd>Definition description Lorem ipsum dolor sit amet, consectetur.</dd>
				</dl>
			<!-- EXAMPLE SECTION - DEFINITION LISTS - ENDS -->

			</div>
			<div class="col-12">

			<!-- EXAMPLE SECTION - HEADERS WITH BACKGROUND COLORS - BEGINS -->
				<h3 class="evo-hdr-rule">Headers with background colors</h3>

				<h1 class="evo-h1-hdr-background">h1 - Header</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<h2 class="evo-h2-hdr-background">h2 - Header</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<h3 class="evo-h3-hdr-background">h3 - Header</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<h4 class="evo-h4-hdr-background">h4 - Header</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<!-- EXAMPLE SECTION - HEADERS WITH BACKGROUND COLORS - ENDS -->

			<!-- EXAMPLE SECTION - HEADERS WITH RULES - BEGINS -->
				<h3 class="evo-hdr-rule">Headers with rules</h3>

				<h1 class="evo-hdr-rule">h1 - Header</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<h2 class="evo-hdr-rule">h2 - Header</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<h3 class="evo-hdr-rule">h3 - Header</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<h4 class="evo-hdr-rule">h4 - Header</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<!-- EXAMPLE SECTION - HEADERS WITH RULES - ENDS -->

			<!-- EXAMPLE SECTION - HEADERS WITH DOUBLE RULES - BEGINS -->
				<h3 class="evo-hdr-rule">Headers with double rules</h3>

				<h1 class="evo-hdr-dbl-rule">h1 - Header</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<h2 class="evo-hdr-dbl-rule">h2 - Header</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<h3 class="evo-hdr-dbl-rule">h3 - Header</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<h4 class="evo-hdr-dbl-rule">h4 - Header</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ordered list item one. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<!-- EXAMPLE SECTION - HEADERS WITH DOUBLE RULES - ENDS -->

			<!-- EXAMPLE SECTION - BLOCKQUOTES - BEGINS -->
				<h3 class="evo-hdr-rule">Blockquotes</h3>

				<blockquote>
					<p>&ldquo;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.&rdquo;</p>
					<cite>John Doe, Expert</cite>
				</blockquote>
			<!-- EXAMPLE SECTION - BLOCKQUOTES - ENDS -->

			<!-- EXAMPLE SECTION - FOOTNOTES - BEGINS -->
				<h3 class="evo-hdr-rule">Footnotes</h3>

				<p><small class="evo-footnote">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</small></p>
			<!-- EXAMPLE SECTION - FOOTNOTES - ENDS -->

			<!-- EXAMPLE SECTION - HORIZONTAL RULES - BEGINS -->
				<h3 class="evo-hdr-rule">Horizonal rules</h3>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<hr />
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			<!-- EXAMPLE SECTION - HORIZONTAL RULES - ENDS -->

			<!-- EXAMPLE SECTION - TEXT OVERFLOW - BEGINS -->
				<h3 class="evo-hdr-rule">Text overflow</h3>

				<p class="evo-text-overflow">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
				</p>
			<!-- EXAMPLE SECTION - TEXT OVERFLOW - ENDS -->

			<!-- EXAMPLE SECTION - HYPHENS - BEGINS -->
				<h3 class="evo-hdr-rule">Hyphens</h3>

				<p class="evo-ref-hyphen-demo">Lorem ipsum dolor sit amet, cons­ectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer­citation ullamco laboris nisi ut aliquip ex ea com­modo consequat. Duis aute irure dolor in repre­henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui of­ficia deserunt mollit anim id est lab­orum.</p>
			<!-- EXAMPLE SECTION - HYPHENS - ENDS -->

			<!-- EXAMPLE SECTION - OTHER MARKUP CODE - BEGINS -->
				<h3 class="evo-hdr-rule">Other markup code</h3>

				<p>
					<a href="#" title="link">&lt;a&gt; anchor link</a>
					<br /> <abbr title="title">&lt;abbr&gt; abbreviation</abbr>
					<br /> <em>&lt;em&gt; emphasis stress or italic</em>
					<br /> <strong>&lt;strong&gt; strong importance or bold</strong>
					<br />			
					<small>&lt;small&gt; small print, footnotes, or form helper text</small>
				</p>
			<!-- EXAMPLE SECTION - OTHER MARKUP CODE - ENDS -->

			<!-- EXAMPLE SECTION - WESTERN LATIN CHARACTERS - BEGINS -->
				<h3 class="evo-hdr-rule">Western Latin Characters</h3>

				<p>This is a demo of Western Latin characters to show off the compatibility of the Evolution web font (Proxima Nova) with the type of characters used in common Western European languages such as Spanish, Portuguese, French, German, etc.</p>

				<div class="evo-table-small-mediaquery">
					<table class="evo-table evo-footable evo-table-borders evo-table-striped evo-table-hover type-table" data-filter="#western-latin-characters-filter" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
						<caption>
							<div class="col-14 first">
								&nbsp;
							</div>
							<div class="col-10 evo-tbl-data-filter">
								<input id="western-latin-characters-filter" type="text" tabindex="" title="Type to filter results." placeholder="Filter" />
							</div>
						</caption>
						<thead>
							<tr>
								<th class="col-12" scope="col" data-sort-initial="true"><a href="javascript:;">Name</a></th>
								<th class="col-12" scope="col" data-sort-ignore="true">Glyph</th>
							</tr>
						</thead>
						<tbody>

							{% for item in model.reference-western-latin-characters-data %}
							<tr>
								<td>{{ item.character_name }}</td>
								<td class="type-example">{{ item.character_name_code }}</td>
							</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			<!-- EXAMPLE SECTION - WESTERN LATIN CHARACTERS - ENDS -->

			</div>
		</div>

	</section>
<!-- EXAMPLE SECTION - ENDS -->

{% endblock %}