---
title: "Buttons"
---

<section class="row">
	<div class="small-12 columns evo-spacer-padding-top-medium">

{{# markdown }}
# {{ title }}
Buttons act as the focal point for user interaction as it relates to saving data or completing an action. Evolution Core 
buttons depend on Foundation's [Buttons](http://foundation.zurb.com/docs/components/buttons.html) and 
[Button Groups](http://foundation.zurb.com/docs/components/button_groups.html) as a starting point.
***
{{/ markdown }}

		{{> button href="#jumpToMenu" expand="true" text="Jump To Nav" custom-class="show-for-small-only tiny"}}

		<section class="row">
			<div class="medium-12 large-9 columns evo-keyline-right">
			<!-- EXAMPLE BOX - BEGINS -->
				{{#each button.data }}
				<div class="panel evo-box evo-site-example-box">
					<div class="evo-box-hdr">
					<!-- EXAMPLE HEADER - BEGINS -->
						<h6 class="evo-hdr-rule" data-magellan-destination="{{hyphenate name}}">
							{{name}}
							<a href="javascript:;" class="evo-icon-site-embed2 evo-icon-position-right evo-spacer-margin-left-small has-tip tip-bottom radius evo-tooltip right" title="View Source" aria-label="" data-evo-toggle-element="code-toggle{{@index}}" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
						</h6>
						<a name="{{hyphenate name}}"></a>
					<!-- EXAMPLE HEADER - ENDS -->
					</div>
					<div class="evo-box-bdy">
					<!-- RENDERED HTML - BEGINS -->
						{{#is multiple_example 'true'}}
							{{#each multiple_example_options}}
								{{> (lookup . 'partial') }}
							{{/each}}
						{{else}}
							{{> (lookup . 'partial') }}
						{{/is}}
					<!-- RENDERED HTML - ENDS -->
					</div>
					<div class="evo-box-ftr hide" data-evo-toggle-element-item="code-toggle{{@index}}">
					<!-- HTML CODE - BEGINS -->
						{{#is multiple_example 'true'}}
							{{#each multiple_example_options}}
							<div class="evo-site-example-box--code-hdr">
								{{slug}}
								<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-{{slug}}" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right radius evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
							</div>
							<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-{{slug}}"><xmp>{{> (lookup . 'partial') }}</xmp></code></pre>
							{{/each}}
						{{else}}
							<div class="evo-site-example-box--code-hdr">
								{{slug}}
								<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-{{slug}}" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right radius evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
							</div>
							<pre><code class="language-markup" id="evo-code-copy-{{slug}}"><xmp>{{> (lookup . 'partial') }}</xmp></code></pre>
						{{/is}}
					<!-- HTML CODE - ENDS -->
					</div>
				</div>
				{{/each}}
			<!-- EXAMPLE BOX - ENDS -->
			</div>
			<div class="large-3 columns show-for-large-up">
			<!-- MAGELLAN NAV - BEGINS -->
				<div class="evo-magellan" data-magellan-expedition="fixed">
					<dl class="sub-nav">
						{{#each button.data}}
						<dd data-magellan-arrival="{{hyphenate name}}"><a href="#{{hyphenate name}}">{{name}}</a></dd>
						{{/each}}
					</dl>

					{{#is button.dependency_data.dependency 'true'}}
					<hr>

				<!-- DEPENDENCIES - BEGINS -->
					<div class="evo-site-pattern-dependencies">
						<h6 data-evo-toggle-element="dependencies_toggle1">
							{{reference.sidenav.dependencies_header}}
							<a href="javascript:;" title="" class="evo-icon-site-plus-circle right evo-icon-site-minus-circle"></a>
						</h6>

						<ul class="no-bullet" data-evo-toggle-element-item="dependencies_toggle1">
							{{#is button.dependency_data.foundation 'true'}}
								<li><a href="" target="_blank">Foundation {{package.foundation_version}}</a>
									<ul>
									{{#each button.dependency_data.foundation_dependencies}}
										<li><a href="{{url}}" target="_blank">{{name}}</a></li>
									{{/each}}
									</ul>
								</li>
							{{/is}}
							{{#is button.dependency_data.evolution 'true'}}
								<li><a href="/">Evolution {{package.evolution.version}}</a>
									<ul>
									{{#each button.dependency_data.evolution_dependencies}}
										<li><a href="{{url}}">{{name}}</a></li>
									{{/each}}
									</ul>
								</li>
							{{/is}}
							{{#is button.dependency_data.jquery 'true'}}<li><a href="" target="_blank">jQuery {{package.jquery_version}}</a></li>{{/is}}
							{{#is button.dependency_data.jquery_ui 'true'}}<li><a href="" target="_blank">jQuery UI {{package.jquery_ui_version}}</a></li>{{/is}}
							{{#each button.dependency_data.other}}
								<li><a href="{{url}}" {{#is external_link 'true'}}target="_blank"{{/is}}>{{name}}</a></li>
							{{/each}}
						</ul>
					</div>
				<!-- DEPENDENCIES - ENDS -->
					{{/is}}

				</div>
			<!-- MAGELLAN NAV - ENDS -->
			</div>
		</section>
		
	</div>
</section>