---
title: "Color Palette"
---

<!-- INTRO SECTION - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-medium evo-site--pattern-library-intro">

{{# markdown }}
## {{ title }}
The Mercer color palette is designed to support a range of visual styles. These styles are all connected within a hierarchy that best defines the Mercer brand. These color palettes have been carefully crafted and are not meant to be customized further.
{{/ markdown }}

		{{> button href="#jumpToMenu" expand="true" text="Jump To Nav" custom-class="show-for-small-only tiny"}}

		<!-- TABS - BEGINS -->
			<ul class="button-group radius {{pattern-library.tab-spacing}} stack-for-small evo-site-tabs--pattern-library-tabs" data-tab role="tablist">
				{{#each pattern-library.tabs}}
				<li class="tab-title{{#is active 'true'}} active{{/is}}" role="presentation">
					<a href="#tabs{{@index}}" role="tab" tabindex="0" aria-selected="true" aria-controls="tabs{{@index}}" class="button small evo-button">
						<span class="text">{{name}}</span>
					</a>
				</li>
				{{/each}}
			</ul>
		<!-- TABS - ENDS -->

		</div>
	</section>
<!-- INTRO SECTION - ENDS -->

<!-- TABS - BEGINS -->
	<div class="tabs-content evo-tabs-content evo-site-tabs-content--pattern-library-content">
	<!-- TAB PANEL 1 - BEGINS -->
		<section role="tabpanel" aria-hidden="false" class="content active evo-site-tabs-content--pattern-library-tab-panel" id="tabs0">

			<section class="row" data-equalizer>
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch>
				<!-- EXAMPLE BOX - BEGINS -->
					{{#each color-palette.data }}
					<div class="panel evo-box evo-site-example-box evo-site-color-block">
						<div class="evo-box-hdr">
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule evo-site-color-block--header" data-magellan-destination="{{hyphenate header}}">{{header}}</h6>
							<a name="{{hyphenate header}}"></a>
						<!-- EXAMPLE HEADER - ENDS -->
						</div>
						<div class="evo-box-bdy">
						<!-- RENDERED HTML - BEGINS -->
							{{#each colors}}
							<div class="evo-site-color-block--swatch-ctn">
								<div class="evo-site-swatch copy-to-clipboard" data-evo-background-color="{{data_value}}" data-clipboard-text="${{data_value}}" title="{{name}} (${{data_value}}/{{{hex}}})"></div>
								<div class="evo-site-swatch-details">
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="${{{data_value}}}">{{name}}</span><br>
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="{{{hex}}}">{{{hex}}}</span>
								</div>
							</div>
							{{/each}}
						<!-- RENDERED HTML - ENDS -->
						</div>
					</div>
					{{/each}}
				<!-- EXAMPLE BOX - ENDS -->
				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch>
				<!-- SIDENAV - BEGINS -->
					<div class="evo-site--pattern-library-sidenav-magellan" data-magellan-expedition="fixed">
						<dl class="sub-nav">
							{{#each color-palette.data}}
							<dd data-magellan-arrival="{{hyphenate header}}"><a href="#{{hyphenate header}}">{{header}}</a></dd>
							{{/each}}
						</dl>
					</div>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>

		</section>
	<!-- TAB PANEL 1 - ENDS -->

	<!-- TAB PANEL 2 - BEGINS -->
		<section role="tabpanel" aria-hidden="true" class="content evo-site-tabs-content--pattern-library-tab-panel" id="tabs1">

			<section class="row" data-equalizer>
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch>
					<h5 class="evo-hdr-rule" id="{{hyphenate color-palette.primary}}">{{color-palette.primary}}</h5>
{{# markdown }}
Mercer's primary "Sapphire" color palette communicates Mercer's personality and identity. This is the dominant color palette used for all Mercer branding, while the "Onyx" palette provides for additional flexibility with styling text, borders, and content dividers.
{{/ markdown }}
					{{#slice color-palette.data limit="4"}}
					<div class="panel evo-box evo-site-example-box evo-site-color-block evo-no-margin-bottom">
						<div class="evo-box-bdy">
						<!-- RENDERED HTML - BEGINS -->
							{{#each colors}}
							<div class="evo-site-color-block--swatch-ctn">
								<div class="evo-site-swatch copy-to-clipboard" data-evo-background-color="{{data_value}}" data-clipboard-text="${{data_value}}" title="{{name}} (${{data_value}}/{{{hex}}})"></div>
								<div class="evo-site-swatch-details">
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="${{{data_value}}}">{{name}}</span><br>
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="{{{hex}}}">{{{hex}}}</span>
								</div>
							</div>
							{{/each}}
						<!-- RENDERED HTML - ENDS -->
						</div>
					</div>
					{{/slice}}

					<h5 class="evo-hdr-rule evo-spacer-margin-top-xxx-large" id="{{hyphenate color-palette.secondary}}">{{color-palette.secondary}}</h5>
{{# markdown }}
The secondary color palette can be used to further differentiate elements in web applications. These colors provide for additional flexibility in defining content containers, icons, and call-to-action buttons.
{{/ markdown }}
					{{#slice color-palette.data offset="4" limit="4"}}
					<div class="panel evo-box evo-site-example-box evo-site-color-block evo-no-margin-bottom">
						<div class="evo-box-bdy">
						<!-- RENDERED HTML - BEGINS -->
							{{#each colors}}
							<div class="evo-site-color-block--swatch-ctn">
								<div class="evo-site-swatch copy-to-clipboard" data-evo-background-color="{{data_value}}" data-clipboard-text="${{data_value}}" title="{{name}} (${{data_value}}/{{{hex}}})"></div>
								<div class="evo-site-swatch-details">
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="${{{data_value}}}">{{name}}</span><br>
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="{{{hex}}}">{{{hex}}}</span>
								</div>
							</div>
							{{/each}}
						<!-- RENDERED HTML - ENDS -->
						</div>
					</div>
					{{/slice}}

					<h5 class="evo-hdr-rule evo-spacer-margin-top-xxx-large" id="{{hyphenate color-palette.tertiary}}">{{color-palette.tertiary}}</h5>
{{# markdown }}
Tertiary colors are to be predominantly used for data visualization, charting solutions, and tables. These colors should never be used to replace the primary and secondary color palettes.
{{/ markdown }}
					{{#slice color-palette.data offset="8" limit="5"}}
					<div class="panel evo-box evo-site-example-box evo-site-color-block evo-no-margin-bottom">
						<div class="evo-box-bdy">
						<!-- RENDERED HTML - BEGINS -->
							{{#each colors}}
							<div class="evo-site-color-block--swatch-ctn">
								<div class="evo-site-swatch copy-to-clipboard" data-evo-background-color="{{data_value}}" data-clipboard-text="${{data_value}}" title="{{name}} (${{data_value}}/{{{hex}}})"></div>
								<div class="evo-site-swatch-details">
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="${{{data_value}}}">{{name}}</span><br>
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="{{{hex}}}">{{{hex}}}</span>
								</div>
							</div>
							{{/each}}
						<!-- RENDERED HTML - ENDS -->
						</div>
					</div>
					{{/slice}}

					<h5 class="evo-hdr-rule evo-spacer-margin-top-xxx-large" id="{{hyphenate color-palette.system}}">{{color-palette.system}}</h5>
{{# markdown }}
The system colors are used for important, high-level information that may require the user to take action. This type of information is presented in a container that represents a positive, negative or attention value. While these containers are generally positioned at the top of a page as alerts, they can also appear within content containers.
{{/ markdown }}
					{{#slice color-palette.data offset="13" limit="1"}}
					<div class="panel evo-box evo-site-example-box evo-site-color-block evo-spacer-margin-bottom-xxx-large">
						<div class="evo-box-bdy">
						<!-- RENDERED HTML - BEGINS -->
							{{#each colors}}
							<div class="evo-site-color-block--swatch-ctn">
								<div class="evo-site-swatch copy-to-clipboard" data-evo-background-color="{{data_value}}" data-clipboard-text="${{data_value}}" title="{{name}} (${{data_value}}/{{{hex}}})"></div>
								<div class="evo-site-swatch-details">
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="${{{data_value}}}">{{name}}</span><br>
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="{{{hex}}}">{{{hex}}}</span>
								</div>
							</div>
							{{/each}}
						<!-- RENDERED HTML - ENDS -->
						</div>
					</div>
					{{/slice}}
				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch>
				<!-- SIDENAV - BEGINS -->
					<div class="evo-site--pattern-library-sidenav-magellan" data-evo-fixed-by-scroll="evo-magellan--side-nav" data-evo-magellan>
						<dl class="sub-nav">
							<dd><a data-evo-scroll-to-location href="#{{hyphenate color-palette.primary}}">{{color-palette.primary}}</a></dd>
							<dd><a data-evo-scroll-to-location href="#{{hyphenate color-palette.secondary}}">{{color-palette.secondary}}</a></dd>
							<dd><a data-evo-scroll-to-location href="#{{hyphenate color-palette.tertiary}}">{{color-palette.tertiary}}</a></dd>
							<dd><a data-evo-scroll-to-location href="#{{hyphenate color-palette.system}}">{{color-palette.system}}</a></dd>
						</dl>
					</div>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 2 - BEGINS -->

	<!-- TAB PANEL 3 - BEGINS -->
		<section role="tabpanel" aria-hidden="true" class="content evo-site-tabs-content--pattern-library-tab-panel" id="tabs2">

			<section class="row" data-equalizer>
				<div class="medium-12 large-9 columns evo-keyline-right" data-equalizer-watch>
					Content for something 3
				</div>
				<div class="large-3 columns show-for-large-up" data-equalizer-watch>
					Magellan 3
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 3 - BEGINS -->

	<!-- TAB PANEL 4 - BEGINS -->
		<section role="tabpanel" aria-hidden="true" class="content evo-site-tabs-content--pattern-library-tab-panel" id="tabs3">

			<section class="row" data-equalizer>
				<div class="medium-12 large-9 columns evo-keyline-right" data-equalizer-watch>
					Content for something 4
				</div>
				<div class="large-3 columns show-for-large-up" data-equalizer-watch>
					Magellan 4
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 4 - BEGINS -->
	</div>
<!-- TABS - ENDS -->