---
title: "Color Palette"
---

<!-- INTRO SECTION - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-medium evo-site--pattern-library-intro">

{{# markdown }}
## {{ title }}
The Mercer color palette is designed to support a range of visual styles. These styles are all connected within a hierarchy that best defines the Mercer brand. These color palettes have been carefully crafted and are not meant to be customized further.
{{/ markdown }}

		{{> jump-to-nav}}

		<!-- TABS - BEGINS -->
			<ul class="tabs evo-tabs evo-site-tabs--pattern-library-tabs" data-tabs id="evoLibraryTabs">
				{{#each pattern-library.tabs}}
				<li class="tabs-title evo-tabs-title{{#is active 'true'}} is-active{{/is}}" role="presentation">
					<a href="#evoPanel{{@index}}" role="tab" tabindex="0">{{name}}</a>
				</li>
				{{/each}}
			</ul>
		<!-- TABS - ENDS -->

		</div>
	</section>
<!-- INTRO SECTION - ENDS -->

<!-- TABS - BEGINS -->
	<div class="tabs-content evo-tabs-content evo-site-tabs-content--pattern-library-content" data-tabs-content="evoLibraryTabs">
	<!-- TAB PANEL 1 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel is-active evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel0">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" id="tabs-content-col0" data-equalizer-watch="tab-panel">
				<!-- EXAMPLE BOX - BEGINS -->
					{{#each color-palette.data }}
					<div class="callout evo-callout evo-site-example-box evo-site-color-block">
						<header>
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule" data-magellan-target="{{hyphenate name}}" id="{{hyphenate name}}">
								{{name}}
							</h6>
						<!-- EXAMPLE HEADER - ENDS -->
						</header>
						<section>
							{{#each colors}}
							<div class="evo-site-color-block--swatch-ctn">
								<div class="evo-site-swatch copy-to-clipboard" data-evo-background-color="{{data_value}}" data-clipboard-text="${{data_value}}" title="{{name}} (${{data_value}}/{{{hex}}})"></div>
								<div class="evo-site-swatch-details">
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="${{{data_value}}}">{{name}}</span><br>
									<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="{{{hex}}}">{{{hex}}}</span>
								</div>
							</div>
							{{/each}}
						</section>
					</div>
					{{/each}}
				<!-- EXAMPLE BOX - ENDS -->

				</div>
				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
				<!-- SIDENAV - BEGINS -->
					<div data-sticky-container>
						<nav class="columns sticky evo-site--pattern-library-sidenav-magellan" data-anchor="tabs-content-col0" data-sticky-on="large" data-sticky>
							<ul class="menu vertical" data-magellan>
							{{#each color-palette.data}}
								<li><a href="#{{hyphenate name}}">{{name}}</a></li>
							{{/each}}
							</ul>
						</nav>
					</div>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>

		</section>
	<!-- TAB PANEL 1 - ENDS -->

	<!-- TAB PANEL 2 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel1">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" id="tabs-content-col1" data-equalizer-watch="tab-panel">

				<!-- CONTENT SECTION - BEGINS -->
					<section class="evo-site-tabs-content--pattern-library-tab-content-section" id="{{hyphenate color-palette.primary}}">
						<div class="evo-site-markdown-content-block">
{{# markdown }}
##### {{color-palette.primary}}
Mercer's primary "Sapphire" color palette communicates Mercer's personality and identity. This is the dominant color palette used for all Mercer branding, while the "Onyx" palette provides for additional flexibility with styling text, borders, and content dividers.
{{/ markdown }}
						</div>

						{{#slice color-palette.data limit="4"}}
						<div class="callout evo-callout evo-site-example-box evo-site-color-block evo-no-margin-bottom">
							<section>
								{{#each colors}}
								<div class="evo-site-color-block--swatch-ctn">
									<div class="evo-site-swatch copy-to-clipboard" data-evo-background-color="{{data_value}}" data-clipboard-text="${{data_value}}" title="{{name}} (${{data_value}}/{{{hex}}})"></div>
									<div class="evo-site-swatch-details">
										<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="${{{data_value}}}">{{name}}</span><br>
										<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="{{{hex}}}">{{{hex}}}</span>
									</div>
								</div>
								{{/each}}
							</section>
						</div>
						{{/slice}}

					</section>
				<!-- CONTENT SECTION - ENDS -->

				<!-- CONTENT SECTION - BEGINS -->
					<section class="evo-site-tabs-content--pattern-library-tab-content-section" id="{{hyphenate color-palette.secondary}}">
						<div class="evo-site-markdown-content-block">
{{# markdown }}
##### {{color-palette.secondary}}
The secondary color palette can be used to further differentiate elements in web applications. These colors provide for additional flexibility in defining content containers, icons, and call-to-action buttons.
{{/ markdown }}
						</div>

						{{#slice color-palette.data offset="4" limit="4"}}
						<div class="callout evo-callout evo-site-example-box evo-site-color-block evo-no-margin-bottom">
							<section>
								{{#each colors}}
								<div class="evo-site-color-block--swatch-ctn">
									<div class="evo-site-swatch copy-to-clipboard" data-evo-background-color="{{data_value}}" data-clipboard-text="${{data_value}}" title="{{name}} (${{data_value}}/{{{hex}}})"></div>
									<div class="evo-site-swatch-details">
										<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="${{{data_value}}}">{{name}}</span><br>
										<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="{{{hex}}}">{{{hex}}}</span>
									</div>
								</div>
								{{/each}}
							</section>
						</div>
						{{/slice}}

					</section>
				<!-- CONTENT SECTION - ENDS -->

				<!-- CONTENT SECTION - BEGINS -->
					<section class="evo-site-tabs-content--pattern-library-tab-content-section" id="{{hyphenate color-palette.tertiary}}">
						<div class="evo-site-markdown-content-block">
{{# markdown }}
##### {{color-palette.tertiary}}
Tertiary colors are to be predominantly used for data visualization, charting solutions, and tables. These colors should never be used to replace the primary and secondary color palettes.
{{/ markdown }}
						</div>

						{{#slice color-palette.data offset="8" limit="5"}}
						<div class="callout evo-callout evo-site-example-box evo-site-color-block evo-no-margin-bottom">
							<section>
								{{#each colors}}
								<div class="evo-site-color-block--swatch-ctn">
									<div class="evo-site-swatch copy-to-clipboard" data-evo-background-color="{{data_value}}" data-clipboard-text="${{data_value}}" title="{{name}} (${{data_value}}/{{{hex}}})"></div>
									<div class="evo-site-swatch-details">
										<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="${{{data_value}}}">{{name}}</span><br>
										<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="{{{hex}}}">{{{hex}}}</span>
									</div>
								</div>
								{{/each}}
							</section>
						</div>
						{{/slice}}

					</section>
				<!-- CONTENT SECTION - ENDS -->


				<!-- CONTENT SECTION - BEGINS -->
					<section class="evo-site-tabs-content--pattern-library-tab-content-section" id="{{hyphenate color-palette.system}}">
						<div class="evo-site-markdown-content-block">
{{# markdown }}
##### {{color-palette.system}}
The system colors are used for important, high-level information that may require the user to take action. This type of information is presented in a container that represents a positive, negative or attention value. While these containers are generally positioned at the top of a page as alerts, they can also appear within content containers.
{{/ markdown }}
						</div>

						{{#slice color-palette.data offset="13" limit="1"}}
						<div class="callout evo-callout evo-site-example-box evo-site-color-block evo-spacer-margin-bottom-xxx-large">
							<section>
								{{#each colors}}
								<div class="evo-site-color-block--swatch-ctn">
									<div class="evo-site-swatch copy-to-clipboard" data-evo-background-color="{{data_value}}" data-clipboard-text="${{data_value}}" title="{{name}} (${{data_value}}/{{{hex}}})"></div>
									<div class="evo-site-swatch-details">
										<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="${{{data_value}}}">{{name}}</span><br>
										<span class="copy-to-clipboard" data-clipboard-snippet data-clipboard-text="{{{hex}}}">{{{hex}}}</span>
									</div>
								</div>
								{{/each}}
							</section>
						</div>
						{{/slice}}

					</section>
				<!-- CONTENT SECTION - ENDS -->
				</div>

				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
				<!-- SIDENAV - BEGINS -->
					<div data-sticky-container>
						<nav class="columns sticky evo-site--pattern-library-sidenav-magellan" data-anchor="tabs-content-col1" data-sticky-on="large" data-sticky>
							<ul class="menu vertical" data-magellan>
								<li><a href="#{{hyphenate color-palette.primary}}">{{color-palette.primary}}</a></li>
								<li><a href="#{{hyphenate color-palette.secondary}}">{{color-palette.secondary}}</a></li>
								<li><a href="#{{hyphenate color-palette.tertiary}}">{{color-palette.tertiary}}</a></li>
								<li><a href="#{{hyphenate color-palette.system}}">{{color-palette.system}}</a></li>
							</ul>
						</nav>
					</div>
				<!-- SIDENAV - ENDS -->
				</div>

			</section>
			
		</section>
	<!-- TAB PANEL 2 - ENDS -->

	<!-- TAB PANEL 3 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel2">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" id="tabs-content-col2" data-equalizer-watch="tab-panel">
				<!-- EXAMPLE BOX - BEGINS -->
					{{#each color-palette.usage_data }}
					<div class="callout evo-callout evo-site-example-box">
						<header>
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule" data-magellan-target="{{hyphenate name}}" id="{{hyphenate name}}">
								{{name}}
								<a href="javascript:;" class="evo-icon-site-embed2 evo-icon-position-right evo-spacer-margin-left-small has-tip right evo-tooltip" title="View Source" data-toggle="code-toggle{{@index}}" data-tooltip aria-haspopup="true" data-disable-hover="false" data-show-on="large" data-anijs="if: click, do: fadeIn animated, to: .evo-site-example-box-ftr{{@index}}, after: removeAnim;"></a>
							</h6>
						<!-- EXAMPLE HEADER - ENDS -->
						</header>
						<section class="evo-grid-demo">
						<!-- RENDERED HTML - BEGINS -->
							{{#is multiple_example 'true'}}
								{{#each multiple_example_options}}
									{{> (lookup . 'partial') }}
								{{/each}}
							{{else}}
								{{> (lookup . 'partial') }}
							{{/is}}
						<!-- RENDERED HTML - ENDS -->
						</section>
						<footer class="evo-site-example-box-ftr{{@index}} hide" id="code-toggle{{@index}}" data-toggler=".hide">
						<!-- CODE - BEGINS -->
							{{#is multiple_example 'true'}}
								{{#each multiple_example_options}}

							<!-- HTML - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									{{slug}}
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-html-{{slug}}" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-disable-hover="false" data-show-on="large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-html-{{slug}}"><xmp>{{> (lookup . 'partial') }}</xmp></code></pre>
							<!-- HTML - ENDS -->

								{{/each}}
							{{else}}

							<!-- HTML - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									{{slug}}
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-html-{{slug}}" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-disable-hover="false" data-show-on="large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-html-{{slug}}"><xmp>{{> (lookup . 'partial') }}</xmp></code></pre>
							<!-- HTML - ENDS -->

							{{/is}}
						<!-- CODE - ENDS -->
						</footer>
					</div>
					{{/each}}
				<!-- EXAMPLE BOX - ENDS -->
				</div>
				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
				<!-- SIDENAV - BEGINS -->
					<div data-sticky-container>
						<nav class="columns sticky evo-site--pattern-library-sidenav-magellan" data-anchor="tabs-content-col2" data-sticky-on="large" data-sticky>
							<ul class="menu vertical" data-magellan>
							{{#each color-palette.usage_data}}
								<li><a href="#{{hyphenate name}}">{{name}}</a></li>
							{{/each}}
							</ul>
						</nav>
					</div>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 3 - ENDS -->

	<!-- TAB PANEL 4 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel3">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" id="tabs-content-col3" data-equalizer-watch="tab-panel">
					Content for something 4
				</div>
				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 4 - ENDS -->
	</div>
<!-- TABS - ENDS -->