---
title: "Conversational Form"
---

<!-- INTRO SECTION - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-medium evo-site--pattern-library-intro">

{{# markdown }}
## {{ title }}

<span class="label evo-label" data-evo-background-color="success-color">Version: {{ package.organisms.conversational_form.version }}</span>
{{#is conversational-form.product_suite_bp 'true' }}<span class="label evo-label" data-evo-background-color="sapphire-bright">Benefits Portals</span>{{/is}}
{{#is conversational-form.product_suite_comm 'true' }}<span class="label evo-label" data-evo-background-color="amethyst-bright">Communication Sites</span>{{/is}}

Conversational forms are used as a non-traditional way of collecting data from a user. These forms build dynamically based on the answer from the previous question. Conversational Forms can build on each previous question by continuing to display the previous answers to the user as more questions get asked.
{{/ markdown }}

		{{> jump-to-nav}}

		<!-- TABS - BEGINS -->
			<ul class="button-group {{pattern-library.tab-spacing}} stack-for-small evo-site-tabs--pattern-library-tabs" data-tab role="tablist">
				{{#each pattern-library.tabs}}
				<li class="tab-title{{#is active 'true'}} active{{/is}}" role="presentation">
					<a href="#tabs{{@index}}" role="tab" tabindex="0" aria-selected="true" aria-controls="tabs{{@index}}" class="button small evo-button">
						<span class="text">{{name}}</span>
					</a>
				</li>
				{{/each}}
			</ul>
		<!-- TABS - ENDS -->

		</div>
	</section>
<!-- INTRO SECTION - ENDS -->

<!-- TABS - BEGINS -->
	<div class="tabs-content evo-tabs-content evo-site-tabs-content--pattern-library-content">
	<!-- TAB PANEL 1 - BEGINS -->
		<section role="tabpanel" aria-hidden="false" class="content active evo-site-tabs-content--pattern-library-tab-panel" id="tabs0">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
				<!-- EXAMPLE BOX - BEGINS -->
					{{#each conversational-form.data }}
					<div class="callout evo-callout evo-site-example-box">
						<header>
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule" data-magellan-destination="{{hyphenate name}}">
								{{name}}
								<a href="#code-anchor{{@index}}" class="evo-icon-site-embed2 evo-icon-position-right evo-spacer-margin-left-small has-tip tip-right evo-tooltip" title="View Source" aria-label="" data-toggle="code-toggle{{@index}}" data-tooltip aria-haspopup="true" data-options="show_on:large" data-anijs="if: click, do: fadeIn animated, to: .evo-site-example-box-ftr{{@index}}, after: removeAnim;"></a>
							</h6>
							<a name="{{hyphenate name}}"></a>
						<!-- EXAMPLE HEADER - ENDS -->
						</header>
						<section>
						<!-- RENDERED HTML - BEGINS -->
							{{#is multiple_example 'true'}}
								{{#each multiple_example_options}}
									{{> (lookup . 'partial') }}
								{{/each}}
							{{else}}
								{{> (lookup . 'partial') }}
							{{/is}}
						<!-- RENDERED HTML - ENDS -->
						</section>
						<footer class="evo-site-example-box-ftr{{@index}} hide" id="code-anchor{{@index}}" data-toggler=".hide">
						<!-- CODE - BEGINS -->
							{{#is multiple_example 'true'}}
								{{#each multiple_example_options}}

							<!-- HTML - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									{{slug}}
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-html-{{slug}}" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-html-{{slug}}"><xmp>{{> (lookup . 'partial') }}</xmp></code></pre>
							<!-- HTML - ENDS -->

								{{/each}}

								{{#if partial_js}}
							<!-- JS - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									{{slug}}
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-js-{{slug}}" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-js" id="evo-code-copy-js-{{slug}}"><xmp>{{> (lookup . 'partial_js') }}</xmp></code></pre>
							<!-- JS - ENDS -->
								{{/if}}

							{{else}}

							<!-- HTML - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									{{slug}}
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-html-{{slug}}" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-html-{{slug}}"><xmp>{{> (lookup . 'partial') }}</xmp></code></pre>
							<!-- HTML - ENDS -->

								{{#if partial_js}}
							<!-- JS - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									{{slug}}
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-js-{{slug}}" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-js" id="evo-code-copy-js-{{slug}}"><xmp>{{> (lookup . 'partial_js') }}</xmp></code></pre>
							<!-- JS - ENDS -->
								{{/if}}

							{{/is}}
						<!-- CODE - ENDS -->
						</footer>
					</div>
					{{/each}}
				<!-- EXAMPLE BOX - ENDS -->
				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
				<!-- SIDENAV - BEGINS -->
					<div class="evo-site--pattern-library-sidenav-magellan" data-magellan-expedition="fixed">
						<dl class="sub-nav">
							{{#each conversational-form.data}}
							<dd data-magellan-arrival="{{hyphenate name}}"><a href="#{{hyphenate name}}">{{name}}</a></dd>
							{{/each}}
						</dl>
					</div>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>

		</section>
	<!-- TAB PANEL 1 - ENDS -->

	<!-- TAB PANEL 2 - BEGINS -->
		<section role="tabpanel" aria-hidden="true" class="content evo-site-tabs-content--pattern-library-tab-panel" id="tabs1">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">

				<!-- CONTENT SECTION - BEGINS -->
					<section class="evo-site-tabs-content--pattern-library-tab-content-section">
						<div class="evo-site-markdown-content-block">
{{# markdown}}
##### General
* Use this component when you want the act of gathering data from the user to be as conversational and natural as possible.
* Be careful not to build these is a way where too much data is displayed on a single screen. Ideally you should shoot for shorter questions, and then have the questions animate from screen to screen.
* There are no discernible differences in the Conversational Form for small screens. The labels and inputs will wrap naturally based on the width of the containing element. Since the text will be more compact, it is even more imperative to keep the form limited to a small number of questions.
{{/ markdown}}
						</div>
					</section>
				<!-- CONTENT SECTION - ENDS -->

				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					Magellan 2
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 2 - BEGINS -->

	<!-- TAB PANEL 3 - BEGINS -->
		<section role="tabpanel" aria-hidden="true" class="content evo-site-tabs-content--pattern-library-tab-panel" id="tabs2">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					Content for something 3
				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
				<!-- SIDENAV - BEGINS -->
					<div class="evo-site--pattern-library-sidenav-magellan" data-evo-fixed-by-scroll="evo-magellan--side-nav" data-evo-magellan>
						{{!--
						<dl class="sub-nav">
							<dd><a data-evo-scroll-to-location href="#{{hyphenate }}">{{}}</a></dd>
						</dl>
						<hr>
						--}}

						{{#is conversational-form.dependency_data.dependency 'true'}}

					<!-- SIDENAV ACCORDION - BEGINS -->
						<ul class="accordion evo-accordion evo-accordion-icons evo-site--pattern-library-sidenav-accordian" data-accordion data-options="multi_expand:true" role="tablist">

						<!-- DEPENDENCIES ACCORDION PANEL - BEGINS -->
							<li class="accordion-navigation">
								<a id="dependencies-accordion-heading" href="#dependencies-accordion" role="tab" aria-controls="dependencies-accordion" data-anijs="if: click, do: fadeIn animated, to: #dependencies-accordion, after: removeAnim;">{{pattern-library.sidenav.dependencies_header}}</a>
								<div id="dependencies-accordion" class="content active" role="tabpanel" aria-labelledby="dependencies-accordion-heading">

									<ul class="no-bullet">
										{{#is conversational-form.dependency_data.foundation 'true'}}
											<li><a href="{{pattern-library.sidenav.foundation_url}}" target="_blank">Foundation {{package.foundation_version}}</a>
											{{#if conversational-form.dependency_data.foundation_dependencies}}
												<ul>
												{{#each conversational-form.dependency_data.foundation_dependencies}}
													<li><a href="{{url}}" target="_blank">{{name}}</a></li>
												{{/each}}
												</ul>
											{{/if}}
											</li>
										{{/is}}
										{{#is conversational-form.dependency_data.evolution 'true'}}
											<li><a href="/">Evolution {{package.version}}</a>
											{{#if conversational-form.dependency_data.evolution_dependencies}}
												<ul>
												{{#each conversational-form.dependency_data.evolution_dependencies}}
													<li><a href="{{url}}">{{name}}</a></li>
												{{/each}}
												</ul>
											</li>
											{{/if}}
										{{/is}}
										{{#is conversational-form.dependency_data.jquery 'true'}}<li><a href="https://jquery.com/" target="_blank">jQuery {{package.jquery_version}}</a></li>{{/is}}
										{{#is conversational-form.dependency_data.jquery_ui 'true'}}
											<li><a href="https://jqueryui.com/" target="_blank">jQuery UI {{package.jquery_ui_version}}</a>
											{{#if conversational-form.dependency_data.jquery_ui_dependencies}}
												<ul>
												{{#each conversational-form.dependency_data.jquery_ui_dependencies}}
													<li><a href="{{url}}" target="_blank">{{name}}</a></li>
												{{/each}}
												</ul>
											{{/if}}
											</li>
										{{/is}}
										{{#each conversational-form.dependency_data.other}}
											<li><a href="{{url}}" {{#is external_link 'true'}}target="_blank"{{/is}}>{{name}}</a></li>
										{{/each}}
									</ul>

								</div>
							</li>
						<!-- DEPENDENCIES ACCORDION PANEL - ENDS -->

						</ul>
					<!-- SIDENAV ACCORDION - ENDS -->
						{{/is}}

					</div>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 3 - BEGINS -->

	<!-- TAB PANEL 4 - BEGINS -->
		<section role="tabpanel" aria-hidden="true" class="content evo-site-tabs-content--pattern-library-tab-panel" id="tabs3">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					Content for something 4
				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					Magellan 4
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 4 - BEGINS -->
	</div>
<!-- TABS - ENDS -->