---
title: "Corporate Logos"
---

<!-- INTRO SECTION - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-medium evo-site--pattern-library-intro">

{{# markdown }}
## {{ title }}
The corporate logos below are to be used for branding digital products across all lines of business. These logos are designed and optimized for placement in product headers and footers for all global Web properties.
{{/ markdown }}

		{{> jump-to-nav}}

		<!-- TABS - BEGINS
			<ul class="tabs evo-tabs evo-site-tabs--pattern-library-tabs" data-tabs id="evoLibraryTabs">
				{{#each pattern-library.tabs}}
				<li class="tabs-title evo-tabs-title{{#is active 'true'}} is-active{{/is}}" role="presentation">
					<a href="#evoPanel{{@index}}" role="tab" tabindex="0">{{name}}</a>
				</li>
				{{/each}}
			</ul>
		TABS - ENDS -->

		</div>
	</section>
<!-- INTRO SECTION - ENDS -->

<!-- TABS - BEGINS -->
	<div class="tabs-content evo-tabs-content evo-site-tabs-content--pattern-library-content" data-tabs-content="evoLibraryTabs">
	<!-- TAB PANEL 1 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel is-active evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel0">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" id="tabs-content-col0" data-equalizer-watch="tab-panel">
				<!-- EXAMPLE BOX - BEGINS -->
					{{#each corp-logos.data }}
					<div class="callout evo-callout evo-site-example-box">
						<header>
							<h6 class="evo-hdr-rule" data-magellan-target="{{hyphenate name}}" id="{{hyphenate name}}">
								{{name}}
							</h6>
						</header>
						<section>
							{{#is multiple_example 'true'}}
							<div class="row small-up-1 medium-up-2 large-up-2 evo-site-corp-logo-ctn">
								{{#each multiple_example_options}}
								<div class="columns">
									<div class="evo-site-corp-logo-ctn--img-ctn" data-evo-background-color="{{display_logo_background_color}}" data-evo-border-color="{{display_logo_border_color}}"><img src="/assets/images/core/corp-logos/{{image_png}}.png" alt="{{display_logo_alt}}" width="{{display_logo_width}}" class="evo-no-margin" /></div>
									<h6 class="evo-hdr-rule">{{name}}</h6>
									<p>{{{description}}}</p>
									<p class="evo-spacer-margin-bottom-small">Downloads:</p>
									<ul class="evo-inline-list evo-inline-list-pipes">
										<li>
											<a href="/assets/images/core/corp-logos/{{image_png}}.png">PNG</a>
										</li>
										<li>
											<a href="/assets/images/core/corp-logos/{{image_eps}}.eps">EPS</a>
										</li>
										<li>
											<a href="/assets/docs/core/images/corp-logos/{{image_zip}}.zip">Complete Set</a>
										</li>
									</ul>
								</div>
								{{/each}}
							</div>
							{{/is}}
						</section>
					</div>
					{{/each}}

					<div class="callout evo-callout evo-site-example-box">
						<header>
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule" data-magellan-target="favicon" id="favicon">Favicon</h6>
						<!-- EXAMPLE HEADER - ENDS -->
						</header>
						<section>
							<div class="evo-site-corp-logo--favicon-img-ctn">
								<img src="{{assets}}/images/content/favicon_example.png" alt="Favicon" />
							</div>
							<div class="evo-site-markdown-content-block">
{{# markdown }}
The favicon can be installed into a Web site (or page) and will appear next to the page name in a list of bookmarks or tabbed display. It will also appear in the browser's address bar. The .ico format is recommended as it is supported by a broader set of browsers.
{{/ markdown }}
							</div>
							<p class="evo-spacer-margin-bottom-small">Downloads:</p>
							<ul class="evo-inline-list evo-inline-list-pipes">
								<li>
									<a href="{{assets}}/images/core/favicon.ico">ICO</a>
								</li>
							</ul>

						</section>
					</div>

				<!-- EXAMPLE BOX - ENDS -->
				</div>
				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
				<!-- SIDENAV - BEGINS -->
					<div data-sticky-container>
						<nav class="columns sticky evo-site--pattern-library-sidenav-magellan" data-anchor="tabs-content-col0" data-sticky-on="large" data-sticky>
							<ul class="menu vertical" data-magellan>
							{{#each corp-logos.data}}
								<li><a href="#{{hyphenate name}}">{{name}}</a></li>
							{{/each}}
								<li><a href="#favicon">Favicon</a></li>
							</ul>
						</nav>
					</div>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>

		</section>
	<!-- TAB PANEL 1 - ENDS -->

	<!-- TAB PANEL 2 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel1">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 2 - BEGINS -->

	<!-- TAB PANEL 3 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel2">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 3 - BEGINS -->

	<!-- TAB PANEL 4 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel3">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 4 - BEGINS -->
	</div>
<!-- TABS - ENDS -->