---
title: "Data Tables"
---

<!-- INTRO SECTION - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-medium evo-site--pattern-library-intro">

{{# markdown }}
## {{ title }}
Data Tables are an element meant to organize data on a page with added functionality such as sorting, filtering, and pagination. Evolution data tables depend on Foundation's [Tables](http://foundation.zurb.com/sites/docs/table.html) as a starting point. The interactive elements of the data table (sorting, filtering, pagination, etc.) depend on [DataTables](http://datatables.net/) jQuery Plugin and Foundation's [Pagination](http://foundation.zurb.com/sites/docs/pagination.html) component.
{{/ markdown }}

		{{> jump-to-nav}}

		<!-- TABS - BEGINS -->
			<ul class="tabs evo-tabs evo-site-tabs--pattern-library-tabs" data-tabs id="evoLibraryTabs">
				{{#each pattern-library.tabs}}
				<li class="tabs-title evo-tabs-title{{#is active 'true'}} is-active{{/is}}" role="presentation">
					<a href="#evoPanel{{@index}}" role="tab" tabindex="0">{{name}}</a>
				</li>
				{{/each}}
			</ul>
		<!-- TABS - ENDS -->

		</div>
	</section>
<!-- INTRO SECTION - ENDS -->

<!-- TABS - BEGINS -->
	<div class="tabs-content evo-tabs-content evo-site-tabs-content--pattern-library-content" data-tabs-content="evoLibraryTabs">
	<!-- TAB PANEL 1 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel is-active evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel0">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" id="tabs-content-col0" data-equalizer-watch="tab-panel">
				<!-- EXAMPLE BOX - BEGINS -->
					<div class="callout evo-callout evo-site-example-box">
						<header>
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule" data-magellan-target="Basic-Data-Table" id="Basic-Data-Table">
								Basic Data Table
								<a href="#code-toggle0" class="evo-icon-site-embed2 evo-icon-position-right evo-spacer-margin-left-small has-tip tip-right evo-tooltip" title="View Source" aria-label="" data-toggle="code-toggle0" data-tooltip aria-haspopup="true" data-options="show_on:large" data-anijs="if: click, do: fadeIn animated, to: .evo-site-example-box-ftr0, after: removeAnim;"></a>
							</h6>
							<a name="Basic-Data-Table"></a>
						<!-- EXAMPLE HEADER - ENDS -->
						</header>
						<section>
						<!-- RENDERED HTML - BEGINS -->
							{{> data-table }}
						<!-- RENDERED HTML - ENDS -->
						</section>
						<footer class="evo-site-example-box-ftr0 hide" id="code-toggle0" data-toggler=".hide">
						<!-- CODE - BEGINS -->

							<!-- HTML - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									basic-data-table
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-html-basic-data-table" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-html-basic-data-table"><xmp>{{> data-table }}</xmp></code></pre>
							<!-- HTML - ENDS -->

							<!-- JS - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									basic-data-table
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-js-basic-data-table" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-js" id="evo-code-copy-js-basic-data-table"><xmp>{{> data-table-js }}</xmp></code></pre>
							<!-- JS - ENDS -->

						<!-- CODE - ENDS -->
						</footer>
					</div>
				<!-- EXAMPLE BOX - ENDS -->

				<!-- EXAMPLE BOX - BEGINS -->
					<div class="callout evo-callout evo-site-example-box">
						<header>
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule" data-magellan-target="Subtotal-Row" id="Subtotal-Row">
								Subtotal Row
								<a href="#code-toggle1" class="evo-icon-site-embed2 evo-icon-position-right evo-spacer-margin-left-small has-tip tip-right evo-tooltip" title="View Source" aria-label="" data-toggle="code-toggle1" data-tooltip aria-haspopup="true" data-options="show_on:large" data-anijs="if: click, do: fadeIn animated, to: .evo-site-example-box-ftr1, after: removeAnim;"></a>
							</h6>
						<!-- EXAMPLE HEADER - ENDS -->
						</header>
						<section>
						<!-- RENDERED HTML - BEGINS -->
							{{> data-table-subtotal }}
						<!-- RENDERED HTML - ENDS -->
						</section>
						<footer class="evo-site-example-box-ftr1 hide" id="code-toggle1" data-toggler=".hide">
						<!-- CODE - BEGINS -->

							<!-- HTML - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									subtotal-row
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-html-subtotal-row" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-html-subtotal-row"><xmp>{{> data-table-subtotal }}</xmp></code></pre>
							<!-- HTML - ENDS -->

						<!-- CODE - ENDS -->
						</footer>
					</div>
				<!-- EXAMPLE BOX - ENDS -->

				<!-- EXAMPLE BOX - BEGINS -->
					<div class="callout evo-callout evo-site-example-box">
						<header>
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule" data-magellan-target="Total-Row" id="Total-Row">
								Total Row
								<a href="#code-toggle2" class="evo-icon-site-embed2 evo-icon-position-right evo-spacer-margin-left-small has-tip tip-right evo-tooltip" title="View Source" aria-label="" data-toggle="code-toggle2" data-tooltip aria-haspopup="true" data-options="show_on:large" data-anijs="if: click, do: fadeIn animated, to: .evo-site-example-box-ftr2, after: removeAnim;"></a>
							</h6>
						<!-- EXAMPLE HEADER - ENDS -->
						</header>
						<section>
						<!-- RENDERED HTML - BEGINS -->
							{{> data-table-total }}
						<!-- RENDERED HTML - ENDS -->
						</section>
						<footer class="evo-site-example-box-ftr2 hide" id="code-toggle2" data-toggler=".hide">
						<!-- CODE - BEGINS -->

							<!-- HTML - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									total-row
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-html-total-row" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-html-total-row"><xmp>{{> data-table-total }}</xmp></code></pre>
							<!-- HTML - ENDS -->

						<!-- CODE - ENDS -->
						</footer>
					</div>
				<!-- EXAMPLE BOX - ENDS -->

				<!-- EXAMPLE BOX - BEGINS -->
					<div class="callout evo-callout evo-site-example-box">
						<header>
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule" data-magellan-target="Vertical-Scroll" id="Vertical-Scroll">
								Vertical Scroll
								<a href="#code-toggle3" class="evo-icon-site-embed2 evo-icon-position-right evo-spacer-margin-left-small has-tip tip-right evo-tooltip" title="View Source" aria-label="" data-toggle="code-toggle3" data-tooltip aria-haspopup="true" data-options="show_on:large" data-anijs="if: click, do: fadeIn animated, to: .evo-site-example-box-ftr3, after: removeAnim;"></a>
							</h6>
						<!-- EXAMPLE HEADER - ENDS -->
						</header>
						<section>
						<!-- RENDERED HTML - BEGINS -->
							{{> data-table-vertical-scroll }}
						<!-- RENDERED HTML - ENDS -->
						</section>
						<footer class="evo-site-example-box-ftr3 hide" id="code-toggle3" data-toggler=".hide">
						<!-- CODE - BEGINS -->

							<!-- HTML - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									vertical-scroll
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-html-vertical-scroll" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-html-vertical-scroll"><xmp>{{> data-table-vertical-scroll }}</xmp></code></pre>
							<!-- HTML - ENDS -->

							<!-- JS - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									vertical-scroll
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-js-vertical-scroll" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-options="show_on:large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-js" id="evo-code-copy-js-vertical-scroll"><xmp>{{> data-table-vertical-scroll-js }}</xmp></code></pre>
							<!-- JS - ENDS -->

						<!-- CODE - ENDS -->
						</footer>
					</div>
				<!-- EXAMPLE BOX - ENDS -->
				</div>
				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
				<!-- SIDENAV - BEGINS -->
					<div data-sticky-container>
						<nav class="columns sticky evo-site--pattern-library-sidenav-magellan" data-anchor="tabs-content-col0" data-sticky-on="large" data-sticky>
							<ul class="menu vertical" data-magellan>
								<li><a href="#Basic-Data-Table">Basic Data Table</a></li>
								<li><a href="#Subtotal-Row">Subtotal Row</a></li>
								<li><a href="#Total-Row">Total Row</a></li>
								<li><a href="#Vertical-Scroll">Vertical Scroll</a></li>
							</ul>
						</nav>
					</div>
				<!-- SIDENAV - ENDS -->
				</div>

			</section>

		</section>
	<!-- TAB PANEL 1 - ENDS -->

	<!-- TAB PANEL 2 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel is-active evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel1">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 2 - BEGINS -->

	<!-- TAB PANEL 3 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel is-active evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel2">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" id="tabs-content-col3" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
				<!-- SIDENAV - BEGINS -->
					<div data-sticky-container>
						<nav class="columns sticky evo-site--pattern-library-sidenav-magellan" data-anchor="tabs-content-col3" data-sticky-on="large" data-sticky>
							
							{{!--
							<ul class="menu vertical" data-magellan>
								<li><a href="#{{hyphenate }}">{{}}</a></li>
							</ul>
							--}}

							{{#is data-tables.dependency_data.dependency 'true'}}
						<!-- DEPENDECY SIDENAV - BEGINS -->
							<h6>{{pattern-library.sidenav.dependencies_header}}</h6>
							<ul class="no-bullet evo-site--pattern-library-dependency-sidenav">
								{{#is data-tables.dependency_data.foundation 'true'}}
									<li>
										<a href="{{pattern-library.sidenav.foundation_url}}" target="_blank">Foundation {{package.foundation_version}}</a>
									{{#if data-tables.dependency_data.foundation_dependencies}}
										<ul class="no-bullet">
										{{#each data-tables.dependency_data.foundation_dependencies}}
											<li><a href="{{url}}" target="_blank">{{name}}</a></li>
										{{/each}}
										</ul>
									{{/if}}
									</li>
								{{/is}}
								{{#is data-tables.dependency_data.evolution 'true'}}
									<li><a href="/">Evolution {{package.version}}</a>
									{{#if data-tables.dependency_data.evolution_dependencies}}
										<ul class="no-bullet">
										{{#each data-tables.dependency_data.evolution_dependencies}}
											<li><a href="{{url}}">{{name}}</a></li>
										{{/each}}
										</ul>
									{{/if}}
									</li>
								{{/is}}
								{{#is data-tables.dependency_data.jquery 'true'}}
									<li><a href="https://jquery.com/" target="_blank">jQuery {{package.jquery_version}}</a></li>
								{{/is}}
								{{#is data-tables.dependency_data.jquery_ui 'true'}}
									<li><a href="https://jqueryui.com/" target="_blank">jQuery UI {{package.jquery_ui_version}}</a>
									{{#if data-tables.dependency_data.jquery_ui_dependencies}}
										<ul class="no-bullet">
										{{#each data-tables.dependency_data.jquery_ui_dependencies}}
											<li><a href="{{url}}" target="_blank">{{name}}</a></li>
										{{/each}}
										</ul>
									{{/if}}
									</li>
								{{/is}}
								{{#each data-tables.dependency_data.other}}
									<li><a href="{{url}}" {{#is external_link 'true'}}target="_blank"{{/is}}>{{name}}</a></li>
								{{/each}}
							</ul>
						<!-- DEPENDECY SIDENAV - ENDS -->
							{{/is}}
						</nav>
					</div>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 3 - BEGINS -->

	<!-- TAB PANEL 4 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel is-active evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel3">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
				<div class="large-3 columns show-for-large evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					&nbsp;
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 4 - BEGINS -->
	</div>
<!-- TABS - ENDS -->