---
title: "Kitchen Sink"
---

<!-- INTRO SECTION - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-medium evo-site--pattern-library-intro">

{{# markdown }}
## {{ title }}
This page includes every single Evolution element so that we can make sure things work together smoothly.
{{/ markdown }}

		{{> button href="#jumpToMenu" expand="true" text="Jump To Nav" custom-class="show-for-small-only tiny"}}

		</div>
	</section>
<!-- INTRO SECTION - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row evo-site-tabs-content--pattern-library-content">
		<div class="medium-12 large-10 columns evo-keyline-right evo-spacer-padding-top-large">

			<a name="{{kitchen-sink.data.atoms.arrival_name}}"></a>
			<h3 class="evo-hdr-rule evo-spacer-margin-bottom-x-large" data-magellan-destination="{{kitchen-sink.data.atoms.arrival_name}}">{{kitchen-sink.data.atoms.name}}</h3>
			{{> atoms}}

			<hr>
			<a name="{{kitchen-sink.data.molecules.arrival_name}}"></a>
			<h3 class="evo-hdr-rule evo-spacer-margin-bottom-x-large" data-magellan-destination="{{kitchen-sink.data.molecules.arrival_name}}">{{kitchen-sink.data.molecules.name}}</h3>
			{{> molecules}}

			<hr>
			<a name="{{kitchen-sink.data.organisms.arrival_name}}"></a>
			<h3 class="evo-hdr-rule evo-spacer-margin-bottom-x-large" data-magellan-destination="{{kitchen-sink.data.organisms.arrival_name}}">{{kitchen-sink.data.organisms.name}}</h3>
			{{> organisms}}

			<br>
			<br>

		</div>
		<div class="large-2 columns show-for-large-up evo-spacer-padding-top-large">
		<!-- SIDENAV - BEGINS -->
			<div class="evo-site--pattern-library-sidenav-magellan" data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="{{kitchen-sink.data.atoms.arrival_name}}"><a href="#{{kitchen-sink.data.atoms.url}}">{{kitchen-sink.data.atoms.name}}</a></dd>
					<dd data-magellan-arrival="{{kitchen-sink.data.molecules.arrival_name}}"><a href="#{{kitchen-sink.data.molecules.url}}">{{kitchen-sink.data.molecules.name}}</a></dd>
					<dd data-magellan-arrival="{{kitchen-sink.data.organisms.arrival_name}}"><a href="#{{kitchen-sink.data.organisms.url}}">{{kitchen-sink.data.organisms.name}}</a></dd>
				</dl>
			</div>
		<!-- SIDENAV - ENDS -->
		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->