---
title: "Tables"
definition_content: "src/content/tables/definition.md"
usage_content: "src/content/tables/usage.md"
---

<!-- INTRO SECTION - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-medium evo-site--pattern-library-intro">

{{# markdown }}
## {{ title }}
Tables are an element meant to organize data on a page. Evolution tables depend on Foundation's [Tables](http://foundation.zurb.com/sites/docs/tables.html) as a starting point.
{{/ markdown }}

		{{> jump-to-nav}}

		<!-- TABS - BEGINS -->
			<ul class="button-group radius {{tables.tab-spacing}} stack-for-small evo-site-tabs--pattern-library-tabs" data-tabs id="evoLibraryTabs">
				{{#each tables.tabs}}
				<li class="tabs-title evo-tabs-title{{#is active 'true'}} is-active{{/is}}" role="presentation">
					<a href="#evoPanel{{@index}}" role="tab" tabindex="0" class="button small evo-button">
						<span class="text">{{name}}</span>
					</a>
				</li>
				{{/each}}
			</ul>
		<!-- TABS - ENDS -->

		</div>
	</section>
<!-- INTRO SECTION - ENDS -->

<!-- TABS - BEGINS -->
	<div class="tabs-content evo-tabs-content evo-site-tabs-content--pattern-library-content" data-tabs-content="evoLibraryTabs">
	<!-- TAB PANEL 1 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel is-active evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel0">

			<section class="row" data-equalizer>
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" id="docs-toc" data-equalizer-watch>
				<!-- EXAMPLE BOX - BEGINS -->
					<div class="panel evo-box evo-site-example-box">
						<div class="evo-box-hdr">
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule" data-magellan-target="Basic-Table" id="Basic-Table">
								Basic Table
								<a href="javascript:;" class="evo-icon-site-embed2 evo-icon-position-right evo-spacer-margin-left-small has-tip right evo-tooltip" title="View Source" data-evo-toggle-element="code-toggle0" data-tooltip aria-haspopup="true" data-disable-hover="false" data-show-on="large" data-anijs="if: click, do: fadeIn animated, to: .evo-site-example-box-ftr0, after: removeAnim;"></a>
							</h6>
						<!-- EXAMPLE HEADER - ENDS -->
						</div>
						<div class="evo-box-bdy">
						<!-- RENDERED HTML - BEGINS -->
							{{> table-static }}
						<!-- RENDERED HTML - ENDS -->
						</div>
						<div class="evo-box-ftr evo-site-example-box-ftr0 hide" id="code-anchor0" data-evo-toggle-element-item="code-toggle0">
						<!-- CODE - BEGINS -->

							<!-- HTML - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									basic-table
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-html-{{slug}}" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-disable-hover="false" data-show-on="large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-html-basic-table"><xmp>{{> table-static }}</xmp></code></pre>
							<!-- HTML - ENDS -->

						<!-- CODE - ENDS -->
						</div>
					</div>
				<!-- EXAMPLE BOX - ENDS -->
				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-sticky-container data-equalizer-watch>
				<!-- SIDENAV - BEGINS -->
					<nav class="columns sticky evo-site--pattern-library-sidenav-magellan" data-anchor="docs-toc" data-sticky-on="large" data-sticky>
						<ul class="menu vertical" data-magellan>
						{{#each tables.data}}
							<li><a href="#{{hyphenate name}}">{{name}}</a></li>
						{{/each}}
						</ul>
					</nav>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>

		</section>
	<!-- TAB PANEL 1 - ENDS -->

	<!-- TAB PANEL 2 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel1">

			<section class="row" data-equalizer>
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch>

				<!-- CONTENT SECTION - BEGINS -->
					<section class="evo-site-tabs-content--pattern-library-tab-content-section">
						<div class="evo-site-markdown-content-block">
							{{{md definition_content}}}
						</div>
					</section>
				<!-- CONTENT SECTION - ENDS -->

				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch>
					&nbsp;
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 2 - BEGINS -->

	<!-- TAB PANEL 3 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel2">

			<section class="row" data-equalizer>
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch>
				
				<!-- CONTENT SECTION - BEGINS -->
					<section class="evo-site-tabs-content--pattern-library-tab-content-section">
						<div class="evo-site-markdown-content-block">
							{{{md usage_content}}}
						</div>
					</section>
				<!-- CONTENT SECTION - ENDS -->

				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch>
				<!-- SIDENAV - BEGINS -->
					<div class="evo-site--pattern-library-sidenav-magellan" data-evo-fixed-by-scroll="evo-magellan--side-nav" data-evo-magellan>
						{{!--
						<dl class="sub-nav">
							<dd><a data-evo-scroll-to-location href="#{{hyphenate }}">{{}}</a></dd>
						</dl>
						<hr>
						--}}

						{{#is tables.dependency_data.dependency 'true'}}

					<!-- SIDENAV ACCORDION - BEGINS -->
						<ul class="accordion evo-accordion evo-accordion-icons evo-site--pattern-library-sidenav-accordian" data-accordion>
						<!-- DEPENDENCIES ACCORDION PANEL - BEGINS -->
							<li class="accordion-item is-active" data-accordion-item>
								<a href="#dependencies-accordion" class="accordion-title" data-anijs="if: click, do: fadeIn animated, to: #dependencies-accordion, after: removeAnim;">{{pattern-library.sidenav.dependencies_header}}</a>
								<div class="accordion-content" data-tab-content>

									<ul class="no-bullet">
										{{#is reveal.dependency_data.foundation 'true'}}
											<li><a href="{{pattern-library.sidenav.foundation_url}}" target="_blank">Foundation {{package.foundation_version}}</a>
											{{#if reveal.dependency_data.foundation_dependencies}}
												<ul>
												{{#each reveal.dependency_data.foundation_dependencies}}
													<li><a href="{{url}}" target="_blank">{{name}}</a></li>
												{{/each}}
												</ul>
											{{/if}}
											</li>
										{{/is}}
										{{#is reveal.dependency_data.evolution 'true'}}
											<li><a href="/">Evolution {{package.version}}</a>
											{{#if reveal.dependency_data.evolution_dependencies}}
												<ul>
												{{#each reveal.dependency_data.evolution_dependencies}}
													<li><a href="{{url}}">{{name}}</a></li>
												{{/each}}
												</ul>
											</li>
											{{/if}}
										{{/is}}
										{{#is reveal.dependency_data.jquery 'true'}}<li><a href="https://jquery.com/" target="_blank">jQuery {{package.jquery_version}}</a></li>{{/is}}
										{{#is reveal.dependency_data.jquery_ui 'true'}}
											<li><a href="https://jqueryui.com/" target="_blank">jQuery UI {{package.jquery_ui_version}}</a>
											{{#if reveal.dependency_data.jquery_ui_dependencies}}
												<ul>
												{{#each reveal.dependency_data.jquery_ui_dependencies}}
													<li><a href="{{url}}" target="_blank">{{name}}</a></li>
												{{/each}}
												</ul>
											{{/if}}
											</li>
										{{/is}}
										{{#each reveal.dependency_data.other}}
											<li><a href="{{url}}" {{#is external_link 'true'}}target="_blank"{{/is}}>{{name}}</a></li>
										{{/each}}
									</ul>

								</div>
							</li>
						<!-- DEPENDENCIES ACCORDION PANEL - ENDS -->
						</ul>
					<!-- SIDENAV ACCORDION - ENDS -->
						{{/is}}

					</div>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 3 - BEGINS -->

	<!-- TAB PANEL 4 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel3">

			<section class="row" data-equalizer>
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch>
					Content for something 4
				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch>
					&nbsp;
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 4 - BEGINS -->
	</div>
<!-- TABS - ENDS -->