---
title: "Type"
---

<!-- INTRO SECTION - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-medium evo-site--pattern-library-intro">

{{# markdown }}
## {{ title }}
Proxima Nova has been implemented as the default font family for Evolution as a means to represent the Mercer brand when using typography for the Web.
{{/ markdown }}

		{{> jump-to-nav}}

		<!-- TABS - BEGINS -->
			<ul class="button-group {{pattern-library.tab-spacing}} stack-for-small evo-site-tabs--pattern-library-tabs" data-tabs id="evoLibraryTabs">
				{{#each pattern-library.tabs}}
				<li class="tabs-title evo-tabs-title{{#is active 'true'}} is-active{{/is}}" role="presentation">
					<a href="#evoPanel{{@index}}" role="tab" tabindex="0" class="button small evo-button">
						<span class="text">{{name}}</span>
					</a>
				</li>
				{{/each}}
			</ul>
		<!-- TABS - ENDS -->

		</div>
	</section>
<!-- INTRO SECTION - ENDS -->

<!-- TABS - BEGINS -->
	<div class="tabs-content evo-tabs-content evo-site-tabs-content--pattern-library-content" data-tabs-content="evoLibraryTabs">
	<!-- TAB PANEL 1 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel is-active evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel0">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" id="tabs-content-col" data-equalizer-watch="tab-panel">
				<!-- EXAMPLE BOX - BEGINS -->
					{{#each type.data }}
					<div class="callout evo-callout evo-site-example-box">
						<header>
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule" data-magellan-target="{{hyphenate name}}" id="{{hyphenate name}}">
								{{name}}
								<a href="javascript:;" class="evo-icon-site-embed2 evo-icon-position-right evo-spacer-margin-left-small has-tip right evo-tooltip" title="View Source" data-evo-toggle-element="code-toggle{{@index}}" data-tooltip aria-haspopup="true" data-disable-hover="false" data-show-on="large" data-anijs="if: click, do: fadeIn animated, to: .evo-site-example-box-ftr{{@index}}, after: removeAnim;"></a>
							</h6>
						<!-- EXAMPLE HEADER - ENDS -->
						</header>
						<section class="evo-site-type-demo-ctn">
						<!-- RENDERED HTML - BEGINS -->
							{{#is multiple_example 'true'}}
								{{#each multiple_example_options}}
									{{> (lookup . 'partial') }}
								{{/each}}
							{{else}}
								{{> (lookup . 'partial') }}
							{{/is}}
						<!-- RENDERED HTML - ENDS -->
						</section>
						<footer class="evo-site-example-box-ftr{{@index}} hide" data-evo-toggle-element-item="code-toggle{{@index}}">
						<!-- CODE - BEGINS -->
							{{#is multiple_example 'true'}}
								{{#each multiple_example_options}}

							<!-- HTML - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									{{slug}}
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-html-{{slug}}" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-disable-hover="false" data-show-on="large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-html-{{slug}}"><xmp>{{> (lookup . 'partial') }}</xmp></code></pre>
							<!-- HTML - ENDS -->

								{{/each}}
							{{else}}

							<!-- HTML - BEGINS -->
								<div class="evo-site-example-box--code-hdr">
									{{slug}}
									<a href="javascript:;" title="Copy Code" data-clipboard-target="#evo-code-copy-html-{{slug}}" class="evo-icon-site-copy copy-to-clipboard has-tip tip-right evo-tooltip" data-tooltip aria-haspopup="true" data-disable-hover="false" data-show-on="large"></a>
								</div>
								<pre class="evo-margin-bottom"><code class="language-markup" id="evo-code-copy-html-{{slug}}"><xmp>{{> (lookup . 'partial') }}</xmp></code></pre>
							<!-- HTML - ENDS -->

							{{/is}}
						<!-- CODE - ENDS -->
						</footer>
					</div>
					{{/each}}
				<!-- EXAMPLE BOX - ENDS -->
				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-sticky-container data-equalizer-watch="tab-panel">
				<!-- SIDENAV - BEGINS -->
					<nav class="columns sticky evo-site--pattern-library-sidenav-magellan" data-anchor="tabs-content-col" data-sticky-on="large" data-sticky>
						<ul class="menu vertical" data-magellan>
						{{#each type.data}}
							<li><a href="#{{hyphenate name}}">{{name}}</a></li>
						{{/each}}
						</ul>
					</nav>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>

		</section>
	<!-- TAB PANEL 1 - ENDS -->

	<!-- TAB PANEL 2 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel1">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					
				<!-- CONTENT SECTION - BEGINS -->
					<section class="evo-site-tabs-content--pattern-library-tab-content-section" id="{{hyphenate type.font_families_header}}">
						<div class="evo-site-markdown-content-block">
{{# markdown }}
##### {{type.font_families_header}}
Mercer digital projects will use the Proxima Nova font family. Proxima Nova is a modern typeface with a geometric appearance that has become one of the most popular web fonts within the past few years.
{{/ markdown }}
						</div>
					</section>
				<!-- CONTENT SECTION - ENDS -->

				<!-- FONT FAMILIES BOX - BEGINS -->
					{{#each type.font_families_data }}
					<div class="callout evo-callout evo-site-example-box">
						<header>
						<!-- EXAMPLE HEADER - BEGINS -->
							<h6 class="evo-hdr-rule" data-magellan-destination="{{hyphenate name}}">
								{{name}}
							</h6>
							<a name="{{hyphenate name}}"></a>
						<!-- EXAMPLE HEADER - ENDS -->
						</header>
						<section>
						<!-- RENDERED HTML - BEGINS -->
							<div class="evo-site-type-sample" data-evo-site-type-sample="{{type-sample}}">
								<div class="large-size">{{capitalizeFirst sample-letters}}</div>
								<div class="medium-size">
									<span>{{alphabet}}</span><br />
									{{lowercase alphabet}}<br />
									{{numbers-symbol}}
								</div>
							</div>
						<!-- RENDERED HTML - ENDS -->
						</section>
					</div>
					{{/each}}
				<!-- FONT FAMILIES BOX - ENDS -->

				<!-- CONTENT SECTION - BEGINS -->
					<section class="evo-site-tabs-content--pattern-library-tab-content-section" id="{{hyphenate type.hierarchy_header}}">
						<div class="evo-site-markdown-content-block">
{{# markdown }}
##### {{type.hierarchy_header}}
{{/ markdown }}
						</div>
					</section>
				<!-- CONTENT SECTION - ENDS -->

				<!-- HIERARCHY ROW - BEGINS -->
				{{#each type.hierarchy_data }}
					<div class="row evo-site-type-hierarchy-row">
						<div class="medium-6 large-7 columns evo-keyline-right">
							{{#if header}}<h6>{{header}}</h6>{{/if}}
							{{{example}}}
						</div>
						<div class="medium-6 large-5 columns">
							<ul class="evo-data-list evo-site-type-data-list">
								{{#each example_data }}
								<li>
									<span class="evo-data-list-label">{{label}}:</span>
									<span class="evo-data-list-item">{{item}}</span>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				{{/each}}
				<!-- HIERARCHY ROW - ENDS -->

				<!-- CONTENT SECTION - BEGINS -->
					<section class="evo-site-tabs-content--pattern-library-tab-content-section" id="{{hyphenate type.characters_header}}">
						<div class="evo-site-markdown-content-block">
{{# markdown }}
##### {{type.characters_header}}
This is a demo of Western Latin characters to show off the compatibility of the Evolution Web font (Proxima Nova) with the type of characters used in common Western European languages such as Spanish, Portuguese, French, German, etc.
{{/ markdown }}
						</div>
					</section>
				<!-- CONTENT SECTION - ENDS -->

				<!-- CHARACTERS DATA TABLE - BEGINS -->
					<div class="evo-table-small-mediaquery">
						<table class="hover evo-table" data-evo-data-table="evo-data-table-type-characters" width="100%" cellpadding="0" cellspacing="0" border="0" title="" summary="" role="grid">
							<thead>
								<tr>
									<th scope="column">Name</th>
									<th scope="column">Glyph</th>
								</tr>
							</thead>
							<tbody>
							{{#each type.characters_data}}
								<tr>
									<td>{{{ name }}}</td>
									<td>{{{ glyph }}}</td>
								</tr>
							{{/each}}
							</tbody>
						</table>
					</div>
				<!-- CHARACTERS DATA TABLE - ENDS -->

				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					
				<!-- SIDENAV - BEGINS -->
					<div class="evo-site--pattern-library-sidenav-magellan" data-evo-fixed-by-scroll="evo-magellan--side-nav" data-evo-magellan>
						<dl class="sub-nav">
							<dd><a data-evo-scroll-to-location href="#{{hyphenate type.font_families_header}}">{{type.font_families_header}}</a></dd>
							<dd><a data-evo-scroll-to-location href="#{{hyphenate type.hierarchy_header}}">{{type.hierarchy_header}}</a></dd>
							<dd><a data-evo-scroll-to-location href="#{{hyphenate type.characters_header}}">{{type.characters_header}}</a></dd>
						</dl>

						{{#is type.dependency_data.dependency 'true'}}

					<!-- SIDENAV ACCORDION - BEGINS -->
						<ul class="accordion evo-accordion evo-accordion-icons evo-site--pattern-library-sidenav-accordian" data-accordion data-options="multi_expand:true" role="tablist">

						<!-- DEPENDENCIES ACCORDION PANEL - BEGINS -->
							<li class="accordion-navigation">
								<a id="dependencies-accordion-heading" href="#dependencies-accordion" role="tab" aria-controls="dependencies-accordion" data-anijs="if: click, do: fadeIn animated, to: #dependencies-accordion, after: removeAnim;">{{pattern-library.sidenav.dependencies_header}}</a>
								<div id="dependencies-accordion" class="content active" role="tabpanel" aria-labelledby="dependencies-accordion-heading">

									<ul class="no-bullet">
										{{#is type.dependency_data.foundation 'true'}}
											<li><a href="{{pattern-library.sidenav.foundation_url}}" target="_blank">Foundation {{package.foundation_version}}</a>
											{{#if type.dependency_data.foundation_dependencies}}
												<ul>
												{{#each type.dependency_data.foundation_dependencies}}
													<li><a href="{{url}}" target="_blank">{{name}}</a></li>
												{{/each}}
												</ul>
											{{/if}}
											</li>
										{{/is}}
										{{#is type.dependency_data.evolution 'true'}}
											<li><a href="/">Evolution {{package.version}}</a>
											{{#if type.dependency_data.evolution_dependencies}}
												<ul>
												{{#each type.dependency_data.evolution_dependencies}}
													<li><a href="{{url}}">{{name}}</a></li>
												{{/each}}
												</ul>
											</li>
											{{/if}}
										{{/is}}
										{{#is type.dependency_data.jquery 'true'}}<li><a href="https://jquery.com/" target="_blank">jQuery {{package.jquery_version}}</a></li>{{/is}}
										{{#is type.dependency_data.jquery_ui 'true'}}
											<li><a href="https://jqueryui.com/" target="_blank">jQuery UI {{package.jquery_ui_version}}</a>
											{{#if type.dependency_data.jquery_ui_dependencies}}
												<ul>
												{{#each type.dependency_data.jquery_ui_dependencies}}
													<li><a href="{{url}}" target="_blank">{{name}}</a></li>
												{{/each}}
												</ul>
											{{/if}}
											</li>
										{{/is}}
										{{#each type.dependency_data.other}}
											<li><a href="{{url}}" {{#is external_link 'true'}}target="_blank"{{/is}}>{{name}}</a></li>
										{{/each}}
									</ul>

								</div>
							</li>
						<!-- DEPENDENCIES ACCORDION PANEL - ENDS -->

						</ul>
					<!-- SIDENAV ACCORDION - ENDS -->
						{{/is}}
						
					</div>
				<!-- SIDENAV - ENDS -->

				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 2 - BEGINS -->

	<!-- TAB PANEL 3 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel2">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					Content for something 3
				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
				<!-- SIDENAV - BEGINS -->
					<div class="evo-site--pattern-library-sidenav-magellan" data-evo-fixed-by-scroll="evo-magellan--side-nav" data-evo-magellan>
						{{!--
						<dl class="sub-nav">
							<dd><a data-evo-scroll-to-location href="#{{hyphenate }}">{{}}</a></dd>
						</dl>
						<hr>
						--}}
					</div>
				<!-- SIDENAV - ENDS -->
				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 3 - BEGINS -->

	<!-- TAB PANEL 4 - BEGINS -->
		<section class="tabs-panel evo-tabs-panel evo-site-tabs-content--pattern-library-tab-panel" id="evoPanel3">

			<section class="row" data-equalizer="tab-panel">
				<div class="medium-12 large-9 columns evo-keyline-right evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					
				<!-- CONTENT SECTION - BEGINS -->
					<section class="evo-site-tabs-content--pattern-library-tab-content-section" id="{{hyphenate type.text_alignment_header}}">
						<div class="evo-site-markdown-content-block">
{{# markdown}}
##### {{type.text_alignment_header}}
{{/ markdown}}
						</div>

					<!-- TEXT ALIGNMENT SETTINGS TABLE - BEGINS -->
						<div class="evo-table-small-mediaquery">
							<table class="hover evo-table evo-site-margin-padding-settings-table" data-evo-data-table="evo-data-table-margin-padding-settings" width="100%" cellpadding="0" cellspacing="0" border="0" title="" summary="" role="grid">
								<thead>
									<tr>
										<th scope="column">Class Value</th>
									</tr>
								</thead>
								<tbody>
								{{#each type.text_alignment_settings}}
									<tr>
										<td class="evo-site-margin-padding-settings-table--copy-cursor copy-to-clipboard" data-clipboard-snippet data-clipboard-text="{{ text-class }}">{{ text-class }}</td>
									</tr>
								{{/each}}
								</tbody>
							</table>
						</div>
					<!-- TEXT ALIGNMENT SETTINGS TABLE - ENDS -->

					</section>
				<!-- CONTENT SECTION - ENDS -->

				</div>
				<div class="large-3 columns show-for-large-up evo-spacer-padding-top-large" data-equalizer-watch="tab-panel">
					
				<!-- SIDENAV - BEGINS -->
					<div class="evo-site--pattern-library-sidenav-magellan" data-evo-fixed-by-scroll="evo-magellan--side-nav" data-evo-magellan>
						<dl class="sub-nav">
							<dd><a data-evo-scroll-to-location href="#{{hyphenate type.text_alignment_header}}">{{type.text_alignment_header}}</a></dd>
						</dl>
					</div>
				<!-- SIDENAV - ENDS -->

				</div>
			</section>
			
		</section>
	<!-- TAB PANEL 4 - BEGINS -->
	</div>
<!-- TABS - ENDS -->