<div class="row">
	<div class="small-9 columns">
		<h6 class="h6">Recommend</h6>

		<div class="row collapse">
			<div class="small-12 large-4 columns">
				<div class="evo-stream-item-ctn">
					<div class="evo-connection-line-right"></div>

					<div class="evo-icon-ctn" data-evo-active-open="pulse-animation">
						<img src="{{ "icon-heart-large.png" | asset_url }}">
					</div>

					<div class="evo-content-ctn">			
						<h3 class="h3">Select A Health Plan</h3>
						<h4 class="h4">Health</h4>
						<h5 class="h5">12 minutes to complete</h5>

						<div class="progress evo-progress small-12 round">
							<span class="meter" style="width: 30%"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="small-12 large-4 columns">
				<div class="evo-stream-item-ctn">
					<div class="evo-connection-line"></div>

					<div class="evo-icon-ctn">
						<img src="{{ "icon-piggy-bank-large.png" | asset_url }}">
					</div>

					<div class="evo-content-ctn">
						<h3 class="h3">My Financial Wellness</h3>
						<h4 class="h4">Wealth</h4>
						<h5 class="h5">12 minutes to complete</h5>

						<div class="progress evo-progress small-12 round">
							<span class="meter" style="width: 63%"></span>
						</div>
					</div>

				</div>
			</div>

			<div class="small-12 large-4 columns">
				<div class="evo-stream-item-ctn">
					<div class="evo-connection-line-left"></div>

					<div class="evo-icon-ctn">
						<img src="{{ "icon-briefcase-large.png" | asset_url }}">
					</div>

					<div class="evo-content-ctn">
						<h3 class="h3">My Career Goals</h3>
						<h4 class="h4">Career</h4>
						<h5 class="h5">8 minutes to complete</h5>

						<div class="progress evo-progress small-12 round">
							<span class="meter" style="width: 15%"></span>
						</div>
					</div>
				</div>
			</div>
		</div>

<br>
		<div class="row">
			<div class="small-12 large-4 columns">
				<div class="evo-connector-left-bottom"></div>
			</div>
			<div class="small-12 large-4 columns">
				<div class="evo-connector-center"></div>
			</div>
			<div class="small-12 large-4 columns">
				<div class="evo-connector-right-bottom"></div>
			</div>
		</div>
<br>

		<div class="row collapse">
			<div class="small-12 large-4 columns">
				<div class="evo-stream-item-ctn">
					<div class="evo-connection-line-right"></div>

					<div class="evo-icon-ctn">
						<img src="{{ "icon-target-large.png" | asset_url }}">
					</div>

					<div class="evo-content-ctn">			
						<h3 class="h3">My KPI Tracker</h3>
						<h4 class="h4">Career</h4>
						<h5 class="h5">3 minutes to complete</h5>

						<div class="progress evo-progress small-12 round">
							<span class="meter" style="width: 30%"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="small-12 large-4 columns">
				<div class="evo-stream-item-ctn evo-stream-item-future-step-ctn">
					<div class="evo-connection-line"></div>

					<div class="evo-icon-ctn">
						<img src="{{ "icon-find-a-doctor.png" | asset_url }}">
					</div>

					<div class="evo-content-ctn">
						<h3 class="h3">Find A Doctor</h3>
						<h4 class="h4">Health</h4>
						<h5 class="h5">4 minutes to complete</h5>

						<div class="progress evo-progress small-12 round">
							<span class="meter" style="width: 63%"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="small-12 large-4 columns">
				<div class="evo-stream-item-ctn evo-stream-item-future-step-ctn">
					<div class="evo-connection-line-left"></div>

					<div class="evo-icon-ctn">
						<img src="{{ "icon-track-plan-usage.png" | asset_url }}">
					</div>

					<div class="evo-content-ctn">
						<h3 class="h3">Track Plan Usage</h3>
						<h4 class="h4">Health</h4>
						<h5 class="h5">2 minutes to complete</h5>

						<div class="progress evo-progress small-12 round">
							<span class="meter" style="width: 15%"></span>
						</div>
					</div>
				</div>
			</div>
		</div>	



	</div>
	<div class="small-3 columns">

		<div class="evo-stream-completed-steps-ctn">
			<h6 class="h6">Completed Steps</h6>

			<div class="evo-stream-item-ctn">
				<div class="evo-icon-ctn">
					<img src="{{ "icon-hello-large.png" | asset_url }}">
				</div>

				<div class="evo-content-ctn">			
					<h3 class="h3">Tell Us About Yourself</h3>
					<h4 class="h4">Setup</h4>
					<h5 class="h5">Finished!!</h5>
				</div>
			</div>

			<div class="evo-stream-item-ctn evo-stream-item-placeholder-ctn">
				<div class="evo-icon-ctn"></div>
			</div>
			<div class="evo-stream-item-ctn evo-stream-item-placeholder-ctn">
				<div class="evo-icon-ctn"></div>
			</div>
		</div>
	</div>
</div>
