{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

	<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>

			<section class="row">
				<div class="small-3 columns">
					<p>Version: {{ model.version_number }}</p>		
				</div>
				<div class="small-9 columns">
					<p class="right">
						<span class="label radius evo-label" data-evo-background-color="sapphire-bright">Benefits Portals</span>
					</p>	
				</div>
			</section>
			
		</div>
	<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

	<!-- PAGE MAGELLAN NAV - BEGINS -->
		<div class="small-12 columns">
			<div class="evo-magellan" data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="basic"><a href="#basic">Basic</a></dd>
					<dd data-magellan-arrival="options"><a href="#options">Options</a></dd>
					<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
					<dd class="site-html-ctn-toggle">
						<a href="javascript:;" class="site-get-code">Get Code<i class="evo-icon-arrow-right5 evo-icon-position-left"></i></a>
					</dd>
				</dl>
			</div>
		</div>
	<!-- PAGE MAGELLAN NAV - ENDS -->
	
	</section>
<!-- PAGE INTRO - ENDS -->

<!-- EXAMPLE - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

		<!-- SHOWCASE PANEL EXAMPLE - BEGINS -->
			<h3 data-magellan-destination="basic">Basic</h3>
			<a name="basic"></a>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="small-12 columns">
						<h6>Rendered HTML</h6>
						{{ "/reference/components/showcase-panel/showcase-panel.css" | asset_url | stylesheet_tag }}
						{% include "/reference/components/showcase-panel/showcase-panel" %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="small-12 columns site-html-ctn">

					<!-- EXAMPLE HTML - BEGINS -->
						<br />
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include "/reference/components/showcase-panel/showcase-panel" %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- SHOWCASE PANEL EXAMPLE - ENDS -->

		<!-- OPTIONS - BEGINS -->
			<h3 data-magellan-destination="options">Options</h3>
			<a name="options"></a>
			
			<!-- OPTIONS CONTENT - BEGINS -->
				<section class="row">
					<div class="small-12 columns">

						<h5>Color Reverse</h5>

						<p>To create a showcase panel with a reverse text color on a dark background use this data attribute on the overall component container: <code>data-evo-showcase-panel-color-reverse</code>.</p>

						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}<div class="evo-showcase-panel" data-evo-showcase-panel-color-reverse data-evo-background-color="garnet-medium">{{ global.reference-get-code-end-tag }}

						<h5>Fixed</h5>

						<p>To fix the showcase panel to the top of a page but under a header such as a top bar use the following data attribute on the overall component container: <code>data-evo-showcase-panel-fixed</code>.</p>

						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}<div class="evo-showcase-panel" data-evo-showcase-panel-fixed>{{ global.reference-get-code-end-tag }}

						<!-- ANNOTATIONS BOX - BEGINS -->
							<div class="panel evo-box annotations">
								<div class="evo-box-bdy">
									<p class="evo-no-margin-bottom"><strong>IMPORTANT:</strong> You may need to adjust the top positioning of the fixed showcase panel depending on the height of your site header. Along with this, you might also need to adjust the margin under your site header to push page content down so its not overlapped by the fixed showcase panel. Lastly, if using fixed showcase panel with a off-canvas solution, the off-canvas needs to be positioned fixed with a correct z-index value and width of 100%. The fixed showcase panel then need to be adjusted down below the off-canvas tab bar. All of this can be seen in the live demo.</p>
								</div>
							</div>
						<!-- ANNOTATIONS BOX - ENDS -->

						<a href="/bp/components/showcase-panel/demo" target="_blank" class="button radius evo-button evo-site-button" id="" role="button" title="Live Demo" aria-label="">Live Demo</a>

					</div>
				</section>
			<!-- OPTIONS CONTENT - END -->

			<hr />
		<!-- OPTIONS - ENDS -->

		<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<h3 data-magellan-destination="advanced">Advanced</h3>
					<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-evolution == "true" %}
								<li>
									<a href="/">Evolution Core {{ global.version_number }}</a>
								</li>
							{% endif %}

							{% if model.reference-dependency-foundation == "true" %}
								<li>
									<a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a>
									<ul>
										<li>
											<a href="http://foundation.zurb.com/docs/components/block_grid.html" target="_blank">Block Grid</a>
										</li>
									</ul>
								</li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li>
									<a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a>
								</li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
		<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- EXAMPLE - ENDS -->

{% endblock %}