	<h4 class="mul-hdr-rule">{{ item.section-hdr | upcase }}</h4>

<!-- SECTION - BEGINS -->
	<ul class="mul-vertical-list">
		{% for item in item.main-section %}
		<li><a href="{{ item.url }}">{{ item.link-name }}</a></li>
		{% endfor %}
	</ul>
<!-- SECTION - ENDS -->


<!-- SUB-SECTION - BEGINS -->
	{% for item in item.sub-section-group %}
		<h5>{{ item.sub-section-hdr }}</h5>
		<ul class="mul-vertical-list">
			{% for item in item.sub-section %}
			<li><a href="{{ item.url }}">{{ item.link-name }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
<!-- SUB-SECTION - ENDS -->