<!-- DATEPICKER EXAMPLE SECTION - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-example-section" id="{{ model.standard-component-name-id-09 }}">
			<section class="row">

			<!-- COMPONENT HEADER - BEGINS -->
				<div class="medium-7 columns">
					<h3 class="evo-site-category-pages-header">{{ model.standard-component-name-09 }}</h3>
				</div>
			<!-- COMPONENT HEADER - ENDS -->

			<!-- TABS - BEGINS -->
				<div class="medium-5 columns">
					<ul class="tabs evo-tabs-titles-category-pages" data-tab role="tablist">
						<li class="tab-title active" role="presentation">
							<a href="#{{ model.standard-component-name-id-09 }}-1" role="tab" tabindex="0" aria-selected="true" aria-controls="tabs1" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Overview"><span class="text"><i class="evo-icon-site-newspaper evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Overview" aria-label="Overview"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.standard-component-name-id-09 }}-2" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs2" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Usage"><span class="text"><i class="evo-icon-site-book3 evo-icon-size-small evo-center-block-vertical-element evo-center-block active" title="Usage" aria-label="Usage"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.standard-component-name-id-09 }}-3" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs3" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Mobile"><span class="text"><i class="evo-icon-site-mobile evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Mobile" aria-label="Mobile"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.standard-component-name-id-09 }}-4" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs4" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Technical"><span class="text"><i class="evo-icon-site-file-xml2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Technical" aria-label="Technical"></i></span></a>
						</li>
						<li class="tab-title evo-no-padding-right evo-component-page-tab-back-to-top" role="presentation">
							<a data-scroll-to-top href="#top" tabindex="0" aria-selected="false" aria-controls="" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Back to Top"><span class="text"><i class="evo-icon-circle-up2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" aria-label="Back to Top"></i></span></a>
						</li>
					</ul>
				</div>
			<!-- TABS - ENDS -->

			</section>

		<!-- COMPONENT EXAMPLE - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<hr class="evo-site-component-divider">

					<div class="tabs-content evo-tabs-content-category-pages">

					<!-- TAB 1 (overview section) - BEGINS -->
						<section role="tabpanel" aria-hidden="false" class="content active" id="{{ model.standard-component-name-id-09 }}-1">
						<!-- COMPONENT TITLE AND DESCRIPTION - BEGINS -->
							<p>The Auto Complete add on feature automatically inputs suggested items for users while filling out any type of form. Auto Complete text is generated from a pre-defined list as the user types content into the Form Field. This control works well when input speed is important for the user or when data might be entered in different ways. 
							</p>
						<!-- COMPONENT TITLE AND DESCRIPTION - ENDS -->
						</section>
					<!-- TAB 1 (overview section) - ENDS -->

					<!-- TAB 2 (usage section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.standard-component-name-id-09 }}-2">
							<p>The Auto Complete feature should be used when issues of ambiguity might arise (in place of a Text Input) while filling out a form. It’s great when extremely long lists of predefined data preclude the use of a drop down selection. It’s also quite useful when the user only has a certain amount of time to fill out a form.</p>
							<ul>
								<li>The Auto Complete control should be able to support "Starts With" or "Contains" searches, although the preference is to default to "Contains" in order to maximize the return.</li>
								<li>Suggest Values should be a Drop Down field.</li>
							</ul>
						</section>
					<!-- TAB 2 (usage section) - ENDS -->

					<!-- TAB 3 (mobile section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.standard-component-name-id-09 }}-3">
							<p>On a small mobile device such as a phone, when a user searches for content the Auto Complete search results are restricted to show only 3 items.</p>
						</section>
					<!-- TAB 3 (mobile section) - ENDS -->

					<!-- TAB 4 (get code section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.standard-component-name-id-09 }}-4">
							
							<p>Please use the Evolution Core <a href="/reference/objects/autocomplete">autocomplete reference</a> to get code for this standard.</p>

						</section>
					<!-- TAB 4 (get code section) - ENDS -->

					</div>
				</div>
			</section>

			<section class="row">
				<div class="medium-4 columns">

				<!-- COMPONENT CODE - BEGINS -->
					{% include "/content/components/objects/autocomplete/autocomplete" %}
				<!-- COMPONENT CODE - ENDS -->

				</div>
				<div class="medium-8 columns"></div>
			</section>
		<!-- COMPONENT EXAMPLE - ENDS -->

		</div>
	</section>
<!-- DATEPICKER EXAMPLE SECTION - ENDS -->