<div class="evo-item-selection-panel">
	<div class="evo-category-hdr-ctn">
		<h6 class="evo-category-label">Skill Goals</h6>
	</div>
	<ul class="small-block-grid-3 medium-block-grid-6">
		<li>
			<a href="javascript:;" class="evo-category-ctn js-evo-category-highlight">
				<img class="evo-clip-art-icon-size-medium" src="{{ "icon_communication_skills.png" | asset_url }}" />
				<span class="item-label">Communication Skills</span>
			</a>
		</li>
		<li>
			<a href="javascript:;" class="evo-category-ctn js-evo-category-highlight">
				<img class="evo-clip-art-icon-size-medium" src="{{ "icon_presentation_skills.png" | asset_url }}" />
				<span class="item-label">Presentation Skills</span>
			</a>
		</li>
		<li>
			<a href="javascript:;" class="evo-category-ctn js-evo-category-highlight">
				<img class="evo-clip-art-icon-size-medium" src="{{ "icon_management_skills.png" | asset_url }}" />
				<span class="item-label">Management Skills</span>
			</a>
		</li>
		<li>
			<a href="javascript:;" class="evo-category-ctn js-evo-category-highlight">
				<img class="evo-clip-art-icon-size-medium" src="{{ "icon_vision.png" | asset_url }}" />
				<span class="item-label">Vision</span>
			</a>
		</li>
		<li>
			<a href="javascript:;" class="evo-category-ctn js-evo-category-highlight">
				<img class="evo-clip-art-icon-size-medium" src="{{ "icon_contact_lenses.png" | asset_url }}" />
				<span class="item-label">Contacts</span>
			</a>
		</li>
		<li>
			<a href="javascript:;" class="evo-category-ctn js-evo-category-highlight">
				<img class="evo-clip-art-icon-size-medium" src="{{ "icon_accidental.png" | asset_url }}" />
				<span class="item-label">Accidental</span>
			</a>
		</li>
	</ul>
</div>