{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

	<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>
		</div>
	<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

	<!-- PAGE MAGELLAN NAV - BEGINS -->
		<div class="small-12 columns">
			<div class="evo-magellan" data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="basic"><a href="#basic">Basic</a></dd>
					<dd data-magellan-arrival="sizes"><a href="#sizes">Sizes</a></dd>
					<dd data-magellan-arrival="colors"><a href="#colors">Colors</a></dd>
					<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
					<dd class="site-html-ctn-toggle">
						<a href="javascript:;" class="site-get-code">Get Code<i class="evo-icon-arrow-right5 evo-icon-position-left"></i></a>
					</dd>
				</dl>
			</div>
		</div>
	<!-- PAGE MAGELLAN NAV - ENDS -->

	</section>
<!-- PAGE INTRO - ENDS -->

<!-- EXAMPLE - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

		<!-- BASIC - BEGINS -->
			<h3 data-magellan-destination="basic">Basic</h3>
			<a name="basic"></a>

			<section class="row">

			<!-- EXAMPLE RENDERED CODE - BEGINS -->
				<div class="medium-6 columns">
					<h6>Rendered HTML</h6>
					{% include '/reference/objects/badges/badges' %}
				</div>
			<!-- EXAMPLE RENDERED CODE - ENDS -->

			<!-- EXAMPLE CODE - BEGINS -->
				<div class="medium-6 columns site-html-ctn">
					<h6>HTML</h6>
					{{ global.reference-get-code-start-tag }}{% include '/reference/objects/badges/badges' %}{{ global.reference-get-code-end-tag }}
				</div>
			<!-- EXAMPLE CODE - ENDS -->

			</section>
			<hr />
		<!-- BASIC - ENDS -->

		<!-- SIZES - BEGINS -->
			<h3 data-magellan-destination="sizes">Sizes</h3>
			<a name="sizes"></a>
			<p>
				You can modify the badge size by adding the data attribute <code>data-evo-badge-size</code> with the corresponding data value. The data values available for <code>data-evo-badge-size</code> are <code>small</code>, <code>medium</code>, <code>large</code>, or <code>x-large</code>.
			</p>

			<section class="row">

			<!-- EXAMPLE RENDERED CODE - BEGINS -->
				<div class="medium-6 columns">
					<h6>Rendered HTML</h6>
					{% include '/reference/objects/badges/badges-sizes' %}
				</div>
			<!-- EXAMPLE RENDERED CODE - ENDS -->

			<!-- EXAMPLE CODE - BEGINS -->
				<div class="medium-6 columns site-html-ctn">
					<h6>HTML</h6>
					{{ global.reference-get-code-start-tag }}{% include '/reference/objects/badges/badges-sizes' %}{{ global.reference-get-code-end-tag }}
				</div>
			<!-- EXAMPLE CODE - ENDS -->

			</section>
			<hr />
		<!-- SIZES - ENDS -->

		<!-- COLORS - BEGINS -->
			<h3 data-magellan-destination="colors">Colors</h3>
			<a name="colors"></a>
			<p>
				You can modify the badge font color and background color by adding the data attributes <code>data-evo-font-color</code> or <code>data-evo-background-color</code>.
			</p>
			<p>
				Use the <a href="/reference/base/colors">colors reference</a> to get the values you need for the data attributes. The color name corresponds to the value needed for the data attribute. For example if you wanted a background color you would use the <code>amethyst-bright</code> value in the <code>data-evo-background-color</code> attribute: <code>data-evo-background-color="amethyst-bright"</code>.
			</p>
			<p>
				You can also modify the background color of a badge by adding these specific use classes: <code>.alert</code>, <code>.warning</code>, <code>.success</code>, or <code>.info</code>.
			</p>

			<section class="row">

			<!-- EXAMPLE RENDERED CODE - BEGINS -->
				<div class="medium-6 columns">
					<h6>Rendered HTML</h6>
					{% include '/reference/objects/badges/badges-colors' %}
				</div>
			<!-- EXAMPLE RENDERED CODE - ENDS -->

			<!-- EXAMPLE HTML - BEGINS -->
				<div class="medium-6 columns site-html-ctn">
					<h6>HTML</h6>
					{{ global.reference-get-code-start-tag }}{% include '/reference/objects/badges/badges-colors' %}{{ global.reference-get-code-end-tag }}
				</div>
			<!-- EXAMPLE HTML - ENDS -->

			</section>
			<hr />
		<!-- COLORS - ENDS -->

		<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

				<h3 data-magellan-destination="advanced">Advanced</h3>
				<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-foundation == "true" %}
								<li>
									<a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a>
									<ul>
										<li>
											<a href="http://foundation.zurb.com/docs/components/labels.html" target="_blank">Labels</a>
										</li>
									</ul>
								</li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
		<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- EXAMPLE - ENDS -->

{% endblock %}