{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

		<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
			<div class="small-12 columns">
				<h1>{{ model.title }}</h1>
				<p>
					Breadcrumbs come in handy to show a navigation trail for users clicking through a site or app. They'll fill out 100% of the width of their parent container.
				</p>
			</div>
		<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

		<!-- PAGE MAGELLAN NAV - BEGINS -->
			<div class="small-12 columns">
				<div class="evo-magellan" data-magellan-expedition="fixed">
					<dl class="sub-nav">
						<dd data-magellan-arrival="basic"><a href="#basic">Basic</a></dd>
						<dd data-magellan-arrival="navigation"><a href="#navigation">Navigation</a></dd>
						<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
					<dd class="site-html-ctn-toggle">
						<a href="javascript:;" class="site-get-code">Get Code<i class="evo-icon-arrow-right5 evo-icon-position-left"></i></a>
					</dd>
					</dl>
				</div>
			</div>
		<!-- PAGE MAGELLAN NAV - ENDS -->

	</section>
<!-- PAGE INTRO - ENDS -->

<!-- EXAMPLE - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

		<!-- BASIC BREADCRUMBS - BEGINS -->
			<h3 data-magellan-destination="basic">Basic</h3>
			<a name="basic"></a>

			<p>
				Add classes of <code>.breadcrumbs .evo-breadcrumbs</code> to a <code>ul</code> element. List items will automatically be styled, and you can add <code>.current</code> or <code>.unavailable</code> classes to list items to denote their state.
			</p>

			<section class="row">

			<!-- EXAMPLE RENDERED CODE - BEGINS -->
				<div class="medium-6 columns">
					<h6>Rendered HTML</h6>
					{% include '/reference/objects/breadcrumbs/breadcrumbs' %}
				</div>
			<!-- EXAMPLE RENDERED CODE - ENDS -->

			<!-- EXAMPLE HTML - BEGINS -->
				<div class="medium-6 columns site-html-ctn">
					<h6>HTML</h6>
					{{ global.reference-get-code-start-tag }}{% include '/reference/objects/breadcrumbs/breadcrumbs' %}{{ global.reference-get-code-end-tag }}
				</div>
			<!-- EXAMPLE HTML - ENDS -->

			</section>
		<!-- BASIC BREADCRUMBS - ENDS -->

		<hr>
		<!-- NAVIGATION BREADCRUMBS - BEGINS -->
			<h3 data-magellan-destination="navigation">Navigation</h3>
			<a name="navigation"></a>

			<p>
				You can also add <code>.breadcrumbs .evo-breadcrumbs</code> classes to a <code>nav</code> element containing anchor links to get the same result.
			</p>

			<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/objects/breadcrumbs/breadcrumbs-navigation' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE HTML - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/breadcrumbs/breadcrumbs-navigation' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE HTML - ENDS -->

				</section>
		<!-- BASIC BREADCRUMBS - ENDS -->

		<hr>
		<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<h3 data-magellan-destination="advanced">Advanced</h3>
					<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-foundation == "true" %}
								<li>
									<a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a>
									<ul>
										<li>
											<a href="http://foundation.zurb.com/docs/components/breadcrumbs.html" target="_blank">Breadcrumbs</a>
										</li>
									</ul>
								</li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
		<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- EXAMPLE - ENDS -->

{% endblock %}