{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

	<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>
			<p>
				Data Tables are an element meant to organize data on a page with added functionality such as sorting, filtering, and pagination. Evolution Core data tables depend on Foundation's <a href="http://foundation.zurb.com/docs/components/tables.html" target="_blank">Tables</a> as a starting point. The interactive elements of the data table (sorting, filtering, pagination, etc.) depend on <a href="http://datatables.net/" target="_blank">DataTables</a> jQuery Plugin and Foundation's <a href="http://foundation.zurb.com/docs/components/pagination.html" target="_blank">Pagination</a> component.
			</p>
		</div>
	<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

	<!-- PAGE MAGELLAN NAV - BEGINS -->
		<div class="small-12 columns">
			<div class="evo-magellan" data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="dataTable"><a href="#dataTable">Basic</a></dd>
					<dd data-magellan-arrival="subtotalRow"><a href="#subtotalRow">Subtotal Row</a></dd>
					<dd data-magellan-arrival="totalRow"><a href="#totalRow">Total Row</a></dd>
					<dd data-magellan-arrival="verticalScroll"><a href="#verticalScroll">Vertical Scroll</a></dd>
					<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
					<dd class="site-html-ctn-toggle">
						<a href="javascript:;" class="site-get-code">Get Code<i class="evo-icon-arrow-right5 evo-icon-position-left"></i></a>
					</dd>
				</dl>
			</div>
		</div>
	<!-- PAGE MAGELLAN NAV - ENDS -->

	</section>
<!-- PAGE INTRO - ENDS -->

<!-- EXAMPLE - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

		<!-- DATA TABLE - BEGINS -->
			<h3 data-magellan-destination="dataTable">Basic</h3>
			<a name="dataTable"></a>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="small-12 columns site-html-ctn">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>
							{{ global.reference-get-code-start-tag }}{% include '/reference/objects/data-table/data-table' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					<!-- EXAMPLE JS - BEGINS -->
						<h6>Javascript</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/js/objects/data-table/data-table' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE JS - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="small-12 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/objects/data-table/data-table' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- DATA TABLE - ENDS -->

		<!-- SUBTOTAL ROW - BEGINS -->
			<h3 data-magellan-destination="subtotalRow">Subtotal Row</h3>
			<a name="subtotalRow"></a>
			<p>The Subtotal Row is a Data Table Add-On. It functions the same way the Total Row Add-On does, it's just a different color.</p>

			<!-- EXAMPLE - BEGINS -->
				<section class="row">

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="small-12 columns site-html-ctn">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>

						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/data-table/data-table-subtotal' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					<!-- EXAMPLE JS - BEGINS -->
						<h6>Javascript</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/js/objects/data-table/data-table' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE JS - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="small-12 columns">
						<h6>Rendered HTML</h6>

						{% include '/reference/objects/data-table/data-table-subtotal' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
			<!-- EXAMPLE - ENDS -->

			<hr />
		<!-- SUBTOTAL ROW - ENDS -->

		<!-- TOTAL ROW - BEGINS -->
			<h3 data-magellan-destination="totalRow">Total Row</h3>
			<a name="totalRow"></a>
			<p>The Total Row is a Data Table Add-On. It functions the same way the Subtotal Row Add-On does, it’s just a different color.</p>

			<!-- EXAMPLE - BEGINS -->
				<section class="row">

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="small-12 columns site-html-ctn">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>

						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/data-table/data-table-total' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					<!-- EXAMPLE JS - BEGINS -->
						<h6>Javascript</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/js/objects/data-table/data-table' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE JS - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="small-12 columns">
						<h6>Rendered HTML</h6>

						{% include '/reference/objects/data-table/data-table-total' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
			<!-- EXAMPLE- ENDS -->

			<hr />
		<!-- TOTAL ROW - ENDS -->

		<!-- VERTICAL SCROLL - BEGINS -->
			<h3 data-magellan-destination="verticalScroll">Vertical Scroll</h3>
			<a name="verticalScroll"></a>

			<!-- EXAMPLE - BEGINS -->
				<section class="row">

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="small-12 columns site-html-ctn">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>

						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/data-table/data-table-vertical-scroll' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					<!-- EXAMPLE JS - BEGINS -->
						<h6>Javascript</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/js/objects/data-table/data-table-vertical-scroll' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE JS - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="small-12 columns">
						<h6>Rendered HTML</h6>

						{% include '/reference/objects/data-table/data-table-vertical-scroll' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
			<!-- EXAMPLE- ENDS -->

			<hr />
		<!-- VERTICAL SCROLL - ENDS -->

		<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<h3 data-magellan-destination="advanced">Advanced</h3>
					<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-foundation == "true" %}
								<li>
									<a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a>
									<ul>
										<li>
											<a href="http://foundation.zurb.com/docs/components/tables.html" target="_blank">Tables</a>
										</li>
										<li>
											<a href="http://foundation.zurb.com/docs/components/pagination.html" target="_blank">Pagination</a>
										</li>
									</ul>
								</li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
		<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- EXAMPLE - ENDS -->

{% endblock %}