{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

	<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>
			<p>
				Progress Bar is used to provide graphical view of the progress of a specific step or action. It represents a static view of the current status. It is not intended to be a dynamic representation of the user's progress on the task or step. You only need two HTML elements to make them and they're easy to customize.
			</p>
		</div>
	<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

	<!-- PAGE MAGELLAN NAV - BEGINS -->
		<div class="small-12 columns">
			<div class="evo-magellan" data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="basic"><a href="#basic">Basic</a></dd>
					<dd data-magellan-arrival="shapes"><a href="#shapes">Shapes</a></dd>
					<dd data-magellan-arrival="width"><a href="#width">Width</a></dd>
					<dd data-magellan-arrival="color"><a href="#color">Meter Color</a></dd>
					<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
				</dl>
			</div>
		</div>
	<!-- PAGE MAGELLAN NAV - ENDS -->

	</section>
<!-- PAGE INTRO - ENDS -->

<!-- EXAMPLE - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

	<!-- BASIC - BEGINS -->
		<h3 data-magellan-destination="basic">Basic</h3>
		<a name="basic"></a>

		<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

					<div class="medium-6 columns">

					<!-- EXAMPLE CODE - BEGINS -->
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/progress-bar/progress-bar' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE CODE - ENDS -->

					</div>

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/objects/progress-bar/progress-bar' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
		<!-- EXAMPLE DEMO - ENDS -->

		<hr />
	<!-- BASIC - ENDS -->

	<!-- SHAPES - BEGINS -->
			<h3 data-magellan-destination="shapes">Shapes</h3>
			<a name="shapes"></a>
			<p>Adding the classes <code>.radius</code> or <code>.round</code> to a progress bar will apply the border radius only to the outside corners.</p>
			
				<h4>Radius</h4>

			<!-- EXAMPLE CODE - BEGINS -->
				<section class="row">
				<!-- EXAMPLE HTML - BEGINS -->
					<div class="medium-6 columns">
						<h6>HTML</h6>					
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/progress-bar/progress-bar-radius' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE HTML - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>

						{% include '/reference/objects/progress-bar/progress-bar-radius' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
			<!-- EXAMPLE CODE - ENDS -->
				
				<h4 class="evo-spacer-margin-top-medium">Round</h4>

			<!-- EXAMPLE CODE - BEGINS -->
				<section class="row">
				<!-- EXAMPLE HTML - BEGINS -->
					<div class="medium-6 columns">
						<h6>HTML</h6>					
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/progress-bar/progress-bar-round' %}{{ global.reference-get-code-end-tag }}
				<!-- EXAMPLE HTML - ENDS -->

					</div>
			<!-- EXAMPLE CODE - ENDS -->

			<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>

						{% include '/reference/objects/progress-bar/progress-bar-round' %}
					</div>
			<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>				
				<hr />
	<!-- SHAPES - ENDS -->

	<!-- WIDTH - BEGINS -->
		<h3 data-magellan-destination="width">Width</h3>
		<a name="width"></a>
		<p>The width of the Progress Bar is set using the <code>width</code> style. It should be a percentage between 1 and 100%.</p>

		<!-- EXAMPLE DEMO - BEGINS -->
			<section class="row">

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/progress-bar/progress-bar-width' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/objects/progress-bar/progress-bar-width' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

			</section>			
			<hr />
		<!-- EXAMPLE DEMO - ENDS -->
	<!-- WIDTH - ENDS -->

	<!-- METER COLOR - BEGINS -->
		<h3 data-magellan-destination="color">Meter Color</h3>
		<a name="color"></a>
		<p>
			You can modify the color of a progress bar meter by adding the data attribute <code>data-evo-background-color</code> or by adding these specific use classes: <code>.alert</code> or <code>.success</code>.
		</p>
		<p>
			Use the <a href="/reference/base/colors">colors reference</a> to get the values you need for the data attribute. The color name corresponds to the value needed for the data attribute. For example if you wanted a background color you would use the <code>sapphire-dark</code> value in the <code>data-evo-background-color</code> attribute: <code>data-evo-background-color="sapphire-dark"</code>.
		</p>

		<!-- EXAMPLE DEMO - BEGINS -->
			<section class="row">

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/progress-bar/progress-bar-meter-color' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/objects/progress-bar/progress-bar-meter-color' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

			</section>			
			<hr />
		<!-- EXAMPLE DEMO - ENDS -->
	<!-- METER COLOR- ENDS -->

	<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<h3 data-magellan-destination="advanced">Advanced</h3>
					<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-foundation == "true" %}
								<li>
									<a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a>
									<ul>
										<li>
											<a href="http://foundation.zurb.com/docs/components/progress_bars.html" target="_blank">Progress Bars</a>
										</li>
									</ul>
								</li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
	<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- EXAMPLE - ENDS -->

{% endblock %}