{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

	<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>
			<p>
				The Modal Window provides information to the user that supplements or impacts the current site or application page. Examples of Modal Windows include a small window popping up to allow for editing data on a form, a separate window providing more details for the current entity, or using a mini "wizard" flow to present separate information.
			</p>
		</div>
	<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

	<!-- PAGE MAGELLAN NAV - BEGINS -->
		<div class="small-12 columns">
			<div class="evo-magellan" data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="default"><a href="#default">Default Settings</a></dd>
					<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
				</dl>
			</div>
		</div>
	<!-- PAGE MAGELLAN NAV - ENDS -->

	</section>
<!-- PAGE INTRO - ENDS -->

<!-- EXAMPLE - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

		<!-- DEFAULT SETTINGS - BEGINS -->
			<h3 data-magellan-destination="default">Default Settings</h3>
			<a name="default"></a>

			<!-- ANNOTATIONS BOX - BEGINS -->
				<div class="panel evo-box annotations">
					<div class="evo-box-bdy">
						<ul class="no-bullet evo-no-margin-bottom">
							<li>
								<strong>To launch a modal</strong>, just add a <code>.data-reveal-id</code> to the object which you want to fire the modal when clicked. The <code>.data-reveal-id</code> needs to match the <code>id</code> of your reveal.
							</li>
							<li>
								Removing the background on a reveal modal is simple, just add the following class to the reveal modal div: <code>.reveal-modal-bg</code>.
							</li>
						</ul>
					</div>
				</div>
			<!-- ANNOTATIONS BOX - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/reveal/reveal-default' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/objects/reveal/reveal-default' %}

					<!-- SMALL REVEAL - BEGINS -->
						<a href="" class="button radius evo-button" data-reveal-id="smallModal" id="" tabindex="" title="">Small Modal Size</a>
						<div id="smallModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<h3>Small Modal Size</h3>
							<p>This modal window is set to 40%. The <code>.small</code> class has been added</p>.
							<a class="close-reveal-modal" aria-label="Close"><i class="evo-icon-cancel-circle"></i></a>
						</div>
					<!-- SMALL REVEAL - ENDS -->

					<!-- MEDIUM REVEAL - BEGINS -->
						<a href="" class="button radius evo-button" data-reveal-id="mediumModal" id="" tabindex="" title="">Medium Modal Size</a>
						<div id="mediumModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<h3>Medium Modal Size</h3>
							<p>This modal window is set to 60%. The <code>.medium</code> class has been added</p>.
							<a class="close-reveal-modal" aria-label="Close"><i class="evo-icon-cancel-circle"></i></a>
						</div>
					<!-- MEDIUM REVEAL - ENDS -->

					<!-- LARGE REVEAL - BEGINS -->
						<a href="" class="button radius evo-button" data-reveal-id="largeModal" id="" tabindex="" title="">Large Modal Size</a>
						<div id="largeModal" class="reveal-modal large" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<h3>Large Modal Size</h3>
							<p>This modal window is set to 70%. The <code>.large</code> class has been added</p>.
							<a class="close-reveal-modal" aria-label="Close"><i class="evo-icon-cancel-circle"></i></a>
						</div>
					<!-- LARGE REVEAL - ENDS -->

					<!-- XLARGE REVEAL - BEGINS -->
						<a href="" class="button radius evo-button" data-reveal-id="xlargeModal" id="" tabindex="" title="">XLarge Modal Size</a>
						<div id="xlargeModal" class="reveal-modal xlarge" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<h3>XLarge Modal Size</h3>
							<p>This modal window is set to 95%. The <code>.xlarge</code> class has been added</p>.
							<a class="close-reveal-modal" aria-label="Close"><i class="evo-icon-cancel-circle"></i></a>
						</div>
					<!-- XLARGE REVEAL - ENDS -->

					<!-- FULL REVEAL - BEGINS -->
						<a href="" class="button radius evo-button" data-reveal-id="fullModal" id="" tabindex="" title="">Full Modal Size</a>
						<div id="fullModal" class="reveal-modal full" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<h3>Full Modal Size</h3>
							<p>This modal window is set to 100% width and height. The <code>.full</code> class has been added</p>.
							<a class="close-reveal-modal" aria-label="Close"><i class="evo-icon-cancel-circle"></i></a>
						</div>
					<!-- FULL REVEAL - ENDS -->
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- DEFAULT SETTINGS - ENDS -->

		<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<h3 data-magellan-destination="advanced">Advanced</h3>
					<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-foundation == "true" %}
								<li>
									<a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a>
									<ul>
										<li>
											<a href="http://foundation.zurb.com/docs/components/reveal.html" target="_blank">Reveal Modal</a>
										</li>
									</ul>
								</li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
		<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- EXAMPLE - ENDS -->

{% endblock %}