{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

	<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>			
			<p>
				Switches are toggle element that switch between an Off and On state on tap or click. They make use of checkbox inputs (or radio buttons) and require no javascript.
			</p>
		</div>

	<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

	<!-- PAGE MAGELLAN NAV - BEGINS -->
	<div class="small-12 columns">
		<div class="evo-magellan" data-magellan-expedition="fixed">
			<dl class="sub-nav">
				<dd data-magellan-arrival="checkboxes"><a href="#checkboxes">Switches Checkboxes</a></dd>
				<dd data-magellan-arrival="radio"><a href="#radio">Switches Radio</a></dd>
				<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
			</dl>
		</div>
	</div>
		<!-- PAGE MAGELLAN NAV - ENDS -->

	</section>
<!-- PAGE INTRO - ENDS -->

<!-- EXAMPLE- BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

			<!-- ANNOTATIONS BOX - BEGINS -->
				<div class="panel evo-box annotations">
					<div class="evo-box-bdy">
						<p class="evo-no-margin-bottom">The class options:</p>
						<br />
						<ul>
						 	<li><code>radius</code>: Add this to the the switch container to get a 3px radius paddle and edges</li>
						    <li><code>round</code>: Add this to the the switch container to get a round paddle and edges</li>
						    <li><code>tiny</code>: Set the height and text of the switch to tiny</li>
						    <li><code>small</code>: Set the height and text of the switch to small</li>
						    <li><code>large</code>: Set the height and text of the switch to large</li>
						</ul>
					</div>
				</div>
			<!-- ANNOTATIONS BOX - ENDS -->

		<!-- SWITCHES BASIC - BEGINS -->
			<h3 data-magellan-destination="checkboxes">Switches Checkboxes</h3>
			<a name="checkboxes"></a>		
	
			<section class="row">

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/switches/switches-checkboxes' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/objects/switches/switches-checkboxes' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

			</section>
	<!-- SWITCHES BASIC - ENDS -->

	<!-- SWITCHES BASIC - BEGINS -->
			<h3 data-magellan-destination="radio">Switches Radio</h3>
			<a name="radio"></a>	

		<section class="row">

			<!-- EXAMPLE CODE - BEGINS -->
				<div class="medium-6 columns">

				<!-- EXAMPLE HTML - BEGINS -->
					{{ global.reference-get-code-start-tag }}{% include '/reference/objects/switches/switches-radio' %}{{ global.reference-get-code-end-tag }}
				<!-- EXAMPLE HTML - ENDS -->

				</div>
			<!-- EXAMPLE CODE - ENDS -->

			<!-- EXAMPLE RENDERED CODE - BEGINS -->
				<div class="medium-6 columns">
					{% include '/reference/objects/switches/switches-radio' %}
				</div>
			<!-- EXAMPLE RENDERED CODE - ENDS -->

		</section>
		<hr />
<!-- SWITCHES BASIC - ENDS -->	

	<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

				<h3 data-magellan-destination="advanced">Advanced</h3>
				<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-foundation == "true" %}
								<li>
									<a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a>
									<ul>
										<li>
											<a href="http://foundation.zurb.com/docs/components/switch.html" target="_blank">Switches</a>
										</li>
									</ul>
								</li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
	<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- EXAMPLE - ENDS -->

{% endblock %}