{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

	<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>
			<p>
				Tooltips are a quick way to provide extended information on a term or action on a page. The information displayed with the Tooltip should not be crucial, required functionality, or content needed to interact with the interface. It is simply a bit of additional information that would be considered helpful to the user, but not essential.
			</p>
		</div>
	<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

	<!-- PAGE MAGELLAN NAV - BEGINS -->
		<div class="small-12 columns">
			<div class="evo-magellan" data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="basic"><a href="#basic">Basic Tooltip</a></dd>
					<dd data-magellan-arrival="disable"><a href="#disable">Disable for Touch Events</a></dd>
					<dd data-magellan-arrival="shapes"><a href="#shapes">Shapes</a></dd>
					<dd data-magellan-arrival="show-on"><a href="#show-on">Show by Screen Size</a></dd>
					<dd data-magellan-arrival="tooltip-input"><a href="#tooltip-input">Tooltip in a Form</a></dd>
					<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
					<dd class="site-html-ctn-toggle">
						<a href="javascript:;" class="site-get-code">Get Code<i class="evo-icon-arrow-right5 evo-icon-position-left"></i></a>
					</dd>
				</dl>
			</div>
		</div>
	<!-- PAGE MAGELLAN NAV - ENDS -->

	</section>
<!-- PAGE INTRO - ENDS -->

<!-- EXAMPLE - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

		<!-- BASIC TOOLTIP - BEGINS -->
			<h3 data-magellan-destination="basic">Basic Tooltip</h3>
			<a name="basic"></a>
			<p>
				The default position of tooltips is on the bottom of the target element. The tooltips can be positioned on the top, right or left of the target element by adding the appropriate class to them: <code>.tip-top</code>, <code>.tip-right</code>, <code>.tip-left</code>. NOTE: On a small device, the tooltips are full-width and bottom aligned.
			</p>

		<!-- EXAMPLE DEMO - BEGINS -->
			<section class="row">

			<!-- EXAMPLE RENDERED CODE - BEGINS -->
				<div class="medium-6 columns">
					<h6>Rendered HTML</h6>
					{% include '/reference/objects/tooltip/tooltip-default' %}
				</div>
			<!-- EXAMPLE RENDERED CODE - ENDS -->
				
			<!-- EXAMPLE HTML - BEGINS -->
				<div class="medium-6 columns site-html-ctn">
					<h6>HTML</h6>
					{{ global.reference-get-code-start-tag }}{% include '/reference/objects/tooltip/tooltip-default' %}{{ global.reference-get-code-end-tag }}
				</div>
			<!-- EXAMPLE HTML - ENDS -->

			</section>
		<!-- EXAMPLE DEMO - ENDS -->

			<hr />

		<!-- BASIC TOOLTIP - ENDS -->

		<!-- DISABLE FOR TOUCH EVENTS TOOLTIP - BEGINS -->
			<h3 data-magellan-destination="disable">Disable for Touch Events</h3>
			<a name="disable"></a>
			<p>
				If you don't want tooltips to interfere with a touch event, you can disable them for those devices by adding <code>data-options="disable_for_touch:true"</code>. Tooltips applied to <code>a</code> tags will automatically be disabled for touch events, so as not to interfere with the link.
			</p>

		<!-- EXAMPLE DEMO - BEGINS -->
			<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/objects/tooltip/tooltip-disable' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE HTML - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/tooltip/tooltip-disable' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE HTML - ENDS -->

			</section>
		<!-- EXAMPLE DEMO - ENDS -->
			<hr />
		<!-- DISABLE FOR TOUCH EVENTS TOOLTIP - ENDS -->

		<!-- SHAPES - BEGINS -->
			<h3 data-magellan-destination="shapes">Shapes</h3>
			<a name="shapes"></a>
			<p>Adding the classes <code>.radius</code> or <code>.round</code> to a tooltip will apply the border radius only to the outside corners.</p>
			
				<h4>Radius</h4>

			<!-- EXAMPLE CODE - BEGINS -->
				<section class="row">
					<!-- EXAMPLE RENDERED CODE - BEGINS -->
						<div class="medium-6 columns">
							<h6>Rendered HTML</h6>

							{% include '/reference/objects/tooltip/tooltip-radius' %}
						</div>
					<!-- EXAMPLE RENDERED CODE - ENDS -->

					<!-- EXAMPLE HTML - BEGINS -->
						<div class="medium-6 columns site-html-ctn">
							<h6>HTML</h6>					
							{{ global.reference-get-code-start-tag }}{% include '/reference/objects/tooltip/tooltip-radius' %}{{ global.reference-get-code-end-tag }}
						</div>
					<!-- EXAMPLE HTML - ENDS -->

				</section>
			<!-- EXAMPLE CODE - ENDS -->
				
				<h4 class="evo-spacer-margin-top-medium">Round</h4>

			<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>

						{% include '/reference/objects/tooltip/tooltip-round' %}
					</div>
			<!-- EXAMPLE RENDERED CODE - ENDS -->

			<!-- EXAMPLE CODE - BEGINS -->
				<section class="row">
				<!-- EXAMPLE HTML - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<h6>HTML</h6>					
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/tooltip/tooltip-round' %}{{ global.reference-get-code-end-tag }}
				<!-- EXAMPLE HTML - ENDS -->

					</div>
			<!-- EXAMPLE CODE - ENDS -->

				</section>				
				<hr />
		<!-- SHAPES - ENDS -->

		<!-- SHOW BY SCREEN SIZE - BEGINS -->
			<h3 data-magellan-destination="show-on">Show by Screen Size</h3>
			<a name="show-on"></a>
			<p>
				You can now also add <code>show_on</code> to your <code>data-options</code> attribute to allow your tooltips to show on only <code>small</code>, <code>medium</code>, or <code>large</code> screens. Tooltips will show on all screen sizes by default.
			</p>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/objects/tooltip/tooltip-show-by-screen-size' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE HTML - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/tooltip/tooltip-show-by-screen-size' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE HTML - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- SHOW BY SCREEN SIZE - ENDS -->

		<!-- TOOLTIP IN A FORM - BEGINS -->
			<h3 data-magellan-destination="tooltip-input">Tooltip in a Form</h3>
			<a name="tooltip-input"></a>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/objects/tooltip/tooltip-input' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE HTML - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/objects/tooltip/tooltip-input' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE HTML - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- TOOLTIP IN A FORM - ENDS -->

		<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<h3 data-magellan-destination="advanced">Advanced</h3>
					<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-foundation == "true" %}
								<li>
									<a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a>
									<ul>
										<li>
											<a href="http://foundation.zurb.com/docs/components/tooltips.html" target="_blank">Tooltips</a>
										</li>
									</ul>
								</li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
		<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- EXAMPLE - ENDS -->

{% endblock %}