<!-- WORKSHEET FORM SECTION - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-example-section" id="{{ model.component-name-id-03 }}">
			<section class="row">

			<!-- COMPONENT HEADER - BEGINS -->
				<div class="medium-7 columns">
					<h3 class="evo-site-category-pages-header">{{ model.component-name-03 }}</h3>
				</div>
			<!-- COMPONENT HEADER - ENDS -->

			<!-- TABS - BEGINS -->
				<div class="medium-5 columns">
					<ul class="tabs evo-tabs-titles-category-pages" data-tab role="tablist">
						<li class="tab-title active" role="presentation">
							<a href="#{{ model.component-name-id-03 }}-1" role="tab" tabindex="0" aria-selected="true" aria-controls="tabs1" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Overview"><span class="text"><i class="evo-icon-site-newspaper evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Overview" aria-label="Overview"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-03 }}-2" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs2" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Usage"><span class="text"><i class="evo-icon-site-book3 evo-icon-size-small evo-center-block-vertical-element evo-center-block active" title="Usage" aria-label="Usage"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-03 }}-3" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs3" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Mobile"><span class="text"><i class="evo-icon-site-mobile evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Mobile" aria-label="Mobile"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-03 }}-4" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs4" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Technical"><span class="text"><i class="evo-icon-site-file-xml2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Technical" aria-label="Technical"></i></span></a>
						</li>
						<li class="tab-title evo-no-padding-right evo-component-page-tab-back-to-top" role="presentation">
							<a data-scroll-to-top href="#top" tabindex="0" aria-selected="false" aria-controls="" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Back to Top"><span class="text"><i class="evo-icon-circle-up2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" aria-label="Back to Top"></i></span></a>
						</li>
					</ul>
				</div>
			<!-- TABS - ENDS -->

			</section>

		<!-- COMPONENT EXAMPLE - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<hr class="evo-site-component-divider">

					<div class="tabs-content evo-tabs-content-category-pages">

					<!-- TAB 1 (overview section) - BEGINS -->
						<section role="tabpanel" aria-hidden="false" class="content active" id="{{ model.component-name-id-03 }}-1">
						<!-- COMPONENT TITLE AND DESCRIPTION - BEGINS -->
								<p>This form is designed to allow a user to calculate a series of financial decisions/transactions.  This information informs better decision making during the benefit enrollment or update process.  Choose any number of input fields, or any type, to construct your form.	</p>
						<!-- COMPONENT TITLE AND DESCRIPTION - ENDS -->
						</section>
					<!-- TAB 1 (overview section) - ENDS -->

					<!-- TAB 2 (usage section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-03 }}-2">
							<p>Can be implemented in any benefit enrollment or update flow to assist the user in calculating financial totals.</p>
						</section>
					<!-- TAB 2 (usage section) - ENDS -->

					<!-- TAB 3 (mobile section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-03 }}-3">
							<p>Mobile implementation will be very similar, the forms and labels stacking and filling the available screen space.</p>
						</section>
					<!-- TAB 3 (mobile section) - ENDS -->

					<!-- TAB 4 (get code section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-03 }}-4">
							<div class="row">
								<div class="large-3 large-push-9 columns">

								<!-- DOWNLOAD - BEGINS -->
									<h6>Get Code</h6>
									<p>
										<a href="{{ model.family-boilerplate-download-url }}" class="button radius evo-button evo-site-button evo-no-margin-bottom" data-evo-button-icons="left" id="" role="button" title="Download Boilerplate" aria-label="">
											<i class="evo-icon-download4 evo-icon-position-left" title=""></i>
											<span class="evo-button-text">Download Boilerplate</span>
										</a>
									</p>
								<!-- DOWNLOAD - ENDS -->
									
								</div>
								<div class="large-9 large-pull-3 columns">

								<p>Please use the Evolution Core <a href="/reference/components/worksheet-form/index">worksheet form reference</a> to get code for this component.</p>
									
								<!-- EXAMPLE HTML - BEGINS -->
									<h6>HTML</h6>
									{{ global.reference-component-html-instructions }}
								<!-- EXAMPLE HTML - ENDS -->

								</div>
							</div>
						</section>
					<!-- TAB 4 (get code section) - ENDS -->

					</div>
				</div>
			</section>

			<section class="row">
				<div class="medium-6 columns">

				<!-- COMPONENT CODE - BEGINS -->
					{{ "/bp/components/worksheet-form/worksheet-form.css" | asset_url | stylesheet_tag }}
					{% include "/bp/components/worksheet-form/worksheet-form" %}
				<!-- COMPONENT CODE - ENDS -->

				</div>
				<div class="medium-6 columns"></div>
			</section>
		<!-- COMPONENT EXAMPLE - ENDS -->

		</div>
	</section>
<!-- WORKSHEET FORM SECTION - ENDS -->