{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text">The Advanced Filter is an optional filter that can be used when it is necessary to allow the user to manage the data set in more complex ways or to filter using data fields that might not necessarily be displayed on screen.&hellip;</p>
	</section>
<!-- INTRO SECTION - ENDS -->

<!-- NOT RESPONSIVE - ATTENTION MESSAGE - BEGINS -->
<div class="mul-box mul-box-rnd mul-attention-ctn mul-visible-small-mediaquery">
	<div class="mul-box-hdr">
		<h6 class="mul-message-hdr">
			<i class="mul-icon-warning mul-icon-size-small mul-icon-color-attention mul-icon-position-left"></i>Attention
		</h6>
	</div>
	<div class="box-bdy">
		<p>This component does not have a baseline mobile version as of this release. A responsive version will be coming soon.</p>
	</div>
</div>
<!-- NOT RESPONSIVE - ATTENTION MESSAGE - ENDS -->

<section class="col-24 mul-hidden-small-mediaquery">

	<h3 class="mul-hdr-dbl-rule">
		Example (Click the "filter" icon to view)
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- ADVANCED FILTER - BEGINS -->
	<div class="col-24 example-min-height">

		<!-- ADVANCED FILTER - ATTENTION MESSAGE CONTAINER - BEGINS -->
			<div class="mul-box mul-box-rnd mul-attention-ctn mul-display-none" id="js-mul-advanced-filter-example-attention-ctn">
				<div class="col-22 first mul-box-hdr">
					<h6 class="mul-message-hdr">
						<i class="mul-icon-warning mul-icon-size-small mul-icon-color-attention mul-icon-position-left"></i>Attention
					</h6>
					<div class="box-bdy">
						<p>These results have been filtered.</p>
					</div>
				</div>
				<div class="col-2 mul-align-right">
					<a class="mul-icon-mul-edit mul-icon-size-small mul-icon-color-gray-darker mul-icon-position-right" id="js-mul-advanced-filter-example-edit-btn" href="javascript:;" title="Edit Filter"></a>
					<a class="mul-icon-minus-circle mul-icon-size-small mul-icon-color-error mul-icon-position-right" id="js-mul-advanced-filter-example-close-btn" href="javascript:;" title="Delete Filter"></a>
				</div>
			</div>
		<!-- ADVANCED FILTER - ATTENTION MESSAGE CONTAINER - ENDS -->

		<!-- ADVANCED FILTER - CONFIRMATION MESSAGE CONTAINER WITH CLOSE - BEGINS -->
			<div class="mul-box mul-box-rnd mul-display-none mul-confirmation-ctn js-mul-fadeout-element" id="js-mul-advanced-filter-example-confirmation-ctn">
				<div class="mul-box-hdr">
					<i class="mul-icon-cancel-circle mul-icon-size-small mul-icon-color-gray-darker mul-icon-position-right mul-close-action js-mul-close-ctn" title="Close"><span class="mul-icon-hide-text">Close</span></i>
					<h6 class="mul-message-hdr">
						<i class="mul-icon-checkmark-circle mul-icon-size-small mul-icon-color-confirmation mul-icon-position-left"></i>Confirmation
					</h6>
				</div>
				<div class="box-bdy">
					<p>Your filter has been successfully removed.</p>
				</div>
			</div>
		<!-- ADVANCED FILTER - CONFIRMATION MESSAGE CONTAINER WITH CLOSE - ENDS -->

		<div class="mul-table-small-mediaquery">
			<table class="mul-table mul-footable mul-table-borders mul-table-striped mul-table-hover" data-filter="#filter" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
				<caption>
					<div class="col-19 first">&nbsp;</div>
					<div class="col-5 mul-tbl-data-filter">
						<div class="col-24">
							<div class="col-21 first">
								{% include '/base/tables/table-quick-filter' %}
							</div>
							<div class="col-3">
								<i class="mul-icon-filter" id="js-mul-advanced-filter-example-action-btn" title="Advanced Filter"></i>
							</div>
						</div>
					</div>
				</caption>
				<thead>
					<tr>
						<th class="col-1" scope="col" data-sort-ignore="true">
							<input type="checkbox" class="js-mul-select-all-checkboxes">
						</th>
						<th class="col-6" scope="col"><a href="javascript:;">Task</a></th>
						<th class="col-2" scope="col"><a href="javascript:;">Type</a></th>
						<th class="col-8" scope="col">
							<a href="javascript:;">Client</a> |
							<a href="javascript:;">Location</a>
						</th>
						<th class="col-4" data-sort-initial="ascending" scope="col"><a href="javascript:;">Assigned To</a></th>
						<th class="col-3 mul-nowrap mul-align-right" scope="col"><a href="javascript:;">Start Date</a></th>
						<th class="col-3 mul-nowrap mul-align-right" scope="col"><a href="javascript:;">End Date</a></th>
					</tr>
				</thead>
				<tbody>

					{% for item in global.table_data %}
					<tr>
						<td>{{ item.checkbox }}</td>
						<td>{{ item.task }}</td>
						<td>{{ item.type_global }}</td>
						<td>
							<a href="javascript:;">{{ item.company }}</a> |
							{{ item.location}}
						</td>
						<td>
							{{ item.abbrev_first_name}} {{ item.last_name}}
						</td>
						<td class="mul-nowrap mul-align-right">{{ item.start_date }}</td>
						<td class="mul-nowrap mul-align-right">{{ item.end_date }}</td>
					</tr>
					{% endfor %}
					
				</tbody>
			</table>
		</div>

	<!-- ADVANCED FILTER MODAL - BEGINS -->
		{% include '/base/tables/table-advanced-filter' %}
	<!-- ADVANCED FILTER MODAL - ENDS -->

	</div>
<!-- ADVANCED FILTER - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<a name="moreDetails"></a>
	<h4 class="mul-hdr-dbl-rule additional-detail-hdr">Additional Details</h4>

	<div class="col-24">
		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>The Advanced Filter modal should be used when:
					<ul>
						<li>It is important to allow the user to filter the data in complex ways (i.e., in ways other than column sorting, standard filtering via the <a href="/objects/mini-filter">Mini Filter</a> or the <a href="/base/tables/quick-filter">Quick Filter</a>.)</li>
						<li>The user needs to be able to sort on data fields that do not appear in the table UI.</li>
					</ul>
				</p>
			</div>
			<div id="tabs-2">
				<h5>General</h5>
				<ul>
					<li>The Advanced Filer appears in the <a href="modal">Modal Window</a> control.</li>
				</ul>
			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>This component does not have a baseline mobile version as of this release. A responsive version will be coming soon.</p>
			</div>
			<div id="tabs-5">
			<!-- GET CODE - BEGINS -->
				<section class="col-24">

					<h5 class="mul-hdr-rule">HTML</h5>
					

					<pre class="prettyprint linenums"><xmp>{% include '/base/tables/table-advanced-filter' %}</xmp></pre>

					<h5 class="mul-hdr-rule">JS</h5>
					

					<pre class="prettyprint linenums">mulAdvancedFilter('js-mul-advanced-filter-example');</pre>

				</section>
			<!-- GET CODE - ENDS -->
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}