{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text"></p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		{{ global.ExampleSectionHeader }}
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- ALTERNATE VIEWS BADGE - BEGINS -->
	<div class="col-24 example-min-height">

		<h4 class="mul-hdr-rule">Full Badge - Center Position</h4>
		{% include '/objects/alternate-views-badge' %}

		<h4 class="mul-hdr-rule">Icon Only - Right Position</h4>
		{% include '/objects/alternate-views-badge-icon-only' %}

		<h4 class="mul-hdr-rule">Text Only - Left Position</h4>
		{% include '/objects/alternate-views-badge-text-only' %}
	</div>
<!-- ALTERNATE VIEWS BADGE - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<div class="col-24">
		<a name="moreDetails"></a>
		<h4 class="mul-hdr-dbl-rule addtional-detail-hdr">{{ global.AddtionalDetailSectionHeader }}</h4>

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>When to use details go here&hellip;</p>
			</div>
			<div id="tabs-2">
				<p>Functional details go here&hellip;</p>
			</div>
			<div id="tabs-3">
	
				<h4 class="mul-hdr-rule">Dependencies</h4>

				<h5>Cross browser compatibility</h5>
				<p>IE9 doesn't crop background gradients on containers with rounded corners, so we square the corners of every container so it looks just like IE8.</p>

				<table class="mul-table mul-table-borders" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<thead>
						<tr>
							<th width="" scope="col">Library</th>
							<th width="" scope="col">Location or Download</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>jQuery {{ global.jquery_version }}</td>
							<td>assets/scripts/core/lib/jquery</td>
						</tr>
						<tr>
							<td>jQuery UI {{ global.jquery_ui_version }}</td>
							<td>assets/scripts/core/lib/jquery</td>
						</tr>
					</tbody>
				</table>
				
			</div>
			<div id="tabs-4">
				<p>Mobile details go here&hellip;</p>
			</div>
			<div id="tabs-5">
			<!-- GET CODE - BEGINS -->
				<section class="col-24">

					<h5 class="mul-hdr-rule">HTML</h5>

					<h5>Full Badge - Center Position</h5>
					{{ global.PrettifyStartTag }}{% include '/objects/alternate-views-badge' %}{{ global.PrettifyEndTag }}

					<h5>Icon Only - Right Position</h5>
					{{ global.PrettifyStartTag }}{% include '/objects/alternate-views-badge-icon-only' %}{{ global.PrettifyEndTag }}

					<h5>Text Only - Left Position</h5>
					{{ global.PrettifyStartTag }}{% include '/objects/alternate-views-badge-text-only' %}{{ global.PrettifyEndTag }}

					
					<h5 class="mul-hdr-rule">JS</h5>

					<h5>Full Badge - Center Position</h5>
					<pre class="prettyprint linenums">mulAlternateViewsBadge('js-mul-alternate-views-badge-full-example', 'center');</pre>

					<h5>Icon Only - Right Position</h5>
					<pre class="prettyprint linenums">mulAlternateViewsBadge('js-mul-alternate-views-badge-icon-only-example', 'right');</pre>

					<h5>Text Only - Left Position</h5>
					<pre class="prettyprint linenums">mulAlternateViewsBadge('js-mul-alternate-views-badge-text-only-example', 'left');</pre>

				</section>
			<!-- GET CODE - ENDS -->
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}