{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}

{% block content %}
<!-- PAGE TITLE - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>
		</div>
	</section>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
		{% include '/reference/reference-content' %}

	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - BEGINS -->
		{% if model.reference-get-code == "true" %}
			<h3 class="evo-hdr-rule">HTML</h3>

			{% if model.reference-example-versions == "true" %}
				<h4>{{ model.reference-example-version-label }}</h4>
			{% endif %}
			{{ model.reference-code-html-content-block-pre }}
			{{ global.reference-get-code-start-tag }}{% include '/objects/calendar' %}{{ global.reference-get-code-end-tag }}
			{{ model.reference-code-html-content-block-post }}

			{% if model.reference-example-versions == "true" %}
				<h4>{{ model.reference-example-version-label-2 }}</h4>
			{% endif %}
			{{ model.reference-code-html-content-block-pre-2 }}
			{{ global.reference-get-code-start-tag }}{% include '/objects/calendar-date-input' %}{{ global.reference-get-code-end-tag }}
			{{ model.reference-code-html-content-block-post-2 }}

			{% if model.reference-example-versions == "true" %}
				<h4>{{ model.reference-example-version-label-3 }}</h4>
			{% endif %}
			{{ model.reference-code-html-content-block-pre-3 }}
			{{ global.reference-get-code-start-tag }}{% include '/objects/calendar-message' %}{{ global.reference-get-code-end-tag }}
			{{ model.reference-code-html-content-block-post-3 }}

			{% if model.reference-example-versions == "true" %}
				<h4>{{ model.reference-example-version-label-4 }}</h4>
			{% endif %}
			{{ model.reference-code-html-content-block-pre-4 }}
			{{ global.reference-get-code-start-tag }}{% include '/objects/calendar-date-input-masked' %}{{ global.reference-get-code-end-tag }}
			{{ model.reference-code-html-content-block-post-4 }}

			{% if model.reference-code-js == "true" %}
				<h3 class="evo-hdr-rule">JS</h3>

				{{ model.reference-code-js-content-block-pre }}
				{{ global.reference-get-code-start-tag }}{% include '/js/objects/calendar' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-js-content-block-post }}
			{% endif %}

		{% endif %}
	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - ENDS -->
		</div>
	</section>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<section class="evo-ref-example">
		<section class="row">
			<div class="large-3 columns">
			<!-- EXAMPLE SECTION - BOX - BEGINS -->
				<div class="evo-box evo-ref-example-box">
				{% if model.reference-example-versions == "true" %}
					<h4 class="evo-hdr-rule">{{ model.reference-example-version-label }}</h4>
				{% endif %}
				<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
					<form>
						<fieldset>
							<div class="row">
								{% include '/objects/calendar' %}
							</div>
						</fieldset>
					</form>
				<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->
				</div>
			<!-- EXAMPLE SECTION - BOX - ENDS -->
			</div>
			<div class="large-3 columns">
			<!-- EXAMPLE SECTION - BOX - BEGINS -->
				<div class="evo-box evo-box-rnd evo-ref-example-box">
				{% if model.reference-example-versions == "true" %}
					<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-2 }}</h4>
				{% endif %}
				<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
					<form>
						<fieldset>
							<div class="row">
								{% include '/objects/calendar-date-input' %}
							</div>
						</fieldset>
					</form>
				<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->
				</div>
			<!-- EXAMPLE SECTION - BOX - ENDS -->	
			</div>

			<div class="large-3 columns">
			<!-- EXAMPLE SECTION - BOX - BEGINS -->
				<div class="evo-box evo-box-rnd evo-ref-example-box">
				{% if model.reference-example-versions == "true" %}
					<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-3 }}</h4>
				{% endif %}
				<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
					<form>
						<fieldset>
							<div class="row">
								{% include '/objects/calendar-message' %}
							</div>
						</fieldset>
					</form>
				<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->
				</div>
			<!-- EXAMPLE SECTION - BOX - ENDS -->
			</div>
			<div class="large-3 columns">
			<!-- EXAMPLE SECTION - BOX - BEGINS -->
				<div class="evo-box evo-box-rnd evo-ref-example-box">
				{% if model.reference-example-versions == "true" %}
					<h4 class="evo-hdr-rule">{{ model.reference-example-version-label-4 }}</h4>
				{% endif %}
				<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
					<form>
						<fieldset>
							<div class="row">
								{% include '/objects/calendar-date-input-masked' %}
							</div>
						</fieldset>
					</form>
				<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->
				</div>
			<!-- EXAMPLE SECTION - BOX - ENDS -->
			</div>
		</section>
	</section>
<!-- EXAMPLE SECTION - ENDS -->
{% endblock %}