{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="col-24 mul-alternate-views-badge mul-ref-alternate-views-badge" data-alternate-views-badge="js-mul-ref-alternate-views-badge">

		{% include '/reference/reference-content' %}

	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - BEGINS -->
		{% if model.reference-get-code == "true" %}
			<div id="mul-ref-alternate-views-badge-content-panel-get-code">

				<h3 class="mul-hdr-rule">HTML</h3>

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre }}
				{{ global.reference-get-code-start-tag }}{% include '/objects/call-to-action' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-2 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-2 }}
				{{ global.reference-get-code-start-tag }}{% include '/objects/call-to-action-icon-left' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-2 }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-3 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-3 }}
				{{ global.reference-get-code-start-tag }}{% include '/objects/call-to-action-icon-right' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-3 }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-4 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-4 }}
				{{ global.reference-get-code-start-tag }}{% include '/objects/call-to-action-icon-left-right' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-4 }}

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label-5 }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre-5 }}
				{{ global.reference-get-code-start-tag }}{% include '/objects/call-to-action-custom-color' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post-5 }}

				{% if model.reference-code-js == "true" %}

					<h3 class="mul-hdr-rule">JS</h3>

					{% if model.reference-example-versions == "true" %}
						<h4>{{ model.reference-example-version-label }}</h4>
					{% endif %}
					{{ model.reference-code-js-content-block-pre }}
					{{ global.reference-get-code-start-tag }}{ include '/js/' }{{ global.reference-get-code-end-tag }}
					{{ model.reference-code-js-content-block-post }}

				{% endif %}

			</div>
		{% endif %}
	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - ENDS -->

	</section>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<section class="col-24 mul-ref-example">

	<!-- EXAMPLE SECTION - HEADER - BEGINS -->
		<h3 class="mul-hdr-dbl-rule mul-ref-example-hdr">{{ global.reference-example-hdr }}</h3>
	<!-- EXAMPLE SECTION - HEADER - ENDS -->

	<!-- EXAMPLE SECTION - CONTENT - BEGINS -->
		<section class="mul-ref-example-content">

			<div class="col-24">
				<div class="col-6 first">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="mul-box mul-box-rnd mul-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="mul-hdr-rule">{{ model.reference-example-version-label }}</h4>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							{% include '/objects/call-to-action' %}
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

				</div>
				<div class="col-6">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="mul-box mul-box-rnd mul-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="mul-hdr-rule">{{ model.reference-example-version-label-2 }}</h4>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							{% include '/objects/call-to-action-icon-left' %}
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

				</div>
				<div class="col-6">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="mul-box mul-box-rnd mul-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="mul-hdr-rule">{{ model.reference-example-version-label-3 }}</h4>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							{% include '/objects/call-to-action-icon-right' %}
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

				</div>
				<div class="col-6">

				<!-- EXAMPLE SECTION - BOX - BEGINS -->
					<div class="mul-box mul-box-rnd mul-ref-example-box">

						{% if model.reference-example-versions == "true" %}
							<h4 class="mul-hdr-rule">{{ model.reference-example-version-label-4 }}</h4>
						{% endif %}

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							{% include '/objects/call-to-action-icon-left-right' %}
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>
				<!-- EXAMPLE SECTION - BOX - ENDS -->

				</div>
			</div>

			{% if model.reference-example-versions == "true" %}
				<h4 class="mul-hdr-rule">{{ model.reference-example-version-label-5 }}</h4>
			{% endif %}

			<div class="col-24">
				<div class="col-6 first">

					<div class="mul-box mul-box-rnd mul-ref-example-box">

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
							{% include '/objects/call-to-action-custom-color' %}
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="blue-gray-darkest" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="blue-gray-darker" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="blue-gray-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="blue-gray-mid-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>

				</div>
				<div class="col-6">

					<div class="mul-box mul-box-rnd mul-ref-example-box">

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="blue-sapphire" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="blue-sapphire-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="blue-sapphire-mid" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>

				</div>
				<div class="col-6">

					<div class="mul-box mul-box-rnd mul-ref-example-box">
						
						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="purple" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="purple-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="purple-mid" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>

				</div>
				<div class="col-6">

					<div class="mul-box mul-box-rnd mul-ref-example-box">
						
						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="fuscia" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="fuscia-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="fuscia-mid" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>

				</div>
			</div>

			<div class="col-24">
				<div class="col-6 first">

					<div class="mul-box mul-box-rnd mul-ref-example-box">

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="pink" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="pink-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>

				</div>
				<div class="col-6">

					<div class="mul-box mul-box-rnd mul-ref-example-box">

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="red" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="red-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="red-mid" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>

				</div>
				<div class="col-6">

					<div class="mul-box mul-box-rnd mul-ref-example-box">
						
						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="orange" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="orange-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="orange-mid" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>

				</div>
				<div class="col-6">

					<div class="mul-box mul-box-rnd mul-ref-example-box">
						
						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="tan" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="tan-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>

				</div>
			</div>

			<div class="col-24">
				<div class="col-6 first">

					<div class="mul-box mul-box-rnd mul-ref-example-box">

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="green" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="green-darker" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="green-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="green-mid" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>

				</div>
				<div class="col-6">

					<div class="mul-box mul-box-rnd mul-ref-example-box">

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="blue-green" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="blue-green-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="blue-green-mid" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>

				</div>
				<div class="col-6">

					<div class="mul-box mul-box-rnd mul-ref-example-box">

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="black" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="gray-darkest" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="gray-darker" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="gray-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

						<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->
						<a class="mul-call-to-action" data-palette-color="gray-mid-dark" href="#" title="Contact Us">
							<i class="mul-icon-phone2 mul-icon-position-left" title="Contact Us"></i>
							<span class="mul-call-to-action-text">Contact Us</span>
							<i class="mul-icon-arrow-right2 mul-icon-position-right" title="Contact Us"></i>
						</a>
						<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

					</div>

				</div>
			</div>

		</section>
	<!-- EXAMPLE SECTION - CONTENT - ENDS -->

	</section>
<!-- EXAMPLE SECTION - ENDS -->

{% endblock %}