{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- INTRO SECTION - BEGINS -->
	<section class="col-24">
		<h1>{{ model.title }}</h1>
		<p class="mul-intro-text">
			The Mini-filter is intended to be used in conjunction with the
			<a href="/base/tables/interactive">Interactive Data Table</a>
			when there is a small number (2-6) of common pre-defined filters to section out data. Essentially, this component provides users with quick access to commonly-viewed sections of data, so they aren't forced to enter multiple search criteria in order to access common views of data.
		</p>
	</section>
<!-- INTRO SECTION - ENDS -->

<section class="col-24">

	<h3 class="mul-hdr-dbl-rule">
		Example
		<a href="javascript:;" class="mul-icon-size-small mul-icon-mul-arrow-circle-down mul-icon-color-gray-darker mul-icon-position-right mul-float-right related-items-menu"></a>
	</h3>

<!-- MINI FILTER - BEGINS -->
	<div class="col-24 example-min-height">

		<div class="col-24">
			<div class="col-12 first">	
				{% include "/objects/mini-filter" %}
			</div>
			<div class="col-12 mul-align-right mul-margin-bottom">
				<a href="javascript:;" class="js-mul-toggle-content" data-mul-toggle="1">Show In Context</a>
			</div>
		</div>

	<!-- INTERACTIVE DATA TABLE - EXAMPLE - BEGINS -->
		<div class="js-mul-toggle-content mul-display-none col-24 first mul-margin-top" id="div1">
			
			<div class="mul-table-small-mediaquery">
				<table class="mul-table mul-footable mul-table-pagination mul-table-borders mul-table-striped mul-table-hover" data-filter="#filter" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<caption>
						<div class="col-19 first">
							{% include "/objects/mini-filter" %}
						</div>
						<div class="col-5 mul-tbl-data-filter">
							<input id="filter" type="text" tabindex="" title="Type to filter results." placeholder="Filter">
						</div>
					</caption>
					<thead>
						<tr>
							<th class="col-10" data-sort-initial="true" scope="col"><a href="javascript:;">First Name</a></th>
							<th class="col-10" scope="col"><a href="javascript:;">Clients</a></th>
							<th class="col-4 mul-align-right" scope="col"><a href="javascript:;">Policies</a></th>
						</tr>
					</thead>
					<tbody>
						
						{% for item in global.table_data %}
						<tr>
							<td>{{ item.first_name }}</td>
							<td>{{ item.company }}</td>
							<td class="mul-align-right">{{ item.num_of }}</td>
						</tr>
						{% endfor %}

					</tbody>
					<tfoot>
						<tr class="mul-subtotal-row">
							<td class="mul-align-right" colspan="2">Subtotal</td>
							<td class="mul-align-right">23</td>
						</tr>
						<tr class="mul-total-row">
							<td class="mul-align-right" colspan="2">Total</td>
							<td class="mul-align-right">23</td>
						</tr>
					</tfoot>
				</table>
			</div>

		</div>
	<!-- INTERACTIVE DATA TABLE - EXAMPLE - ENDS -->
	</div>
<!-- MINI FILTER - ENDS -->

<!-- DETAILS SECTION - BEGINS -->
	<a name="moreDetails"></a>
	<h4 class="mul-hdr-dbl-rule additional-detail-hdr">Additional Details</h4>

	<div class="col-24">
		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>The Mini-Filter should be used along with an <a href="/base/tables/interactive">Interactive Data Table</a>  when you want to give the user the option to quickly filter data into common categories. 
				</p>
				<h5>Number of Items</h5>
				<p>This control should only be used when the number of pre-determined filters is less than 5-6 options. If the number of filter is higher than 6, then the component starts to occupy too much real estate and another option should be explored.
				</p>
			</div>
			<div id="tabs-2">
				<p>There are 3 main elements to this component:</p>
				<ol>
					<li><strong>Label</strong> - The actual name of the filter. The default value is "View:". Always display a colon after the label.</li>
					<li><strong>Active Filter</strong> - This is the filter that is currently being viewed. It is displayed using the "highlight" style. There is only one Active Filter at a time.</li>
					<li><strong>Inactive Filter</strong> - These are the other available filters that are not currently being displayed. They are displayed as links. The user can click an Inactive Filter link to view that specific filter. There may be one or many Inactive Filters.</li>
				</ol>
			</div>
			<div id="tabs-3">
				<p>Technical details go here&hellip;</p>
			</div>
			<div id="tabs-4">
				<p>
					When a mini filter appears on a page that is viewed on mobile/tablet devices, the filter links will appear in a drop down menu with a label of 'View' for the form field.
				</p>
			</div>
			<div id="tabs-5">
			<!-- GET CODE - BEGINS -->
				<section class="col-24">

					<h5 class="mul-hdr-rule">HTML</h5>

					<pre class="prettyprint linenums"><xmp>{% include "/objects/mini-filter" %}</xmp></pre>

				</section>
			<!-- GET CODE - ENDS -->
			</div>
		</div>
	</div>
<!-- DETAILS SECTION - ENDS -->

</section>
{% endblock %}