{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="col-24 evo-alternate-views-badge evo-ref-alternate-views-badge" data-alternate-views-badge="js-evo-ref-alternate-views-badge">

		{% include '/reference/reference-content' %}

	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - BEGINS -->
		{% if model.reference-get-code == "true" %}
			<div id="evo-ref-alternate-views-badge-content-panel-get-code">

				<h3 class="evo-hdr-rule">HTML</h3>

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre }}
				{{ global.reference-get-code-start-tag }}{% include '/objects/pagination' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post }}

				{% if model.reference-code-js == "true" %}

					<h3 class="evo-hdr-rule">JS</h3>

					{% if model.reference-example-versions == "true" %}
						<h4>{{ model.reference-example-version-label }}</h4>
					{% endif %}
					{{ model.reference-code-js-content-block-pre }}
					{{ global.reference-get-code-start-tag }}{ include '/js/' }{{ global.reference-get-code-end-tag }}
					{{ model.reference-code-js-content-block-post }}

				{% endif %}

			</div>
		{% endif %}
	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - ENDS -->

	</section>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<section class="col-24 evo-ref-example">

	<!-- EXAMPLE SECTION - HEADER - BEGINS -->
		<h3 class="evo-hdr-dbl-rule evo-ref-example-hdr">{{ global.reference-example-hdr }}</h3>
	<!-- EXAMPLE SECTION - HEADER - ENDS -->

	<!-- EXAMPLE SECTION - CONTENT - BEGINS -->
		<section class="evo-ref-example-content">

		<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->

			{% if model.reference-example-versions == "true" %}
				<h4 class="evo-hdr-rule">{{ model.reference-example-version-label }}</h4>
			{% endif %}

			<!-- PAGINATION - EXAMPLE - BEGINS -->
			<div class="col-24 evo-margin-bottom">
				<div class="col-9 first">
					<h5 class="pagination-hdr">User is on page 1:</h5>
				</div>
				<div class="col-15">
					<div class="evo-pagination">
						<ul>
							<li class="evo-pagination-page-nav active"><a href="#" title="Current Page">1</a></li>
							<li class="evo-pagination-page-nav"><a href="#">2</a></li>
							<li class="evo-pagination-page-nav"><a href="#">3</a></li>
							<li class="evo-pagination-page-nav"><a href="#">4</a></li>
							<li class="evo-pagination-page-nav"><a href="#">5</a></li>
							<li><a class="evo-icon-arrow-right2 evo-pagination-icon" href="#" title="Next &gt;"></a></li>
							<li><a class="evo-icon-evo-arrow-doublearrow-right evo-pagination-icon" href="#" title="Last Page &raquo;"></a></li>
						</ul>
					</div>
				</div>
			</div>
		<!-- PAGINATION - EXAMPLE - ENDS -->

		<!-- PAGINATION - EXAMPLE - BEGINS -->
			<div class="col-24 evo-margin-bottom hide-for-small-only">
				<div class="col-9 first">
					<h5 class="pagination-hdr">User is on page 2:</h5>
				</div>
				<div class="col-15">

					<div class="evo-pagination">
						<ul>
							<li><a class="evo-icon-evo-arrow-doublearrow-left evo-pagination-icon" href="#" title="&laquo; First Page"></a></li>
							<li><a class="evo-icon-arrow-left2 evo-pagination-icon" href="#" title="&lt; Previous"></a></li>
							<li class="evo-pagination-page-nav"><a href="#">1</a></li>
							<li class="evo-pagination-page-nav active"><a href="#" title="Current Page">2</a></li>
							<li class="evo-pagination-page-nav"><a href="#">3</a></li>
							<li class="evo-pagination-page-nav"><a href="#">4</a></li>
							<li class="evo-pagination-page-nav"><a href="#">5</a></li>
							<li><a class="evo-icon-arrow-right2 evo-pagination-icon" href="#" title="Next &gt;"></a></li>
							<li><a class="evo-icon-evo-arrow-doublearrow-right evo-pagination-icon" href="#" title="Last Page &raquo;"></a></li>
						</ul>
					</div>

				</div>
			</div>
		<!-- PAGINATION - EXAMPLE - ENDS -->

		<!-- PAGINATION - EXAMPLE - BEGINS -->
			<div class="col-24 evo-margin-bottom">
				<div class="col-9 first">
					<h5 class="pagination-hdr">User is on page 5:</h5>
				</div>
				<div class="col-15">

					<div class="evo-pagination">
						<ul>
							<li><a class="evo-icon-evo-arrow-doublearrow-left evo-pagination-icon" href="#" title="&laquo; First Page"></a></li>
							<li><a class="evo-icon-arrow-left2 evo-pagination-icon" href="#" title="&lt; Previous"></a></li>
							<li class="evo-pagination-page-nav"><a href="#">1</a></li>
							<li class="evo-pagination-page-nav"><a href="#">2</a></li>
							<li class="evo-pagination-page-nav"><a href="#">3</a></li>
							<li class="evo-pagination-page-nav"><a href="#">4</a></li>
							<li class="evo-pagination-page-nav active"><a href="#" title="Current Page">5</a></li>
							<li><a class="evo-icon-arrow-right2 evo-pagination-icon" href="#" title="Next &gt;"></a></li>
							<li><a class="evo-icon-evo-arrow-doublearrow-right evo-pagination-icon" href="#" title="Last Page &raquo;"></a></li>
						</ul>
					</div>

				</div>
			</div>
		<!-- PAGINATION - EXAMPLE - ENDS -->

		<!-- PAGINATION - EXAMPLE - BEGINS -->
			<div class="col-24 evo-margin-bottom hide-for-small-only">
				<div class="col-9 first">
					<h5 class="pagination-hdr">User is on page 6:</h5>
				</div>
				<div class="col-15">

					<div class="evo-pagination">
						<ul>
							<li><a class="evo-icon-evo-arrow-doublearrow-left evo-pagination-icon" href="#" title="&laquo; First Page"></a></li>
							<li><a class="evo-icon-arrow-left2 evo-pagination-icon" href="#" title="&lt; Previous"></a></li>
							<li class="evo-pagination-page-nav"><a href="#">2</a></li>
							<li class="evo-pagination-page-nav"><a href="#">3</a></li>
							<li class="evo-pagination-page-nav"><a href="#">4</a></li>
							<li class="evo-pagination-page-nav"><a href="#">5</a></li>
							<li class="evo-pagination-page-nav active"><a href="#" title="Current Page">6</a></li>
							<li><a class="evo-icon-arrow-right2 evo-pagination-icon" href="#" title="Next &gt;"></a></li>
							<li><a class="evo-icon-evo-arrow-doublearrow-right evo-pagination-icon" href="#" title="Last Page &raquo;"></a></li>
						</ul>
					</div>

				</div>
			</div>
		<!-- PAGINATION - EXAMPLE - ENDS -->

		<!-- PAGINATION - EXAMPLE - BEGINS -->
			<div class="col-24 evo-margin-bottom">
				<div class="col-9 first">
					<h5 class="pagination-hdr">User is on last page:</h5>
				</div>
				<div class="col-15">

					<div class="evo-pagination">
						<ul>
							<li><a class="evo-icon-evo-arrow-doublearrow-left evo-pagination-icon" href="#" title="&laquo; First Page"></a></li>
							<li><a class="evo-icon-arrow-left2 evo-pagination-icon" href="#" title="&lt; Previous"></a></li>
							<li class="evo-pagination-page-nav"><a href="#">20</a></li>
							<li class="evo-pagination-page-nav"><a href="#">21</a></li>
							<li class="evo-pagination-page-nav"><a href="#">22</a></li>
							<li class="evo-pagination-page-nav"><a href="#">23</a></li>
							<li class="evo-pagination-page-nav active"><a href="#" title="Current Page">24</a></li>
						</ul>
					</div>

				</div>
			</div>
		<!-- PAGINATION - EXAMPLE - ENDS -->

		<!-- PAGINATION - EXAMPLE - BEGINS -->
			<div class="col-24 evo-margin-bottom hide-for-small-only">
				<div class="col-9 first">
					<h5 class="pagination-hdr">When there are fewer than 5 pages:</h5>
				</div>
				<div class="col-15">

					<div class="evo-pagination">
						<ul>
							<li class="evo-pagination-page-nav active"><a href="#" title="Current Page">1</a></li>
							<li class="evo-pagination-page-nav"><a href="#">2</a></li>
							<li class="evo-pagination-page-nav"><a href="#">3</a></li>
							<li><a class="evo-icon-arrow-right2 evo-pagination-icon" href="#" title="Next &gt;"></a></li>
							<li><a class="evo-icon-evo-arrow-doublearrow-right evo-pagination-icon" href="#" title="Last Page &raquo;"></a></li>
						</ul>
					</div>

				</div>
			</div>
		<!-- PAGINATION - EXAMPLE - ENDS -->

		<!-- PAGINATION - EXAMPLE - BEGINS -->
			<div class="col-24 evo-margin-bottom hide-for-small-only">
				<div class="col-9 first">
					<h5 class="pagination-hdr">When on last page with less than 5 pages:</h5>
				</div>
				<div class="col-15">

					<div class="evo-pagination">
						<ul>
							<li><a class="evo-icon-evo-arrow-doublearrow-left evo-pagination-icon" href="#" title="&laquo; First Page"></a></li>
							<li><a class="evo-icon-arrow-left2 evo-pagination-icon" href="#" title="&lt; Previous"></a></li>
							<li class="evo-pagination-page-nav"><a href="#">1</a></li>
							<li class="evo-pagination-page-nav"><a href="#">2</a></li>
							<li class="evo-pagination-page-nav active"><a href="#" title="Current Page">3</a></li>
						</ul>
					</div>

				</div>
			</div>
		<!-- PAGINATION - EXAMPLE - ENDS -->

		<hr />
			
		<!-- TABLE PAGINATION - EXAMPLE - BEGINS -->
			<small class="evo-table-results-label">Displaying 1-50 of 125 results.</small>

			<div class="evo-table-small-mediaquery">
				<table class="evo-table evo-footable evo-table-pagination evo-table-borders evo-table-striped evo-table-hover" data-filter="#filter" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
					<caption>
						<div class="col-19 first">
							{% include "/objects/mini-filter" %}
						</div>
						<div class="col-5 evo-tbl-data-filter">
							<input id="filter" type="text" tabindex="" title="Type to filter results." placeholder="Filter">
						</div>
					</caption>
					<thead>
						<tr>
							<th class="col-1" scope="col" data-sort-ignore="true">
								<input type="checkbox" class="js-evo-select-all-checkboxes">
							</th>
							<th class="col-6" scope="col"><a href="javascript:;">Task</a></th>
							<th class="col-2" scope="col"><a href="javascript:;">Type</a></th>
							<th class="col-8" scope="col">
								<a href="javascript:;">Client</a> |
								<a href="javascript:;">Location</a>
							</th>
							<th class="col-4" data-sort-initial="ascending" scope="col"><a href="javascript:;">Assigned To</a></th>
							<th class="col-3 text-right evo-nowrap" scope="col"><a href="javascript:;">Start Date</a></th>
							<th class="col-3 text-right evo-nowrap" scope="col"><a href="javascript:;">End Date</a></th>
						</tr>
					</thead>
					<tbody>

						{% for item in global.table_data %}
						<tr>
							<td>{{ item.checkbox }}</td>
							<td>{{ item.task }}</td>
							<td>{{ item.type_global }}</td>
							<td>
								<a href="javascript:;">{{ item.company }}</a> |
								{{ item.location}}
							</td>
							<td>
								{{ item.abbrev_first_name}} {{ item.last_name}}
							</td>
							<td class="text-right evo-nowrap">{{ item.start_date }}</td>
							<td class="text-right evo-nowrap">{{ item.end_date }}</td>
						</tr>
						{% endfor %}
						
					</tbody>
					<tfoot>
						<tr class="evo-pagination-row">
							<td colspan="7">{% include '/objects/pagination' %}</td>
						</tr>
					</tfoot>
				</table>
			</div>
		<!-- TABLE PAGINATION - EXAMPLE - ENDS -->

		<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->

		</section>
	<!-- EXAMPLE SECTION - CONTENT - ENDS -->

	</section>
<!-- EXAMPLE SECTION - ENDS -->

{% endblock %}