<header class="evo-header evo-site-header" role="banner">
	
	<!-- TOP BAR CONTAINER - DEFAULT - BEGINS -->
	<div class="show-for-large-up">

	<!-- TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation">
			
		<!-- TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="/"><span class="evo-top-bar-sub-name">{{ global.company }}</span> {{ global.title }}</a></h1>
					<!-- <a href="#/">{{> image src="core/corp-logos/mercer/mercer_logo_rgb_reverse.png" alt="Mercer - Make Tomorrow, Today" width="160"}}</a> -->
				</li>
			</ul>
		<!-- TOP BAR TITLE AREA - ENDS -->

		<!-- TOP BAR NAV SECTION - BEGINS --> 
			<section class="top-bar-section">

				<!-- TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
				{{#each navigation.nav}}
					<li class="has-dropdown">
						<a>{{section}}</a>
						<ul class="dropdown">
						{{#each sub_section}}
							{{#if label}}
							<li>
								<label>{{label}}</label>
							</li>
							{{/if}}
							{{#each nav_items}}
							<li>
								<a href="{{url}}">{{name}}</a>
							</li>
							{{/each}}
						{{/each}}
						</ul>
					<li>
				{{/each}}

				{{!--
				{{#if navigation.whats_new}}
					<li class="divider"></li>
					<li>
						<a class="evo-site-header--cta-whats-new" href="{{navigation.whats_new.url}}" data-anijs="if: mouseenter, do: bounceIn animated, to: .evo-site-header--cta-whats-new-name, after: removeAnim"><span class="evo-site-header--cta-whats-new-name">{{{navigation.whats_new.name}}}</span>
						{{#each navigation.whats_new.icon}}
							{{> (lookup . 'partial') }}
						{{/each}}
						</a>
					</li>
				{{/if}}
				--}}
				</ul>
				<!-- TOP BAR RIGHT NAV SECTION - ENDS -->

				<!-- TOP BAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					
				</ul>
				<!-- TOP BAR LEFT NAV SECTION - ENDS -->

			</section>
		<!-- TOP BAR NAV SECTION - ENDS -->

		</nav>
	<!-- TOP BAR - ENDS -->

	</div>
	<!-- TOP BAR CONTAINER - DEFAULT - ENDS -->

	<!-- OFF-CANVAS - TAB BAR - BEGINS -->
	<nav class="tab-bar hide-for-large-up" aria-hidden="true">
		<section class="left-small">
			<a class="left-off-canvas-toggle menu-icon">
				<i class="evo-icon-menu7 evo-icon-size-medium" title="Menu"></i>
			</a>
		</section>

		<section class="middle tab-bar-section">
			<h1 class="title">
				<a class="show-for-small-only" href="/">{{ global.title }}</a>
				<a class="show-for-medium-only" href="/"><span class="evo-tab-bar-sub-name">{{ global.company }}</span> {{ global.title }}</a>
			</h1>
			<!-- <a class="title" href="#/">{{> image src="core/corp-logos/mercer/mercer_logo_rgb_reverse.png" alt="Mercer - Make Tomorrow, Today" width="160"}}</a> -->
		</section>
	</nav>
	<!-- OFF-CANVAS - TAB BAR - ENDS -->

	<!-- OFF-CANVAS - LEFT MENU - BEGINS -->
	<aside class="left-off-canvas-menu">
		<ul class="off-canvas-list">
		{{#if navigation.nav_label}}
			<li>
				<label>{{navigation.nav_label}}</label>
			</li>
		{{/if}}

		{{!--
		{{#if navigation.whats_new}}
			<li>
				<a class="evo-site-header--cta-whats-new" href="{{navigation.whats_new.url}}">{{{navigation.whats_new.name}}}
				{{#each navigation.whats_new.icon}}
					{{> (lookup . 'partial') }}
				{{/each}}
				</a>
			</li>
		{{/if}}
		--}}

		{{#each navigation.nav}}
			<li class="has-submenu">
				<a href="">{{section}}</a>
				<ul class="left-submenu">
					<li class="back">
						<a href="">Back</a>
					</li>
				{{#each sub_section}}
					{{#if label}}
					<li>
						<label>{{label}}</label>
					</li>
					{{/if}}
					{{#each nav_items}}
					<li>
						<a href="{{url}}">{{name}}</a>
					</li>
					{{/each}}
				{{/each}}
				</ul>
			<li>
		{{/each}}
		</ul>
	</aside>
	<!-- OFF-CANVAS - LEFT MENU - ENDS -->

</header>