<header class="evo-header evo-site-header" role="banner">

<!-- TOP BAR CONTAINER - BEGINS -->
	<nav class="top-bar evo-top-bar" role="navigation">
	<!-- TOP BAR TITLE - BEGINS -->
		<div class="top-bar-title">
			<h1><a href="/"><span class="evo-top-bar-sub-name">{{ global.company }}</span> {{ global.title }}</a></h1>
		</div>
	<!-- TOP BAR TITLE - ENDS -->
		<div>
		<!-- TOP BAR LEFT - BEGINS -->
			<div class="top-bar-left">
			</div>
		<!-- TOP BAR LEFT - ENDS -->

		<!-- TOP BAR RIGHT - BEGINS -->
			<div class="top-bar-right">
				<ul class="dropdown menu" data-dropdown-menu>
				{{#each navigation.nav}}
					<li>
						<a>{{section}}</a>
						<ul class="menu vertical">
						{{#each sub_section}}
							{{#if label}}
							<li>
								<label>{{label}}</label>
							</li>
							{{/if}}
							{{#each nav_items}}
							<li>
								<a href="{{url}}">{{name}}</a>
							</li>
							{{/each}}
						{{/each}}
						</ul>
					<li>
				{{/each}}
				</ul>
			</div>
		<!-- TOP BAR RIGHT - ENDS -->
		</div>
	</nav>
<!-- TOP BAR CONTAINER - ENDS -->

	<!-- OFF-CANVAS - TAB BAR - BEGINS
	<nav class="tab-bar hide-for-large-up" aria-hidden="true">
		<section class="left-small">
			<a class="left-off-canvas-toggle menu-icon">
				<i class="evo-icon-menu7 evo-icon-size-medium" title="Menu"></i>
			</a>
		</section>

		<section class="middle tab-bar-section">
			<h1 class="title">
				<a class="show-for-small-only" href="/">{{ global.title }}</a>
				<a class="show-for-medium-only" href="/"><span class="evo-tab-bar-sub-name">{{ global.company }}</span> {{ global.title }}</a>
			</h1>
		</section>
	</nav>
	OFF-CANVAS - TAB BAR - ENDS -->

	<!-- OFF-CANVAS - LEFT MENU - BEGINS
	<aside class="left-off-canvas-menu">
		<ul class="off-canvas-list">
		{{#if navigation.nav_label}}
			<li>
				<label>{{navigation.nav_label}}</label>
			</li>
		{{/if}}

		{{!--
		{{#if navigation.whats_new}}
			<li>
				<a class="evo-site-header--cta-whats-new" href="{{navigation.whats_new.url}}">{{{navigation.whats_new.name}}}
				{{#each navigation.whats_new.icon}}
					{{> (lookup . 'partial') }}
				{{/each}}
				</a>
			</li>
		{{/if}}
		--}}

		{{#each navigation.nav}}
			<li class="has-submenu">
				<a href="">{{section}}</a>
				<ul class="left-submenu">
					<li class="back">
						<a href="">Back</a>
					</li>
				{{#each sub_section}}
					{{#if label}}
					<li>
						<label>{{label}}</label>
					</li>
					{{/if}}
					{{#each nav_items}}
					<li>
						<a href="{{url}}">{{name}}</a>
					</li>
					{{/each}}
				{{/each}}
				</ul>
			<li>
		{{/each}}
		</ul>
	</aside>
	OFF-CANVAS - LEFT MENU - ENDS -->

</header>