<header class="evo-header" role="banner">
	
	<!-- TOP BAR CONTAINER - DEFAULT - BEGINS -->
	<div class="show-for-large-up">

		<!-- TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation">
			
			<!-- TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="index.html"><span class="evo-top-bar-sub-name">Mercer</span> {{ global.title }}</a></h1>
					<!-- <a href="#/">{{> image src="core/corp-logos/mercer/mercer_logo_rgb_reverse.png" alt="Mercer - Make Tomorrow, Today" width="160"}}</a> -->
				</li>
			</ul>
			<!-- TOP BAR TITLE AREA - ENDS -->

			<!-- TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="has-dropdown">
						<a>Learn</a>
						<ul class="dropdown">
							<li>
								<a href="">What is Evolution?</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Services</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">What's New</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Case Studies</a>
							</li>
						</ul>
					</li>
					<li class="has-dropdown">
						<a>Design</a>
						<ul class="dropdown">
							<li>
								<label>{{uppercase "UX Design"}}</label>
							</li>
							<li>
								<a href="">Design Principles</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Design Tenets</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Download Templates</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Pattern Library</a>
							</li>
							<li>
								<label>{{uppercase "Visual Design"}}</label>
							</li>
							<li>
								<a href="">Color Palette</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Icons</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Corporate Logos</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">People Images</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Typography</a>
							</li>
						</ul>
					</li>
					<li class="has-dropdown">
						<a>Develop</a>
						<ul class="dropdown">
							<li>
								<label>{{uppercase "Downloads"}}</label>
							</li>
							<li>
								<a href="">Download Evolution v{{ package.evolution.version }}</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Previous Versions</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Upgrading Evolution</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Change Log</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Boilerplates</a>
							</li>
							<li>
								<label>{{uppercase "Pattern Library"}}</label>
							</li>
							<li>
								<a href="/atoms.html">Atoms</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/molecules.html">Molecules</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/organisms.html">Organisms</a>
							</li>
							<li>
								<label>{{uppercase "UI Standards"}}</label>
							</li>
							<li>
								<a href="">Front End Code Standards</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Organism Development</a>
							</li>
						</ul>
					</li>
					</li>
					<li class="has-dropdown">
						<a>Help/Support</a>
						<ul class="dropdown">
							<li>
								<a href="">Browser Support</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Media Queries</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">FAQs</a>
							</li>
						</ul>
					</li>
					<li class="divider"></li>
					<li>
						<a class="evo-header-cta-whats-new" href="">What's New{{> icon class="evo-icon-arrow-right2 evo-icon-position-right"}}</a>
					</li>
				</ul>
				<!-- TOP BAR RIGHT NAV SECTION - ENDS -->

				<!-- TOP BAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					
				</ul>
				<!-- TOP BAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- TOP BAR NAV SECTION - ENDS -->

		</nav>
		<!-- TOP BAR - ENDS -->

	</div>
	<!-- TOP BAR CONTAINER - DEFAULT - ENDS -->

	<!-- OFF-CANVAS - TAB BAR - BEGINS -->
	<nav class="tab-bar hide-for-large-up" aria-hidden="true">
		<section class="left-small">
			<a class="left-off-canvas-toggle menu-icon">
				<i class="evo-icon-menu7 evo-icon-size-medium" title="Menu"></i>
			</a>
		</section>

		<section class="middle tab-bar-section">
			<h1 class="title">
				<a href="/">{{ global.title }}</a>
			</h1>
			<!-- <a class="title" href="#/">{{> image src="core/corp-logos/mercer/mercer_logo_rgb_reverse.png" alt="Mercer - Make Tomorrow, Today" width="160"}}</a> -->
		</section>
	</nav>
	<!-- OFF-CANVAS - TAB BAR - ENDS -->

	<!-- OFF-CANVAS - LEFT MENU - BEGINS -->
	<aside class="left-off-canvas-menu">
		<ul class="off-canvas-list">
			<li>
				<label>Navigation</label>
			</li>
			<li>
				<a class="evo-header-cta-whats-new" href="">What's New{{> icon class="evo-icon-arrow-right2 evo-icon-position-right"}}</a>
			</li>
			<li class="has-submenu">
				<a href="">Learn</a>
				<ul class="left-submenu">
					<li class="back">
						<a href="">Back</a>
					</li>
					<li>
						<a href="">What is Evolution?</a>
					</li>
					<li>
						<a href="">Services</a>
					</li>
					<li>
						<a href="">What's New</a>
					</li>
					<li>
						<a href="">Case Studies</a>
					</li>
				</ul>
			</li>
			<li class="has-submenu">
				<a href="">Design</a>
				<ul class="left-submenu">
					<li class="back">
						<a href="">Back</a>
					</li>
					<li>
						<label>{{uppercase "UX Design"}}</label>
					</li>
					<li>
						<a href="">Design Principles</a>
					</li>
					<li>
						<a href="">Design Tenets</a>
					</li>
					<li>
						<a href="">Download Templates</a>
					</li>
					<li>
						<a href="">Pattern Library</a>
					</li>
					<li>
						<label>{{uppercase "Visual Design"}}</label>
					</li>
					<li>
						<a href="">Color Palette</a>
					</li>
					<li>
						<a href="">Icons</a>
					</li>
					<li>
						<a href="">Corporate Logos</a>
					</li>
					<li>
						<a href="">People Images</a>
					</li>
					<li>
						<a href="">Typography</a>
					</li>
				</ul>
			</li>
			<li class="has-submenu">
				<a href="">Develop</a>
				<ul class="left-submenu">
					<li class="back">
						<a href="">Back</a>
					</li>
					<li>
						<label>{{uppercase "Downloads"}}</label>
					</li>
					<li>
						<a href="">Download Evolution v{{ package.evolution.version }}</a>
					</li>
					<li>
						<a href="">Previous Versions</a>
					</li>
					<li>
						<a href="">Upgrading Evolution</a>
					</li>
					<li>
						<a href="">Change Log</a>
					</li>
					<li>
						<a href="">Boilerplates</a>
					</li>
					<li>
						<label>{{uppercase "Pattern Library"}}</label>
					</li>
					<li>
						<a href="/atoms.html">Atoms</a>
					</li>
					<li>
						<a href="/molecules.html">Molecules</a>
					</li>
					<li>
						<a href="/organisms.html">Organisms</a>
					</li>
					<li>
						<label>{{uppercase "UI Standards"}}</label>
					</li>
					<li>
						<a href="">Front End Code Standards</a>
					</li>
					<li>
						<a href="">Organism Development</a>
					</li>
				</ul>
			</li>
			<li class="has-submenu">
				<a href="">Help/Support</a>
				<ul class="left-submenu">
					<li class="back">
						<a href="">Back</a>
					</li>
					<li>
						<a href="">Browser Support</a>
					</li>
					<li>
						<a href="">Media Queries</a>
					</li>
					<li>
						<a href="">FAQs</a>
					</li>
				</ul>
			</li>
		</ul>
	</aside>
	<!-- OFF-CANVAS - LEFT MENU - ENDS -->

</header>