<!-- THIN FOOTER COMPONENT SECTION - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-example-section" id="{{ model.component-name-id-07 }}">
			<section class="row">

			<!-- COMPONENT HEADER - BEGINS -->
				<div class="medium-7 columns">
					<h3 class="evo-site-category-pages-header">{{ model.component-name-07 }}</h3>
				</div>
			<!-- COMPONENT HEADER - ENDS -->

			<!-- TABS - BEGINS -->
				<div class="medium-5 columns">
					<ul class="tabs evo-tabs-titles-category-pages" data-tab role="tablist">
						<li class="tab-title active" role="presentation">
							<a href="#{{ model.component-name-id-07 }}-1" role="tab" tabindex="0" aria-selected="true" aria-controls="tabs1" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Overview"><span class="text"><i class="evo-icon-site-newspaper evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Overview" aria-label="Overview"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-07 }}-2" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs2" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Usage"><span class="text"><i class="evo-icon-site-book3 evo-icon-size-small evo-center-block-vertical-element evo-center-block active" title="Usage" aria-label="Usage"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-07 }}-3" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs3" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Mobile"><span class="text"><i class="evo-icon-site-mobile evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Mobile" aria-label="Mobile"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-07 }}-4" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs4" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Technical"><span class="text"><i class="evo-icon-site-file-xml2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Technical" aria-label="Technical"></i></span></a>
						</li>
						<li class="tab-title evo-no-padding-right evo-component-page-tab-back-to-top" role="presentation">
							<a data-scroll-to-top href="#top" tabindex="0" aria-selected="false" aria-controls="" data-tooltip data-options="disable_for_touch:true; show_on:large; touch_close_text:" aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Back to Top"><span class="text"><i class="evo-icon-circle-up2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" aria-label="Back to Top"></i></span></a>
						</li>
					</ul>
				</div>
			<!-- TABS - ENDS -->

			</section>

		<!-- COMPONENT EXAMPLE - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<hr class="evo-site-component-divider">

					<div class="tabs-content evo-tabs-content-category-pages">

					<!-- TAB 1 (overview section) - BEGINS -->
						<section role="tabpanel" aria-hidden="false" class="content active" id="{{ model.component-name-id-07 }}-1">
						<!-- COMPONENT TITLE AND DESCRIPTION - BEGINS -->
							<p>The Thin Footer is a footer container that appears consistently at the bottom of every page. The thin footer contains Mercer branding, copyright information, and global links such as, Terms of Use, Privacy Policy, Sitemap, and Contact Us.</p>
						<!-- COMPONENT TITLE AND DESCRIPTION - ENDS -->
						</section>
					<!-- TAB 1 (overview section) - ENDS -->

					<!-- TAB 2 (usage section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-07 }}-2">
							<p>The Thin Footer should be used when it is not important to expose users to a deeper level of the site structure via the Fat Footer. </p>
							<ul>
								<li>The width of the Thin Footer will span 100% of the browser window.</li>
								<li>The content within the Thin Footer will be displayed inside the centered 980px wide content container.</li>
								<li>Any type of grid layout can be used inside the Thin Footer.</li>
								<li>The default background color of the Thin Footer is #E6E6E6 for the lower band and #FAFAFA for the upper band.</li>
								<li>The default text color of all the content in the Thin Footer is #999999.</li>
							</ul>
						</section>
					<!-- TAB 2 (usage section) - ENDS -->

					<!-- TAB 3 (mobile section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-07 }}-3">
							<ul>
								<li>The mobile version of the Thin Footer will continue to span 100% of the available screen space.</li>
								<li>The items in the Thin Footer will stack on top of each other</li>
								<li>The overall font size of the content in the Thin Footer will increase.</li>
							</ul>
						</section>
					<!-- TAB 3 (mobile section) - ENDS -->

					<!-- TAB 4 (get code section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-07 }}-4">
							<div class="row">
								<div class="large-3 large-push-9 columns">

								<!-- DOWNLOAD - BEGINS -->
									<h6>Get Code</h6>
									<p>
										<a href="{{ model.family-boilerplate-download-url }}" class="button radius evo-button evo-site-button evo-no-margin-bottom" data-evo-button-icons="left" id="" role="button" title="Download Boilerplate" aria-label="">
											<i class="evo-icon-download4 evo-icon-position-left" title=""></i>
											<span class="evo-button-text">Download Boilerplate</span>
										</a>
									</p>
								<!-- DOWNLOAD - ENDS -->
									
								</div>
								<div class="large-9 large-pull-3 columns">
									
								<p>Please use the Evolution Core <a href="/reference/components/thin-footer/index">thin footer</a> to get code for this component.</p>

								<!-- EXAMPLE HTML - BEGINS -->
									<h6>HTML</h6>
									{{ global.reference-component-html-instructions }}
								<!-- EXAMPLE HTML - ENDS -->

								</div>
							</div>
						</section>
					<!-- TAB 4 (get code section) - ENDS -->

					</div>
				</div>
			</section>

			<section class="row">
				<div class="small-12 columns">

				<!-- COMPONENT CODE - BEGINS -->
					{{ "/bp/components/thin-footer/thin-footer.css" | asset_url | stylesheet_tag }}
					{% include "/bp/components/thin-footer/thin-footer" %}
				<!-- COMPONENT CODE - ENDS -->

				</div>
			</section>
		<!-- COMPONENT EXAMPLE - ENDS -->

		</div>
	</section>
<!-- THIN FOOTER COMPONENT SECTION - ENDS -->