{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-basic-content-ctn">
			<div class="row">
				<div class="small-12 columns">

				<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
					<h1>{{ model.title }}</h1>
					<p>
						Evolution is a modern framework for modern browsers. As such, Evolution is intended for <strong>B Grade browsers and above</strong>. For F Grade browsers, which are explicitly unsupported and untested, elements will render differently from supported browsers.
					</p>
				<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

					<hr />

				<!-- CONTENT - BEGINS -->

					<!-- BROWSER GRADING KEY - BEGINS -->
						<h6>Browser Grade</h6>
						<ul class="evo-data-list">
							<li>A - Supported version of modern browser</li>
							<li>B - Minimum browser support</li>
							<li>F - Explicitly unsupported and untested</li>
						</ul>
					<!-- BROWSER GRADING KEY - ENDS -->
				
					<!-- BROWSER GRADING TABLE - BEGINS -->
						<div class="evo-table-small-mediaquery">
							<table class="evo-table" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="" role="grid">
								<thead>
									<tr>
										<th scope="column">Browser</th>
										<th scope="column" data-evo-background-color="emerald-medium">A Grade</th>
										<th scope="column" data-evo-background-color="emerald-medium">B Grade</th>
										<th scope="column" data-evo-background-color="garnet-medium">F Grade (not supported)</th>
									</tr>
								</thead>
								<tbody>
									{% for item in model.browser-support-table-data %}
									<tr>
										<td><strong>{{ item.browserType }}</strong></td>
										<td data-evo-background-color="emerald-light">{{ item.gradeA }}</td>
										<td data-evo-background-color="emerald-light">{{ item.gradeB }}</td>
										<td data-evo-background-color="garnet-light">{{ item.gradeF }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					<!-- BROWSER GRADING TABLE - ENDS -->

					<!-- ANNOTATIONS BOX - BEGINS -->
						<div class="panel evo-box annotations">
							<div class="evo-box-bdy">
								<h6>IE Compatibility Mode</h6>
								<p class="evo-no-margin-bottom">
									We <strong>do not</strong> support IE Compatibility mode for any version of IE. IE Compatibility mode will make IE render as IE7 (or worse) which is not supported by Evolution. IE Compatibility mode is also not web standards compliant. Evolution supports IE9 and up, in standards mode. Lastly, through a meta tag, we tell IE to render at the highest version and standards mode available in the version of IE currently being used by the user.
								</p>
							</div>
						</div>
					<!-- ANNOTATIONS BOX - ENDS -->

				<!-- CONTENT - ENDS -->

				</div>
			<div>
		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}