{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="col-24">
		
		<div class="col-16 first">
			{{ model.reference-overview }}
		</div>
		<div class="col-8">

			<div class="evo-box evo-sidebar-ctn">
				<div class="evo-box-hdr">
					<h4 class="evo-hdr-rule">{{ model.reference-related-components-hdr }}</h4>
				</div>
				<div class="box-bdy">
					{{ model.reference-related-components-content }}
				</div>
			</div>

		</div>

	</section>
<!-- CONTENT SECTION - ENDS -->

{% endblock %}