{% block content %}

	<div>
	<!--VIDEO BACKGROUND -BEGIN -->
		<video autoplay loop poster="{{ "evo-homepage-background.jpg" | asset_url }}" class="evo-background-video">
			<source src="{{ "evo-home-video-bg.mp4" | asset_url }}" type="video/mp4">
		</video>
	<!--VIDEO BACKGROUND -END -->
	<!-- TITLE AND TAGLINE - BEGIN -->
		<section class="row evo-home-scroll-section-welcome" data-speed="10" data-type="background">
		  	<article class="evo-home-welcome evo-home-article-headers">
			  	<div class="small-12 small-centered columns">
			  		<div class="evo-home-headers-box-welcome evo-center-block-vertical evo-center-block">
						<h1 class="evo-home-headers-welcome evo-center-block-vertical-element">
							<span class="evo-home-article-headers-thin">Mercer</span> Evolution
						</h1>
					</div>
				</div>
				<div class="small-12 small-centered columns">
			    	<h3>Interactive standards for a new age of digital design.</h3>
			    </div>
			    <a href="#what-is-evo" data-scroll-to-location> 
				    <div class="evo-box-circle-home-arrow evo-center-block">
						<i class="evo-icon-arrow-down2 evo-icon-color-white evo-icon-size-large" title="" aria-label=""></i>
					</div>
				</a>
		  	</article>
		</section>
	<!-- TITLE AND TAGLINE - END -->
	
	<!-- WHAT IS EVOLUTION - BEGIN -->
		<section class="row evo-home-scroll-section-about" data-speed="4" data-type="background">
		  	<article class="evo-home-about evo-home-article-headers" id="what-is-evo">
			  	<div class="small-10 medium-12 large-9 small-centered columns">
			  		<h2>What is Evolution?</h2>
			  		<!--SHOW MEDIUM UP - BEGINS-->
			  			<ul class="medium-block-grid-3 show-for-medium-up">
							<li class="evo-home-grid-about">							
								<i class="evo-icon-site-map4" title="" aria-label=""></i>
								<h4>A Style Guide</h4>
								that presents an interactive view of our visual standards in a manner that doesn't grow stale,but is frequently updated.					
							</li>
							<li class="evo-home-grid-about">							
								<i class="evo-icon-site-book2" title="" aria-label=""></i>
								<h4>A Library</h4>
								of common UI components and UX patterns that can be easily re-used across projects.					
							</li>
							<li class="evo-home-grid-about">							
								<i class="evo-icon-site-cog" title="" aria-label=""></i>
								<h4>A Framework</h4>
								that can be layered on top of each project to provide quick,easy access to allEvolution components.
							</li>
						</ul>
					<!--SHOW MEDIUM UP - ENDS-->
			  		<!--SHOW SMALL - BEGINS-->
			  			<ul class="show-for-small-only evo-spacer-margin-top-large evo-spacer-margin-bottom-x-large">
							<li class="evo-home-grid-about">
								<div class="evo-home-grid-about-small evo-center-block">							
									<i class="evo-icon-site-map4" title="" aria-label=""></i>
									<h4>A Style Guide</h4>	
								</div>			
							</li>
							<li class="evo-home-grid-about">
								<div class="evo-home-grid-about-small evo-center-block">							
									<i class="evo-icon-site-book2" title="" aria-label=""></i>
									<h4>A Library</h4>
								</div>					
							</li>
							<li class="evo-home-grid-about">
								<div class="evo-home-grid-about-small evo-center-block">							
									<i class="evo-icon-site-cog" title="" aria-label=""></i>
									<h4>A Framework</h4>
								</div>
							</li>
						</ul>
					<!--SHOW SMALL - ENDS-->				
					<!-- LEARN MORE BUTTON - BEGINS -->
					<div class="row">
						<div class="small-12 columns text-center">
							<a href="#" class="button radius evo-button-learn-more-home" data-evo-button-icons="right" id="" role="button" title="Learn More" aria-label="">
								<span class="evo-button-text">Learn More</span>
								<i class="evo-icon-arrow-right5 evo-icon-position-right evo-icon-color-sapphire-bright" title=""></i>
							</a>
						</div>
					</div>
					<!-- LEARN MORE BUTTON - ENDS -->
			  	</div>
		  	</article>
		</section>
	<!-- WHAT IS EVOLUTION - END -->

	<!-- PRODUCT FAMILIES - BEGIN -->
		<section class="row evo-home-scroll-section-families"  data-speed="10" data-type="background">
		  	<article class="evo-home-families evo-home-article-headers">
			  	<div class="small-12 columns text-center">
			  		<div class="evo-home-headers-box-families evo-center-block-vertical evo-center-block">
						<span class="evo-home-headers-families evo-center-block-vertical-element">Product Families</span>
					</div>
				 	<p>Evolution currently supports the following product families:</p>
				</div>
				<section class="small-12 medium-9 small-centered columns">
				    <ul class="small-block-grid-2 large-block-grid-4">
						<li>
							<a href="ee/index">							
								<div class="button evo-box-circle-home-button">								
									<i class="evo-icon-users5 evo-icon-color-white" title="" aria-label=""></i>									
								</div>
							</a>
							<h5 class="text-center">EMPLOYEE PORTALS</h5>							
						</li>
						<li>
							<a href="javascript: void(0)">							
								<div class="button evo-box-circle-home-button">									
										<i class="evo-icon-site-pie-chart5 evo-icon-color-white" title="" aria-label=""></i>					
								</div>
							</a>
							<h5>EMPLOYER DASHBOARDS</h5>							
						</li>
						<li>
							<a href="comm/index">							
								<div class=" button evo-box-circle-home-button">								
									<i class="evo-icon-site-bullhorn evo-icon-color-white" title="" aria-label=""></i>							
								</div>
							</a>
							<h5>COMMUNICATION SITES</h5>							
						</li>
						<li>
							<a href="javascript: void(0)">							
								<div class="button evo-box-circle-home-button">
									<i class="evo-icon-site-power-cord evo-icon-color-white" title="" aria-label=""></i>
								</div>
							</a>
							<h5>INTERNAL TOOLS</h5>							
						</li>
					</ul>
				</section>
		  	</article>
		</section>
	<!-- PRODUCT FAMILIES - END -->

	<!-- BENEFITS OF EVOLUTION - BEGIN -->
		<section class="row evo-home-scroll-section-benefits" data-speed="10" data-type="background">
			<article class="evo-home-benefits evo-home-article-headers">
		  		<h2>Benefits of Evolution</h2>
			
			<!-- CAROUSEL - BEGINS -->
				<div class="evo-carousel evo-carousel-home" data-evo-carousel="evo-carousel-example">
					<div class="evo-carousel-item">
					<!-- ITEM 1 MEDIUM UP - BEGINS -->
						<div class="row evo-carousel-box show-for-medium-up">							
							<div class="small-4 medium-offset-2 columns evo-carousel-image-home" >
								<img src="{{ "tablet.png" | asset_url }}" type="">
							</div>
							<div class="small-6 columns evo-family-categories-ctn">
								<div class="evo-box-circle-home evo-center-block">
									<i class="evo-icon-site-list2 evo-icon-size-medium evo-center-block-vertical-element evo-icon-color-sapphire-dark evo-center-block" title="" aria-label=""></i>
								</div>
								<h4 class="evo-spacer-margin-bottom-x-large">Re-usability</h4>
								<p>The common UX patterns and UI components included in Evolution can be re-used across projects.</p>
							</div>
						</div>
					<!-- ITEM 1 MEDIUM UP - ENDS -->
					<!-- ITEM 1 SMALL - BEGINS -->
						<div class="row evo-carousel-box show-for-small-only">							
							<div class="small-12 small-centered columns">
								<div class="evo-box-circle-home evo-center-block">
									<i class="evo-icon-site-list2 evo-icon-size-medium evo-center-block-vertical-element evo-icon-color-sapphire-dark evo-center-block" title="" aria-label=""></i>
								</div>
								<h4 class="evo-spacer-margin-bottom-x-large">Re-usability</h4>
								<p>The common UX patterns and UI components included in Evolution can be re-used across projects.</p>
							</div>
						</div>
					<!-- ITEM 1 SMALL - ENDS -->
					</div>
					<div class="evo-carousel-item">
					<!-- ITEM 2 MEDIUM UP - BEGINS -->
						<div class="row evo-carousel-box show-for-medium-up">							
							<div class="small-4 medium-offset-2 columns evo-carousel-image-home" >
								<img src="{{ "tablet.png" | asset_url }}" type="">
							</div>
							<div class="small-6 columns evo-family-categories-ctn">
								<div class="evo-box-circle-home evo-center-block">
									<i class="evo-icon-site-list2 evo-icon-size-medium evo-center-block-vertical-element evo-icon-color-sapphire-dark evo-center-block" title="" aria-label=""></i>
								</div>
								<h4 class="evo-spacer-margin-bottom-x-large">Consistency</h4>
								<p>Projects built using Evolution deliver a common user experience and the ability to have a conisistent UI across products.</p>
							</div>
						</div>
					<!-- ITEM 2 MEDIUM UP - ENDS -->
					<!-- ITEM 2 SMALL - BEGINS -->
						<div class="row evo-carousel-box show-for-small-only">							
							<div class="small-12 small-centered columns">
								<div class="evo-box-circle-home evo-center-block">
									<i class="evo-icon-site-list2 evo-icon-size-medium evo-center-block-vertical-element evo-icon-color-sapphire-dark evo-center-block" title="" aria-label=""></i>
								</div>
								<h4 class="evo-spacer-margin-bottom-x-large">Consistency</h4>
								<p>Projects built using Evolution deliver a common user experience and the ability to have a conisistent UI across products.</p>
							</div>
						</div>
					<!-- ITEM 2 SMALL - ENDS -->
					</div>
					<div class="evo-carousel-item">
					<!-- ITEM 3 MEDIUM UP - BEGINS -->
						<div class="row evo-carousel-box show-for-medium-up">							
							<div class="small-4 medium-offset-2 columns evo-carousel-image-home" >
								<img src="{{ "tablet.png" | asset_url }}" type="">
							</div>
							<div class="small-6 columns evo-family-categories-ctn">
								<div class="evo-box-circle-home evo-center-block">
									<i class="evo-icon-site-list2 evo-icon-size-medium evo-center-block-vertical-element evo-icon-color-sapphire-dark evo-center-block" title="" aria-label=""></i>
								</div>
								<h4 class="evo-spacer-margin-bottom-x-large">Responsive</h4>
								<p>Evolution components are responsive out of the box, giving you default coverage for product delivery across multiple devices.</p>
							</div>
						</div>
					<!-- ITEM 3 MEDIUM UP - ENDS -->
					<!-- ITEM 3 SMALL - BEGINS -->
						<div class="row evo-carousel-box show-for-small-only">							
							<div class="small-12 small-centered columns">
								<div class="evo-box-circle-home evo-center-block">
									<i class="evo-icon-site-list2 evo-icon-size-medium evo-center-block-vertical-element evo-icon-color-sapphire-dark evo-center-block" title="" aria-label=""></i>
								</div>
								<h4 class="evo-spacer-margin-bottom-x-large">Responsive</h4>
								<p>Evolution components are responsive out of the box, giving you default coverage for product delivery across multiple devices.</p>
							</div>
						</div>
					<!-- ITEM 3 SMALL - ENDS -->
					</div>
					<div class="evo-carousel-item">
					<!-- ITEM 4 MEDIUM UP - BEGINS -->
						<div class="row evo-carousel-box show-for-medium-up">							
							<div class="small-4 medium-offset-2 columns evo-carousel-image-home" >
								<img src="{{ "tablet.png" | asset_url }}" type="">
							</div>
							<div class="small-6 columns evo-family-categories-ctn">
								<div class="evo-box-circle-home evo-center-block">
									<i class="evo-icon-site-list2 evo-icon-size-medium evo-center-block-vertical-element evo-icon-color-sapphire-dark evo-center-block" title="" aria-label=""></i>
								</div>
								<h4 class="evo-spacer-margin-bottom-x-large">Time Savings</h4>
								<p>Starting from a common baseline saves time across the facets of UI design: prototyping, visual design and UI development.</p>
							</div>
						</div>
					<!-- ITEM 4 MEDIUM UP - ENDS -->
					<!-- ITEM 4 SMALL - BEGINS -->
						<div class="row evo-carousel-box show-for-small-only">							
							<div class="small-12 small-centered columns">
								<div class="evo-box-circle-home evo-center-block">
									<i class="evo-icon-site-list2 evo-icon-size-medium evo-center-block-vertical-element evo-icon-color-sapphire-dark evo-center-block" title="" aria-label=""></i>
								</div>
								<h4 class="evo-spacer-margin-bottom-x-large">Time Savings</h4>
								<p>Starting from a common baseline saves time across the facets of UI design: prototyping, visual design and UI development.</p>
							</div>
						</div>
					<!-- ITEM 4 SMALL - ENDS -->
					</div>
					<div class="evo-carousel-item">
					<!-- ITEM 5 MEDIUM UP - BEGINS -->
						<div class="row evo-carousel-box show-for-medium-up">							
							<div class="small-4 medium-offset-2 columns evo-carousel-image-home" >
								<img src="{{ "tablet.png" | asset_url }}" type="">
							</div>
							<div class="small-6 columns evo-family-categories-ctn">
								<div class="evo-box-circle-home evo-center-block">
									<i class="evo-icon-site-list2 evo-icon-size-medium evo-center-block-vertical-element evo-icon-color-sapphire-dark evo-center-block" title="" aria-label=""></i>
								</div>
								<h4 class="evo-spacer-margin-bottom-x-large">Cost Savings</h4>
								<p>Project delivery is cheaper thanks to the re-use of components and patterns that have already been tested across browsers.</p>
							</div>
						</div>
					<!-- ITEM 5 MEDIUM UP - ENDS -->
					<!-- ITEM 5 SMALL - BEGINS -->
						<div class="row evo-carousel-box show-for-small-only">							
							<div class="small-12 small-centered columns">
								<div class="evo-box-circle-home evo-center-block">
									<i class="evo-icon-site-list2 evo-icon-size-medium evo-center-block-vertical-element evo-icon-color-sapphire-dark evo-center-block" title="" aria-label=""></i>
								</div>
								<h4 class="evo-spacer-margin-bottom-x-large">Cost Savings</h4>
								<p>Project delivery is cheaper thanks to the re-use of components and patterns that have already been tested across browsers.</p>
							</div>
						</div>
					<!-- ITEM 5 SMALL - ENDS -->
					</div>
				</div>
			<!-- CAROUSEL - ENDS -->
			</article>
		</section>
	<!-- BENEFITS OF EVOLUTION - END -->

	<!-- FRONT-END DEVELOPMENT - BEGIN -->
		<section class="row evo-home-scroll-section-front-end" data-speed="10" data-type="background">
			<article class="evo-home-front-end evo-home-article-headers">
			  	<div class="small-12 columns text-center">
			  		<div class="evo-home-headers-box-front-end evo-center-block-vertical evo-center-block">
						<span class="evo-home-headers-front-end evo-center-block-vertical-element">Front-End Development</span>
					</div>
			    	<p>As a UI framework, Evolution is technology agnostic. It has recently been used on Mercer projects using diverse technologies like Durandal, AngularJS, DNN, .Net, JSP and Adobe Experience Manager.</p>
				</div>
				<section class="small-12 large-9 small-centered columns text-center">
				    <ul class="small-block-grid-2 medium-block-grid-4">
						<li class="evo-home-grid-front-end">																
							<i class="evo-icon-site-css3 evo-icon-site-users4" title="" aria-label=""></i><br />
							<h5>CSS</h5>							
						</li>
						<li class="evo-home-grid-front-end">																
							<i class="evo-icon-site-html52" title="" aria-label=""></i><br />
							<h5>HTML</h5>							
						</li>
						<li class="evo-home-grid-front-end">															
							<i class="evo-icon-site-code" title="" aria-label=""></i><br />
							<h5>JavaScript</h5>							
						</li>
						<li class="evo-home-grid-front-end">																
							<i class="evo-icon-site-embed2" title="" aria-label=""></i><br />
							<h5>jQuery</h5>							
						</li>
					</ul>

				<!-- LEARN MORE BUTTON - BEGINS -->
					<div class="row">
						<div class="small-12 columns text-center">
							<a href="#" class="button radius evo-button-learn-more-home" data-evo-button-icons="right" id="" role="button" title="Learn More" aria-label="">
								<span class="evo-button-text">Learn More</span>
								<i class="evo-icon-arrow-right5 evo-icon-position-right" title=""></i>
							</a>
						</div>
					</div>
				<!-- LEARN MORE BUTTON - ENDS -->
				</section>
			</article>
		</section>
	<!-- FRONT-END DEVELOPMENT - END -->
	</div>

{% endblock %}