{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

	<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>
			<p>
				Boxes are the basic building blocks of any web site or component. Evolution Core boxes depend on Foundation's <a href="http://foundation.zurb.com/docs/components/panels.html" target="_blank">Panels</a> as a starting point. Each box is made of a box header, body, and footer.
			</p>
		</div>
	<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

	<!-- PAGE MAGELLAN NAV - BEGINS -->
		<div class="small-12 columns">
			<div class="evo-magellan" data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="basic"><a href="#basic">Basic</a></dd>
					<dd data-magellan-arrival="box-header"><a href="#box-header">Box with Header</a></dd>
					<dd data-magellan-arrival="box-shadow"><a href="#box-shadow">Box with Shadow</a></dd>
					<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
					<dd class="site-html-ctn-toggle">
						<a href="javascript:;" class="site-get-code">Get Code<i class="evo-icon-arrow-right5 evo-icon-position-left"></i></a>
					</dd>
				</dl>
			</div>
		</div>
	<!-- PAGE MAGELLAN NAV - ENDS -->

	</section>
<!-- PAGE INTRO - ENDS -->

<!-- EXAMPLE - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

		<!-- BASIC - BEGINS -->
			<h3 data-magellan-destination="basic">Basic</h3>
			<a name="basic"></a>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include "/reference/base/boxes/box" %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include "/reference/base/boxes/box" %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- BASIC - ENDS -->

		<!-- BOX WITH HEADER - BEGINS -->
			<h3 data-magellan-destination="box-header">Box with Header</h3>
			<a name="box-header"></a>

			<p>Box header can be a <code>h1</code> through a <code>h6</code>.</p>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include "/reference/base/boxes/box-hdr" %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include "/reference/base/boxes/box-hdr" %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- BOX WITH HEADER - ENDS -->

		<!-- BOX WITH SHADOW- BEGINS -->
			<h3 data-magellan-destination="box-shadow">Box with Shadow</h3>
			<a name="box-shadow"></a>

			<p>Box header can be a <code>h1</code> through a <code>h6</code>. This box also includes an example of a box footer.</p>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include "/reference/base/boxes/box-hdr-shadow" %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include "/reference/base/boxes/box-hdr-shadow" %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- BOX WITH SHADOW- ENDS -->

		<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<h3 data-magellan-destination="advanced">Advanced</h3>
					<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-foundation == "true" %}
								<li>
									<a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a>
									<ul>
										<li>
											<a href="http://foundation.zurb.com/docs/components/panels.html" target="_blank">Panels</a>
										</li>
									</ul>
								</li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
		<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- EXAMPLE - ENDS -->

{% endblock %}