{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

	<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>
			<p>
				Equalizer is a great way to create equal height content on your page.
			</p>
		</div>
	<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

	<!-- PAGE MAGELLAN NAV - BEGINS -->
		<div class="small-12 columns">
			<div class="evo-magellan" data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="basic"><a href="#basic">Basic</a></dd>
					<dd data-magellan-arrival="responsive"><a href="#responsive">Responsive</a></dd>
					<dd data-magellan-arrival="nested"><a href="#nested">Nested</a></dd>
					<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
				</dl>
			</div>
		</div>
	<!-- PAGE MAGELLAN NAV - ENDS -->

	</section>
<!-- PAGE INTRO - ENDS -->

<!-- EXAMPLE - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

		<!-- BASIC - BEGINS -->
			<h3 data-magellan-destination="basic">Basic</h3>
			<a name="basic"></a>
			<p>
				You can create an equal height container using a few data attributes. Apply the data-equalizer attribute to a parent container. Then apply the <code>data-equalizer-watch</code> attribute to each element you'd like to have an equal height. The height of <code>data-equalizer-watch</code> attribute will be equal to that of the tallest element.
			</p>

			<!-- EXAMPLE - BEGINS -->
				<section class="row">

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="small-12 columns">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>

						{{ global.reference-get-code-start-tag }}{% include '/reference/base/equalizer/equalizer' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="small-12 columns">
						<h6>Rendered HTML</h6>

						{% include '/reference/base/equalizer/equalizer' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
			<!-- EXAMPLE - ENDS -->

			<hr />
		<!-- BASIC - ENDS -->

		<!-- RESPONSIVE - BEGINS -->
			<h3 data-magellan-destination="responsive">Responsive</h3>
			<a name="responsive"></a>
			<p>
				You can specify media queries for which equalizer should activate on. Apply the <code>data-equalizer-mq</code> attribute to the parent container. Set the value of the attribute to the same media queries you are using. If you use an unknown media query, Equalizer will ignore the media query request.
			</p>

			<!-- EXAMPLE - BEGINS -->
				<section class="row">

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="small-12 columns">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>

						{{ global.reference-get-code-start-tag }}{% include '/reference/base/equalizer/equalizer-responsive' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="small-12 columns">
						<h6>Rendered HTML</h6>

						{% include '/reference/base/equalizer/equalizer-responsive' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
			<!--EXAMPLE - ENDS -->

			<hr />
		<!-- RESPONSIVE - ENDS -->

		<!-- NESTED - BEGINS -->
			<h3 data-magellan-destination="nested">Nested</h3>
			<a name="nested"></a>
			<p>
				You can also nest "equalized" elements in other Equalizer elements. Apply the data-equalizer attribute to a parent container and assign a unique name to it. Then apply the <code>data-equalizer-watch</code> attribute to each nested element with the corresponding name. The height of <code>data-equalizer-watch</code> attribute will be equal to that of the tallest element.
			</p>

			<!-- EXAMPLE- BEGINS -->
				<section class="row">

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="small-12 columns">

					<!-- EXAMPLE HTML - BEGINS -->
						<h6>HTML</h6>

						{{ global.reference-get-code-start-tag }}{% include '/reference/base/equalizer/equalizer-nested' %}{{ global.reference-get-code-end-tag }}
					<!-- EXAMPLE HTML - ENDS -->

					</div>
				<!-- EXAMPLE CODE - ENDS -->

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="small-12 columns">
						<h6>Rendered HTML</h6>

						{% include '/reference/base/equalizer/equalizer-nested' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
			<!-- EXAMPLE - ENDS -->

			<hr />
		<!-- NESTED - ENDS -->

		<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<h3 data-magellan-destination="advanced">Advanced</h3>
					<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-foundation == "true" %}
								<li>
									<a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a>
									<ul>
										<li>
											<a href="http://foundation.zurb.com/docs/components/equalizer.html" target="_blank">Equalizer</a>
										</li>
									</ul>
								</li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
		<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- EXAMPLE - ENDS -->

{% endblock %}