{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<script>
	// Toggle large icons
	function toggleLargeIcons(on) {
		var obj = document.getElementById('evo-data-table-icon-reference');
		
		if (on) {
			obj.className += ' icons-large-on';
		} else {
			obj.className = obj.className.replace(' icons-large-on', '');
		}
	}
</script>

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

	<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>
			<p>
				Our icons use an icon Web font based primarily on the <a href="https://icomoon.io/" target="_blank">IcoMoon</a> ultimate set. This is the full IcoMoon Ultimate set. Icons can be pulled from here and used at a site level for a specific project or need.
			</p>
		</div>
	<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

	<!-- PAGE MAGELLAN NAV - BEGINS -->
		<div class="small-12 columns">
			<div class="evo-magellan" data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="icon-font"><a href="#icon-font">Icon Font</a></dd>
					<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
				</dl>
			</div>
		</div>
	<!-- PAGE MAGELLAN NAV - ENDS -->

	</section>
<!-- PAGE INTRO - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

		<!-- ICON FONT - BEGINS -->
			<h3 data-magellan-destination="icon-font">Icon Font</h3>
			<a name="icon-font"></a>
			
			<label for="large-switch-checkbox" style="position: absolute; top: 85px;">
				<input id="large-switch-checkbox" type="checkbox" onclick="toggleLargeIcons(this.checked)" title="Show Large Icons" />
				Show Large Icons
			</label>

			<div class="evo-table-small-mediaquery">
				<table class="evo-table evo-table-hover" id="evo-data-table-icon-reference" data-evo-data-table="evo-data-table-icon-reference" cellpadding="0" cellspacing="0" border="0" title="" summary="" role="grid">
					<thead>
						<tr>
							<th scope="column">Name</th>
							<th scope="column">Default</th>
							<th scope="column">Reverse</th>
							<th scope="column">Class</th>
							<th scope="column">Keywords</th>
						</tr>
					</thead>
					<tbody>

						{% for item in model.icons %}
						<tr>
							<td>{{ item.properties.name }}</td>
							<td class="text-center"><i class="evo-icon-site-{{ item.properties.name }}"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span></td>
							<td class="text-center icon-table-cell-reverse-background"><i class="evo-icon-site-{{ item.properties.name }} evo-icon-color-white"></i><span class="evo-icon-hide-text">{{ item.properties.name }}</span></td>
							<td>evo-icon-site-{{ item.properties.name }}</td>
							<td>{{ item.icon.tags | join: ', ' }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>

			<h6 class="evo-hdr-rule">Basic Icon</h6>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/base/icons/icon-basic' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-basic' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- ICON FONT - ENDS -->

		<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<h3 data-magellan-destination="advanced">Advanced</h3>
					<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-foundation == "true" %}
								<li><a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
		<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}