{% layout "reference/layout" %}
{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<script>
	// Toggle large icons
	function toggleLargeIcons(on) {
		var obj = document.getElementById('evo-data-table-icon-reference');
		
		if (on) {
			obj.className += ' icons-large-on';
		} else {
			obj.className = obj.className.replace(' icons-large-on', '');
		}
	}
</script>

<!-- PAGE INTRO - BEGINS -->
	<section class="row">

	<!-- PAGE TITLE AND DESCRIPTION - BEGINS -->
		<div class="small-12 columns">
			<h1>{{ model.title }}</h1>
			<p>
				Our icons use an icon Web font based primarily on the <a href="https://icomoon.io/" target="_blank">IcoMoon</a> ultimate set. The icons available in IcoMoon ultimate set have been narrowed to this core Evolution Core set. These should cover most icon needs, but if you can't find something to meet your specific needs, you can view the <a href="/reference/base/icons-ultimate">IcoMoon ultimate set</a> to see a complete list of available icons. We continually add new icons to the core set from the IcoMoon ultimate set as they are required.
			</p>
		</div>
	<!-- PAGE TITLE AND DESCRIPTION - ENDS -->

	<!-- PAGE MAGELLAN NAV - BEGINS -->
		<div class="small-12 columns">
			<div class="evo-magellan" data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="icon-font"><a href="#icon-font">Icon Font</a></dd>
					<dd data-magellan-arrival="options"><a href="#options">Icon Font Options</a></dd>
					<dd data-magellan-arrival="photo-icons"><a href="#photo-icons">Photo Icons</a></dd>
					<dd data-magellan-arrival="vector-icons"><a href="#vector-icons">Vector Icons</a></dd>
					<dd data-magellan-arrival="advanced"><a href="#advanced">Advanced</a></dd>
					<dd class="site-html-ctn-toggle">
						<a href="javascript:;" class="site-get-code">Get Code<i class="evo-icon-arrow-right5 evo-icon-position-left"></i></a>
					</dd>
				</dl>
			</div>
		</div>
	<!-- PAGE MAGELLAN NAV - ENDS -->

	</section>
<!-- PAGE INTRO - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="small-12 columns">
			<hr />

		<!-- ICON FONT - BEGINS -->
			<h3 data-magellan-destination="icon-font">Icon Font</h3>
			<a name="icon-font"></a>
			
			<label for="large-switch-checkbox" style="position: absolute; top: 85px;">
				<input id="large-switch-checkbox" type="checkbox" onclick="toggleLargeIcons(this.checked)" title="Show Large Icons" />
				Show Large Icons
			</label>

			<div class="evo-table-small-mediaquery">
				<table class="evo-table evo-table-hover" id="evo-data-table-icon-reference" data-evo-data-table="evo-data-table-icon-reference" cellpadding="0" cellspacing="0" border="0" title="" summary="" role="grid">
					<thead>
						<tr>
							<th scope="column">Name</th>
							<th scope="column">Default</th>
							<th scope="column">Reverse</th>
							<th scope="column">Class</th>
							<th scope="column">Keywords</th>
						</tr>
					</thead>
					<tbody>

						{% for item in model.icons %}
						<tr>
							<td>{{ item.properties.name }}</td>
							<td class="text-center">
								<i class="evo-icon-{{ item.properties.name }}"></i>
								<span class="evo-icon-hide-text">{{ item.properties.name }}</span>
							</td>
							<td class="text-center icon-table-cell-reverse-background">
								<i class="evo-icon-{{ item.properties.name }} evo-icon-color-white"></i>
								<span class="evo-icon-hide-text">{{ item.properties.name }}</span>
							</td>
							<td>evo-icon-{{ item.properties.name }}</td>
							<td>{{ item.icon.tags | join: ', ' }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>

			<h5>Basic Icon</h5>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns">
						<h6>Rendered HTML</h6>
						{% include '/reference/base/icons/icon-basic' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<h6>HTML</h6>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-basic' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- ICON FONT - ENDS -->

		<!-- ICON FONT OPTIONS - BEGINS -->
			<h3 data-magellan-destination="options">Icon Font Options</h3>
			<a name="options"></a>

			<h5 class="evo-spacer-margin-top-medium">Icon Positioning</h5>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<h6>Rendered HTML</h6>
						<p class="ref-sub-head">Position top</p>
						{% include '/reference/base/icons/icon-position-top' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<h6>HTML</h6>
						<p class="ref-sub-head">Position top</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-position-top' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<p class="ref-sub-head">Position bottom</p>
						{% include '/reference/base/icons/icon-position-bottom' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<p class="ref-sub-head">Position bottom</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-position-bottom' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<p class="ref-sub-head">Position left</p>
						{% include '/reference/base/icons/icon-position-left' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<p class="ref-sub-head">Position left</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-position-left' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<p class="ref-sub-head">Position right</p>
						{% include '/reference/base/icons/icon-position-right' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<p class="ref-sub-head">Position right</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-position-right' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<h5 class="evo-spacer-margin-top-medium">Icon Sizes</h5>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<h6>Rendered HTML</h6>
						<p class="ref-sub-head">Small</p>
						{% include '/reference/base/icons/icon-size-small' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<h6>HTML</h6>
						<p class="ref-sub-head">Small</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-size-small' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<p class="ref-sub-head">Medium</p>
						{% include '/reference/base/icons/icon-size-medium' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<p class="ref-sub-head">Medium</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-size-medium' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<p class="ref-sub-head">Large</p>
						{% include '/reference/base/icons/icon-size-large' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<p class="ref-sub-head">Large</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-size-large' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<p class="ref-sub-head">X-large</p>
						{% include '/reference/base/icons/icon-size-x-large' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<p class="ref-sub-head">X-large</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-size-x-large' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<h5 class="evo-spacer-margin-top-medium">Icons as Links/Icons with Links</h5>
			
			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<h6>Rendered HTML</h6>
						<p class="ref-sub-head">Icon as link</p>
						{% include '/reference/base/icons/icon-link' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<h6>HTML</h6>
						<p class="ref-sub-head">Icon as link</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-link' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<p class="ref-sub-head">Icon with link</p>
						{% include '/reference/base/icons/icon-with-link' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<p class="ref-sub-head">Icon with link</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-with-link' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<h5 class="evo-spacer-margin-top-medium">Icons Shields</h5>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<h6>Rendered HTML</h6>
						<p class="ref-sub-head">Small</p>
						{% include '/reference/base/icons/icon-shield-small' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<h6>HTML</h6>
						<p class="ref-sub-head">Small</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-shield-small' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<p class="ref-sub-head">Small Medium</p>
						{% include '/reference/base/icons/icon-shield-small-medium' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<p class="ref-sub-head">Small Medium</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-shield-small-medium' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<p class="ref-sub-head">Medium</p>
						{% include '/reference/base/icons/icon-shield-medium' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<p class="ref-sub-head">Medium</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-shield-medium' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<p class="ref-sub-head">Large</p>
						{% include '/reference/base/icons/icon-shield-large' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<p class="ref-sub-head">Large</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-shield-large' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="medium-6 columns evo-spacer-margin-bottom-xx-large">
						<p class="ref-sub-head">X-large</p>
						{% include '/reference/base/icons/icon-shield-x-large' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				<!-- EXAMPLE CODE - BEGINS -->
					<div class="medium-6 columns site-html-ctn">
						<p class="ref-sub-head">X-large</p>
						{{ global.reference-get-code-start-tag }}{% include '/reference/base/icons/icon-shield-x-large' %}{{ global.reference-get-code-end-tag }}
					</div>
				<!-- EXAMPLE CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- ICON FONT OPTIONS - ENDS -->

		<!-- PHOTO ICONS - BEGINS -->
			<h3 data-magellan-destination="photo-icons">Photo Icons</h3>
			<a name="photo-icons"></a>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="small-12 columns evo-spacer-margin-bottom-xx-large">
						{% include '/content/visual/icons/photo-icons' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- PHOTO ICONS - ENDS -->

		<!-- VECTOR ICONS - BEGINS -->
			<h3 data-magellan-destination="vector-icons">Vector Icons</h3>
			<a name="vector-icons"></a>

			<!-- EXAMPLE DEMO - BEGINS -->
				<section class="row">

				<!-- EXAMPLE RENDERED CODE - BEGINS -->
					<div class="small-12 columns evo-spacer-margin-bottom-xx-large">
						{% include '/content/visual/icons/vector-icons' %}
					</div>
				<!-- EXAMPLE RENDERED CODE - ENDS -->

				</section>
			<!-- EXAMPLE DEMO - ENDS -->

			<hr />
		<!-- VECTOR ICONS - ENDS -->

		<!-- ADVANCED - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<h3 data-magellan-destination="advanced">Advanced</h3>
					<a name="advanced"></a>

				<!-- DEPENDENCY LIST - BEGINS -->
					{% if model.reference-dependency == "true" %}
						<h6>Dependencies</h6>
						<ul>
							{% if model.reference-dependency-foundation == "true" %}
								<li><a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery == "true" %}
								<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
							{% endif %}

							{% if model.reference-dependency-jquery-ui == "true" %}
								<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
							{% endif %}

							{{ model.reference-dependency-list }}
						</ul>
					{% endif %}
				<!-- DEPENDENCY LIST - ENDS -->

				</div>
			</section>
		<!-- ADVANCED - ENDS -->

		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

{% endblock %}