<!-- ITEM SELECTION PANEL SECTION - BEGINS -->
	<section class="row">
		<div class="large-10 large-centered columns evo-site-example-section">
			<section class="row">

			<!-- COMPONENT HEADER - BEGINS -->
				<div class="medium-7 columns">
					<h3 class="evo-site-category-pages-header" id="{{ model.component-name-id-01 }}">{{ model.component-name-01 }}</h3>
				</div>
			<!-- COMPONENT HEADER - ENDS -->

			<!-- TABS - BEGINS -->
				<div class="medium-5 columns">
					<ul class="tabs evo-tabs-titles-category-pages" data-tab role="tablist">
						<li class="tab-title active" role="presentation">
							<a href="#{{ model.component-name-id-01 }}-1" role="tab" tabindex="0" aria-selected="true" aria-controls="tabs1"><span class="text"><i class="evo-icon-site-newspaper evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Overview" aria-label="Overview"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-01 }}-2" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs2"><span class="text"><i class="evo-icon-site-book3 evo-icon-size-small evo-center-block-vertical-element evo-center-block active" title="Usage" aria-label="Usage"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-01 }}-3" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs3"><span class="text"><i class="evo-icon-site-mobile evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Mobile" aria-label="Mobile"></i></span></a>
						</li>
						<li class="tab-title" role="presentation">
							<a href="#{{ model.component-name-id-01 }}-4" role="tab" tabindex="0" aria-selected="false" aria-controls="tabs4"><span class="text"><i class="evo-icon-site-file-xml2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Technical" aria-label="Code"></i></span></a>
						</li>
						<li class="tab-title evo-no-padding-right evo-component-page-tab-back-to-top" role="presentation">
							<a data-scroll-to-top href="#top" tabindex="0" aria-selected="false" aria-controls=""><span class="text"><i class="evo-icon-circle-up2 evo-icon-size-small evo-center-block-vertical-element evo-center-block" title="Back to Top" aria-label="Back to Top"></i></span></a>
						</li>
					</ul>
				</div>
			<!-- TABS - ENDS -->

			</section>

		<!-- COMPONENT EXAMPLE - BEGINS -->
			<section class="row">
				<div class="small-12 columns">

					<hr class="evo-site-component-divider">

					<div class="tabs-content evo-tabs-content-category-pages">

					<!-- TAB 1 (overview section) - BEGINS -->
						<section role="tabpanel" aria-hidden="false" class="content active" id="{{ model.component-name-id-01 }}-1">
						<!-- COMPONENT TITLE AND DESCRIPTION - BEGINS -->
								{{ 1 | lorem_ipsum:'p' }}
						<!-- COMPONENT TITLE AND DESCRIPTION - ENDS -->
						</section>
					<!-- TAB 1 (overview section) - ENDS -->

					<!-- TAB 2 (usage section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-01 }}-2">
							<p>Usage details go here.</p>
						</section>
					<!-- TAB 2 (usage section) - ENDS -->

					<!-- TAB 3 (mobile section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-01 }}-3">
							<p>Mobile view info goes here.</p>
						</section>
					<!-- TAB 3 (mobile section) - ENDS -->

					<!-- TAB 4 (get code section) - BEGINS -->
						<section role="tabpanel" aria-hidden="true" class="content" id="{{ model.component-name-id-01 }}-4">

						<!-- DOWNLOAD - BEGINS -->
							<h6>Download Code</h6>
							<p>
								<a href="{{ model.component-download-url-01 }}" class="button radius evo-button evo-site-button evo-no-margin-bottom" data-evo-button-icons="left" id="" role="button" title="Download" aria-label="">
									<i class="evo-icon-download4 evo-icon-position-left" title=""></i>
									<span class="evo-button-text">{{ model.component-name-01 }} v{{ model.component-version-01 }}</span>
								</a>
							</p>
							<hr />
						<!-- DOWNLOAD - ENDS -->

						<!-- EXAMPLE HTML - BEGINS -->
							<h6>HTML</h6>
							{{ global.reference-component-html-instructions }}
							<!-- {{ global.reference-get-code-start-tag }}{% include "/ee/components/item-selection-panel/item-selection-panel" %}{{ global.reference-get-code-end-tag }} -->
							<hr />
						<!-- EXAMPLE HTML - ENDS -->

						<!-- EXAMPLE JS - BEGINS -->
							<h6>Javascript</h6>
							{{ global.reference-component-js-instructions }}
							<!-- {{ global.reference-get-code-start-tag }}{% include "/ee/components/item-selection-panel/item-selection-panel-js" %}{{ global.reference-get-code-end-tag }} -->
							<hr />
						<!-- EXAMPLE JS - ENDS -->

						<!-- EXAMPLE IMAGES - BEGINS -->
							<h6>Images</h6>
							{{ global.reference-component-image-instructions }}
							<hr />
						<!-- EXAMPLE IMAGES - ENDS -->

						<!-- DEPENDENCY LIST - BEGINS -->
							{% if model.component-reference-dependency-01 == "true" %}
								<h6>Dependencies</h6>
								<ul>
									{% if model.component-reference-dependency-evolution-01 == "true" %}
										<li>
											<a href="/reference/index">Evolution Core {{ global.version_number }}</a>
											<ul>
												<li>
													<a href="/reference/base/icons">Photo Icons</a>
												</li>
											</ul>
										</li>
									{% endif %}

									{% if model.component-reference-dependency-foundation-01 == "true" %}
										<li>
											<a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation {{ global.foundation_version }}</a>
											<ul>
												<li>
													<a href="http://foundation.zurb.com/docs/components/block_grid.html" target="_blank">Block Grid</a>
												</li>
											</ul>
										</li>
									{% endif %}

									{% if model.component-reference-dependency-jquery-01 == "true" %}
										<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
									{% endif %}

									{% if model.component-reference-dependency-jquery-ui-01 == "true" %}
										<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
									{% endif %}

									{{ model.component-reference-dependency-list-01 }}
								</ul>
							{% endif %}
						<!-- DEPENDENCY LIST - ENDS -->

						</section>
					<!-- TAB 4 (get code section) - ENDS -->

					</div>
				</div>
			</section>

			<section class="row">
				<div class="small-12 columns">
					{{ "item-selection-panel.css" | asset_url | stylesheet_tag }}
					{% include "/ee/components/item-selection-panel/item-selection-panel" %}
				</div>
			</section>
		<!-- COMPONENT EXAMPLE - ENDS -->

		</div>
	</section>
<!-- ITEM SELECTION PANEL SECTION - ENDS -->