{% layout "bp/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/bp/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- CATEGORY TABLE OF CONTENTS - BEGINS -->
	<section class="row evo-site-table-content-ctn">
		<div class="large-12 columns">

			<section class="row collapse">
				<div class="small-12 medium-12 large-10 small-centered columns evo-site-down-arrrow">

				<!-- CATEGORY PAGE NAVIGATION - BEGINS -->
					<ul class="medium-block-grid-3 evo-site-table-contents">
						<li>
							<ul>
								<li><a href="#{{ model.visual-id-01 }}" data-scroll-to-location>{{ model.visual-01 }}</a></li>
								<li><a href="#{{ model.visual-id-02 }}" data-scroll-to-location>{{ model.visual-02 }}</a></li>
								<li><a href="#{{ model.visual-id-03 }}" data-scroll-to-location>{{ model.visual-03 }}</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="#{{ model.visual-id-04 }}" data-scroll-to-location>{{ model.visual-04 }}</a></li>
								<li><a href="#{{ model.visual-id-05 }}" data-scroll-to-location>{{ model.visual-05 }}</a></li>
								<li><a href="#{{ model.visual-id-06 }}" data-scroll-to-location>{{ model.visual-06 }}</a></li>
							</ul>	
						</li>
						<li>
							<ul>
								<li><a href="#{{ model.visual-id-07 }}" data-scroll-to-location>{{ model.visual-07 }}</a></li>
								<li><a href="#{{ model.visual-id-08 }}" data-scroll-to-location>{{ model.visual-08 }}</a></li>
							</ul>
						</li>
					</ul>
				<!-- CATEGORY PAGE NAVIGATION - ENDS -->

				</div>
			</section>
			
		</div>
	</section>
<!-- CATEGORY TABLE OF CONTENTS - ENDS -->

<!-- OVERALL COLOR PALETTE - BEGINS -->
	{% include '/content/visual/colors/overall-color-palette-example' %}
<!-- OVERALL COLOR PALETTE - ENDS -->

<!-- PRIMARY COLOR PALETTE - BEGINS -->
	{% include '/content/visual/colors/primary-color-palette-example' %}
<!-- PRIMARY COLOR PALETTE - ENDS -->

<!-- CHART COLORS - BEGINS -->
	{% include '/content/visual/colors/chart-colors-example' %}
<!-- CHART COLORS - ENDS -->

<!-- TYPOGRAPHY - BEGINS -->
	{% include '/content/visual/typography/typography-example' %}
<!-- TYPOGRAPHY - ENDS -->

<!-- PHOTO ICONS - BEGINS -->
	{% include '/content/visual/icons/photo-icons-example' %}
<!-- PHOTO ICONS - ENDS -->

<!-- VECTOR ICONS - BEGINS -->
	{% include '/content/visual/icons/vector-icons-example' %}
<!-- VECTOR ICONS - ENDS -->

<!-- ICOMOON ICONS - BEGINS -->
	{% include '/content/visual/icons/icomoon-icons-example' %}
<!-- ICOMOON ICONS - ENDS -->

<!-- PEOPLE IMAGES - BEGINS -->
	{% include '/content/visual/images/people-images-example' %}
<!-- PEOPLE IMAGES - ENDS -->

{% endblock %}