{% layout "bp/layout" %}
{% block content %}

<!-- HERO IMAGE - BEGINS -->
	{% include "/bp/hero-banner" %}
<!-- HERO IMAGE - ENDS -->

<!-- CATEGORY TABLE OF CONTENTS - BEGINS -->
	<section class="row evo-site-table-content-ctn">
		<div class="large-12 columns">

			<section class="row collapse">
				<div class="small-12 medium-12 large-10 small-centered columns evo-site-down-arrrow">

				<!-- CATEGORY PAGE NAVIGATION - BEGINS -->
					<ul class="medium-block-grid-3 evo-site-table-contents">
						<li>
							<ul>
								<li><a href="#{{ model.standard-component-name-id-10 }}" data-scroll-to-location>{{ model.standard-component-name-10 }}</a></li>
								<li><a href="#{{ model.standard-component-name-id-09 }}" data-scroll-to-location>{{ model.standard-component-name-09 }}</a></li>
								<li><a href="#{{ model.standard-component-name-id-01 }}" data-scroll-to-location>{{ model.standard-component-name-01 }}</a></li>
								<li><a href="#{{ model.standard-component-name-id-12 }}" data-scroll-to-location>{{ model.standard-component-name-12 }}</a></li>
								<li><a href="#{{ model.standard-component-name-id-08 }}" data-scroll-to-location>{{ model.standard-component-name-08 }}</a></li>
								<li><a href="#{{ model.component-name-id-09 }}" data-scroll-to-location>{{ model.component-name-09 }}</a></li>
								<li><a href="#{{ model.standard-component-name-id-03 }}" data-scroll-to-location>{{ model.standard-component-name-03 }}</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="#{{ model.component-name-id-05 }}" data-scroll-to-location>{{ model.component-name-05 }}</a></li>
								<li><a href="#{{ model.standard-component-name-id-04 }}" data-scroll-to-location>{{ model.standard-component-name-04 }}</a></li>
								<li><a href="#{{ model.standard-component-name-id-06 }}" data-scroll-to-location>{{ model.standard-component-name-06 }}</a></li>
								<li><a href="#{{ model.component-name-id-03 }}" data-scroll-to-location>{{ model.component-name-03 }}</a></li>
								<li><a href="#{{ model.component-name-id-01 }}" data-scroll-to-location>{{ model.component-name-01 }}</a></li>
								<li><a href="#{{ model.component-name-id-08 }}" data-scroll-to-location>{{ model.component-name-08 }}</a></li>
								<li><a href="#{{ model.standard-component-name-id-05 }}" data-scroll-to-location>{{ model.standard-component-name-05 }}</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="#{{ model.component-name-id-04 }}" data-scroll-to-location>{{ model.component-name-04 }}</a></li>
								<li><a href="#{{ model.component-name-id-02 }}" data-scroll-to-location>{{ model.component-name-02 }}</a></li>
								<li><a href="#{{ model.standard-component-name-id-02 }}" data-scroll-to-location>{{ model.standard-component-name-02 }}</a></li>
								<li><a href="#{{ model.component-name-id-06 }}" data-scroll-to-location>{{ model.component-name-06 }}</a></li>
								<li><a href="#{{ model.standard-component-name-id-11 }}" data-scroll-to-location>{{ model.standard-component-name-11 }}</a></li>
								<li><a href="#{{ model.component-name-id-07 }}" data-scroll-to-location>{{ model.component-name-07 }}</a></li>
								<li><a href="#{{ model.standard-component-name-id-07 }}" data-scroll-to-location>{{ model.standard-component-name-07 }}</a></li>
							</ul>
						</li>
					</ul>
				<!-- CATEGORY PAGE NAVIGATION - ENDS -->

				</div>
			</section>
			
		</div>
	</section>
<!-- CATEGORY TABLE OF CONTENTS - ENDS -->

<!-- ACCORDION SECTION - BEGINS -->
	{% include 'content/components/objects/accordion/accordion-example' %}
<!-- ACCORDION SECTION - ENDS -->

<!-- AUTOCOMPLETE SECTION - BEGINS -->
	{% include 'content/components/objects/autocomplete/autocomplete-example' %}
<!-- AUTOCOMPLETE SECTION - ENDS -->

<!-- BUTTONS SECTION - BEGINS -->
	{% include 'content/components/base/buttons/buttons-example' %}
<!-- BUTTONS SECTION - ENDS -->

<!-- CAROUSEL SECTION - BEGINS -->
	{% include 'content/components/objects/carousel/carousel-example' %}
<!-- CAROUSEL SECTION - ENDS -->

<!-- DATEPICKER SECTION - BEGINS -->
	{% include 'content/components/objects/datepicker/datepicker-example' %}
<!-- DATEPICKER SECTION - ENDS -->

<!-- FAT FOOTER SECTION - BEGINS -->
	{% include 'bp/components/fat-footer/fat-footer-example' %}
<!-- FAT FOOTER SECTION - ENDS -->

<!-- FORMS - COMPACT SECTION - BEGINS -->
	{% include 'content/components/base/forms/form-compact-example' %}
<!-- FORMS - COMPACT SECTION - ENDS -->

<!-- FORMS - CONVERSATIONAL SECTION - BEGINS -->
	{% include 'bp/components/conversational-form/conversational-form-example' %}
<!-- FORMS - CONVERSATIONAL SECTION - ENDS -->

<!-- FORMS - INLINE SECTION - BEGINS -->
	{% include 'content/components/base/forms/form-inline-example' %}
<!-- FORMS - INLINE SECTION - ENDS -->

<!-- FORMS - STACKED SECTION - BEGINS -->
	{% include 'content/components/base/forms/form-stacked-example' %}
<!-- FORMS - STACKED SECTION - ENDS -->

<!-- FORMS - WORKSHEET SECTION - BEGINS -->
	{% include 'bp/components/worksheet-form/worksheet-form-example' %}
<!-- FORMS - WORKSHEET SECTION - ENDS -->

<!-- HEADER SECTION - BEGINS -->
	{% include 'bp/components/bp-header/bp-header-example' %}
<!-- HEADER SECTION - ENDS -->

<!-- ITEM SELECTION PANEL SECTION - BEGINS -->
	{% include 'bp/components/item-selection-panel/item-selection-panel-example' %}
<!-- ITEM SELECTION PANEL SECTION - ENDS -->

<!-- MODAL SECTION - BEGINS -->
	{% include 'content/components/objects/reveal/reveal-example' %}
<!-- MODAL SECTION - ENDS -->

<!-- PRICING TABLE SECTION - BEGINS -->
	{% include 'bp/components/pricing-table/pricing-table-example' %}
<!-- PRICING TABLE SECTION - ENDS -->

<!-- SHOWCASE PANEL SECTION - BEGINS -->
	{% include 'bp/components/showcase-panel/showcase-panel-example' %}
<!-- SHOWCASE PANEL SECTION - ENDS -->

<!-- SLIDER SECTION - BEGINS -->
	{% include 'content/components/objects/slider/slider-example' %}
<!-- SLIDER SECTION - ENDS -->

<!-- STEPPER SECTION - BEGINS -->
	{% include 'bp/components/stepper/stepper-example' %}
<!-- STEPPER SECTION - ENDS -->

<!-- TABS SECTION - BEGINS -->
	{% include 'content/components/objects/tabs/tabs-example' %}
<!-- TABS SECTION - ENDS -->

<!-- THIN FOOTER SECTION - BEGINS -->
	{% include 'bp/components/thin-footer/thin-footer-example' %}
<!-- THIN FOOTER SECTION - ENDS -->

<!-- TOOLTIP SECTION - BEGINS -->
	{% include 'content/components/objects/tooltip/tooltip-example' %}
<!-- TOOLTIP SECTION - ENDS -->

{% endblock %}