{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}

<!-- PAGE TITLE - BEGINS -->
	<h1>{{ model.title }}</h1>
<!-- PAGE TITLE - ENDS -->

<!-- CONTENT SECTION - BEGINS -->
	<section class="col-24 mul-alternate-views-badge mul-ref-alternate-views-badge" data-alternate-views-badge="js-mul-ref-alternate-views-badge">

		{% include '/reference/reference-content' %}

	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - BEGINS -->
		{% if model.reference-get-code == "true" %}
			<div id="mul-ref-alternate-views-badge-content-panel-get-code">

				<h3 class="mul-hdr-rule">HTML</h3>

				{% if model.reference-example-versions == "true" %}
					<h4>{{ model.reference-example-version-label }}</h4>
				{% endif %}
				{{ model.reference-code-html-content-block-pre }}
				{{ global.reference-get-code-start-tag }}{% include '/base/boxes/highlight-ctn' %}{{ global.reference-get-code-end-tag }}
				{{ model.reference-code-html-content-block-post }}

				{% if model.reference-code-js == "true" %}

					<h3 class="mul-hdr-rule">JS</h3>

					{% if model.reference-example-versions == "true" %}
						<h4>{{ model.reference-example-version-label }}</h4>
					{% endif %}
					{{ model.reference-code-js-content-block-pre }}
					{{ global.reference-get-code-start-tag }}{ include '/js/' }{{ global.reference-get-code-end-tag }}
					{{ model.reference-code-js-content-block-post }}

				{% endif %}

			</div>
		{% endif %}
	<!-- CONTENT SECTION - CONTENT PANEL - GET CODE - ENDS -->

	</section>
<!-- CONTENT SECTION - ENDS -->

<!-- EXAMPLE SECTION - BEGINS -->
	<section class="col-24 mul-ref-example">

	<!-- EXAMPLE SECTION - HEADER - BEGINS -->
		<h3 class="mul-hdr-dbl-rule mul-ref-example-hdr">{{ global.reference-example-hdr }}</h3>
	<!-- EXAMPLE SECTION - HEADER - ENDS -->

	<!-- EXAMPLE SECTION - CONTENT - BEGINS -->
		<section class="mul-ref-example-content">

			<div class="col-24">
				<div class="col-12 first">

				<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->

					{% if model.reference-example-versions == "true" %}
						<h4 class="mul-hdr-rule">{{ model.reference-example-version-label }}</h4>
					{% endif %}

					{% include '/base/boxes/highlight-ctn' %}

				<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->
					
				</div>
				<div class="col-12">

				<!-- {{ model.title | upcase }} - EXAMPLE - BEGINS -->

					{% if model.reference-example-versions == "true" %}
						<h4 class="mul-hdr-rule">{{ model.reference-example-version-label-2 }}</h4>
					{% endif %}

					{% include '/base/boxes/highlight-ctn-text' %}

				<!-- {{ model.title | upcase }} - EXAMPLE - ENDS -->
					
				</div>
				
			</div>

		</section>
	<!-- EXAMPLE SECTION - CONTENT - ENDS -->

	</section>
<!-- EXAMPLE SECTION - ENDS -->

{% endblock %}