<!-- CORPORATE LOGOS - BEGINS -->
	<p>The corporate logos below are to be used for branding digital products across all lines of business. These logos are designed and optimized for placement in product headers and footers for all global Web properties.</p>

	<h5 class="evo-hdr-rule evo-spacer-margin-top-x-large evo-spacer-margin-bottom-large">
		Mercer
		<a class="right evo-hdr-link" href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download Complete Set (zip)</a>
	</h5>
	<div class="row">
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="white" data-evo-border-color="onyx-dark-20"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Mercer-only Logo</h6>
			<p>The Mercer-only logo is to be used in headers on desktop, tablet, and mobile.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="sapphire-dark" data-evo-border-color="sapphire-dark"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Mercer-only Logo (Reverse)</h6>
			<p>The reverse Mercer-only logo is also available for mid-tone and darker background colors in the header.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="onyx-dark-10" data-evo-border-color="onyx-dark-10"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Horizontal Logo with Lock-up</h6>
			<p>The Mercer logo with the, "Make Tomorrow, Today" lock-up appears in a brand-compliant bar as part of the footer.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="sapphire-dark" data-evo-border-color="sapphire-dark"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Horizontal Logo with Lock-up (Reverse)</h6>
			<p>The reverse horizontal logo is also available for mid-tone and darker background colors.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
	</div>

	<h5 class="evo-hdr-rule evo-spacer-margin-top-x-large evo-spacer-margin-bottom-large">
		Marsh &amp; McLennan Companies
		<a class="right evo-hdr-link" href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download Complete Set (zip)</a>
	</h5>
	<div class="row">
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="white" data-evo-border-color="onyx-dark-20"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Marsh &amp; McLennan Logo</h6>
			<p>The default Marsh &amp; McLennan logo is to be used in headers on desktop, tablet, and mobile.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="sapphire-dark" data-evo-border-color="sapphire-dark"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Marsh &amp; McLennan Logo (Reverse)</h6>
			<p>The reverse Marsh &amp; McLennan logo is also available for mid-tone and darker background colors in the header.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
	</div>

	<h5 class="evo-hdr-rule evo-spacer-margin-top-x-large evo-spacer-margin-bottom-large">
		Marsh
		<a class="right evo-hdr-link" href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download Complete Set (zip)</a>
	</h5>
	<div class="row">
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="white" data-evo-border-color="onyx-dark-20"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Marsh Logo</h6>
			<p>The default Marsh logo is to be used in headers on desktop, tablet, and mobile.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="sapphire-dark" data-evo-border-color="sapphire-dark"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Marsh Logo (Reverse)</h6>
			<p>The reverse Marsh logo is also available for mid-tone and darker background colors in the header.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
	</div>

	<h5 class="evo-hdr-rule evo-spacer-margin-top-x-large evo-spacer-margin-bottom-large">
		Mercer Marsh Benefits
		<a class="right evo-hdr-link" href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download Complete Set (zip)</a>
	</h5>
	<div class="row">
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="white" data-evo-border-color="onyx-dark-20"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Mercer Marsh Benefits Logo</h6>
			<p>The default Mercer Marsh Benefits logo is to be used in headers on desktop, tablet, and mobile.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="sapphire-dark" data-evo-border-color="sapphire-dark"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Mercer Marsh Benefits Logo (Reverse)</h6>
			<p>The reverse Mercer Marsh Benefits logo is also available for mid-tone and darker background colors in the header.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
	</div>

	<h5 class="evo-hdr-rule evo-spacer-margin-top-x-large evo-spacer-margin-bottom-large">
		Guy Carpenter
		<a class="right evo-hdr-link" href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download Complete Set (zip)</a>
	</h5>
	<div class="row">
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="white" data-evo-border-color="onyx-dark-20"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Guy Carpenter Logo</h6>
			<p>The default Guy Carpenter logo is to be used in headers on desktop, tablet, and mobile.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="sapphire-dark" data-evo-border-color="sapphire-dark"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Guy Carpenter Logo (Reverse)</h6>
			<p>The reverse Guy Carpenter logo is also available for mid-tone and darker background colors in the header.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
	</div>

	<h5 class="evo-hdr-rule evo-spacer-margin-top-x-large evo-spacer-margin-bottom-large">
		Oliver Wyman
		<a class="right evo-hdr-link" href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download Complete Set (zip)</a>
	</h5>
	<div class="row">
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="white" data-evo-border-color="onyx-dark-20"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Oliver Wyman Logo</h6>
			<p>The default Oliver Wyman logo is to be used in headers on desktop, tablet, and mobile.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
		<div class="medium-6 columns">
			<div class="evo-corp-logo-img-ctn" data-evo-background-color="sapphire-dark" data-evo-border-color="sapphire-dark"><img src="{{ "mercer-only-reverse.png" | asset_url }}" alt="Mercer" width="160" /></div>
			<h6 class="evo-hdr-rule">Oliver Wyman Logo (Reverse)</h6>
			<p>The reverse Oliver Wyman logo is also available for mid-tone and darker background colors in the header.</p>
			<ul class="no-bullet">
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download PNG</a>
				</li>
				<li>
					<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a>
				</li>
			</ul>
		</div>
	</div>

	<h5 class="evo-hdr-rule evo-spacer-margin-top-x-large evo-spacer-margin-bottom-large">
		Favicons
		<a class="right evo-hdr-link" href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download Complete Set (zip)</a>
	</h5>
	<div class="row">
		<div class="small-12 columns">
			<div class="evo-corp-logo-img-ctn evo-corp-logo-favicon-ctn" data-evo-background-color="onyx-dark-2" data-evo-border-color="onyx-dark-20"><img src="{{ "favicon_example.png" | asset_url }}" alt="Favicon" /></div>
		</div>
	</div>
	<h6 class="evo-hdr-rule">Favicon Usage</h6>
	<p>The favicon can be installed into a Web site (or page) and will appear next to the page name in a list of bookmarks or tabbed display. It will also appear in the browser's address bar. The .ico format is recommended as it is supported by a broader set of browsers.</p>

	<ul class="no-bullet">
		<li>
			<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download ICO</a> (16x16)
		</li>
		<li>
			<a href="#"><i class="evo-icon-download4 evo-icon-position-left" title=""></i>Download EPS</a> (16x16)
		</li>
	</ul>
<!-- CORPORATE LOGOS - ENDS -->