---
title: "Boilerplates"
---

<!-- HERO - BEGINS -->
	<section class="evo-full-width evo-site-hero" data-evo-site-hero-size="large" data-evo-site-hero-arrow-position="bottom">
		<div class="small-12 columns evo-center-block-vertical hide" data-anijs="if: load, on: window, do: $removeClass hide;">
			<div class="text-center evo-center-block-vertical-element">
				<h1 class="evo-site-hero--hdr flipInY animated evo-no-margin-bottom" data-evo-site-hero-hdr-size="large">{{{boilerplates.hero.title}}} <span>{{{boilerplates.hero.subtitle}}}</span></h1>
			</div>		
		</div>
	</section>
<!-- HERO - ENDS -->

<!-- DISTRIBUTIONS BAND - BEGINS -->
	<section class="evo-full-width evo-site-band evo-site-band--marketing">
		<div class="medium-12 large-10 large-centered columns evo-site-band--marketing-content">
			<h3 class="text-center evo-margin-left evo-margin-right">{{{boilerplates.distributions.header}}}</h3>
			<ul class="small-block-grid-{{what.users.grid_small}} medium-block-grid-{{boilerplates.distributions.grid_medium}} large-block-grid-{{boilerplates.distributions.grid_large}} evo-site-band--marketing-block-grid">
				{{#each boilerplates.distributions.items}}
				<li class="text-center">
					{{> (lookup . 'partial') }}
					<h5>{{{header}}}</h5>
					<p>{{{text}}}</p>
					{{#each button}}
						{{> (lookup . 'partial') }}
					{{/each}}
				</li>
				{{/each}}
			</ul>
		</div>
	</section>
<!-- DISTRIBUTIONS BAND - ENDS -->