---
title: "Browser Support"
---

<div class="evo-contain-to-grid">
	<div class="small-12 columns">

{{# markdown }}
# {{ title }}
Evolution is a modern framework for modern browsers. As such, Evolution is intended for <strong>B Grade browsers and above</strong>. For F Grade browsers, which are explicitly unsupported and untested, elements will render differently from supported browsers.
***
{{/ markdown }}

	</div>
</div>



<section class="evo-contain-to-grid">
	<div class="small-12 columns">

	<!-- BROWSER GRADING KEY - BEGINS -->
		<h6>{{browser-support.browser_key_header}}</h6>
		<ul class="evo-data-list">
			{{#each browser-support.browser_level}}
			<li>{{{ level }}}</li>
			{{/each}}
		</ul>
	<!-- BROWSER GRADING KEY - ENDS -->

	<!-- BROWSER GRADING TABLE - BEGINS -->
		<div class="evo-table-small-mediaquery">
			<table class="evo-table" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="" role="grid">
				<thead>
					<tr>
						<th scope="column">Browser</th>
						<th scope="column" data-evo-background-color="emerald-medium">A Grade</th>
						<th scope="column" data-evo-background-color="emerald-medium">B Grade</th>
						<th scope="column" data-evo-background-color="garnet-medium">F Grade (not supported)</th>
					</tr>
				</thead>
				<tbody>
					{{#each browser-support.data}}
					<tr>
						<td><strong>{{{ browserType }}}</strong></td>
						<td data-evo-background-color="emerald-light">{{{ gradeA }}}</td>
						<td data-evo-background-color="emerald-light">{{{ gradeB }}}</td>
						<td data-evo-background-color="garnet-light">{{{ gradeF }}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	<!-- BROWSER GRADING TABLE - ENDS -->

	<!-- ANNOTATIONS BOX - BEGINS -->
		<div class="panel evo-box annotations">
			<div class="evo-box-bdy">
				<h6>{{ browser-support.ie-compatibility-mode-header }}</h6>
				<p class="evo-no-margin-bottom">
					{{{ browser-support.ie-compatibility-mode-content }}}
				</p>
			</div>
		</div>
	<!-- ANNOTATIONS BOX - ENDS -->

	</div>
</section>