---
title: "Home"
---

<section class="evo-full-width evo-site-hero" data-evo-site-hero-size="4x-large" data-evo-site-hero-arrow-position="bottom">
	<div class="small-12 columns evo-center-block-vertical">
		<div class="text-center evo-center-block-vertical-element">
			<h1 class="evo-site-hero--hdr">{{ global.company }} <span>{{ global.title }}</span></h1>
			<h3 class="evo-center-block evo-site-hero--tagline">{{ global.meta_description }}</h3>
		</div>		
	</div>
</section>

<section class="evo-full-width evo-site-band evo-site-band--marketing">
	<div class="medium-12 large-10 large-centered columns evo-site-band--marketing-content">
		<h3 class="text-center">{{home.tools.header}}</h3>
		<div class="text-center show-for-small-only">
			{{#each home.tools.cta_button_small}}
				{{> (lookup . 'partial') }}
			{{/each}}
		</div>
		<ul class="small-block-grid-{{home.tools.grid_small}} medium-block-grid-{{home.tools.grid_medium}} large-block-grid-{{home.tools.grid_large}} evo-site-band--marketing-block-grid">
			{{#each home.tools.items}}
			<li class="text-center">
				{{> (lookup . 'partial') }}
				<h5>{{header}}</h5>
				<p>{{text}}</p>
			</li>
			{{/each}}
		</ul>
		<div class="text-center hide-for-small-only"> 
			{{#each home.tools.cta_button}}
				{{> (lookup . 'partial') }}
			{{/each}}
		</div>
	</div>
</section>

<section class="evo-full-width evo-site-band">
	<div class="medium-12 medium-centered columns evo-contain-to-grid">
		<h3 class="text-center">Text Header</h3>
		<p class="evo-no-margin-bottom">{{lorem count=10}}</p>
	</div>
</section>

<section class="evo-full-width evo-site-band evo-site-band--marketing">
	<div class="medium-12 medium-centered columns evo-contain-to-grid evo-site-band--marketing-content">
		<h3 class="text-center evo-spacer-margin-bottom-small">{{home.products.header}}</h3>
		<h6 class="subheader text-center">{{home.products.subheader}}</h6>
		<ul class="small-block-grid-{{home.products.grid_small}} medium-block-grid-{{home.products.grid_medium}} large-block-grid-{{home.products.grid_large}} evo-site-band--marketing-block-grid">
			{{#each home.products.items}}
			<li class="text-center">
				<h4><a href="{{url}}">{{header}}</a></h4>
			</li>
			{{/each}}
		</ul>
	</div>
</section>