---
title: "Media Queries"
---

<!-- HERO - BEGINS -->
	<section class="row expanded evo-site-hero" data-evo-site-hero-size="medium" data-evo-site-hero-arrow-position="bottom">
		<div class="small-12 columns evo-vertical-middle hide" data-anijs="if: load, on: window, do: $removeClass hide;">
			<div class="text-center evo-vertical-middle-element">
				<h1 class="evo-site-hero--hdr flipInY animated evo-no-margin-bottom" data-evo-site-hero-hdr-size="medium">{{{media-queries.hero.title}}} <span>{{{media-queries.hero.subtitle}}}</span></h1>
			</div>		
		</div>
	</section>
<!-- HERO - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-xxx-large evo-spacer-padding-bottom-xxx-large">

{{# markdown }}
Evolution uses Foundation's media query Sass variables and setup. Refer to Foundation's [media query documentation](http://foundation.zurb.com/docs/media-queries.html) for more information on media queries.
***
{{/ markdown }}

		<!-- MEDIA QUERIES TABLE - BEGINS -->
			<div class="evo-table-small-mediaquery ">
				<table class="evo-table" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="" role="grid">
					<thead>
						<tr>
							<th scope="column">Media Query</th>
							<th scope="column">Devices</th>
							<th scope="column">Range (Device/Browser Width)</th>
						</tr>
					</thead>
					<tbody>
						{{#each media-queries.data}}
						<tr>
							<td><strong>{{ media-query }}</strong></td>
							<td>{{ media-query-devices }}</td>
							<td>{{ media-query-range }}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		<!-- MEDIA QUERIES TABLE - ENDS -->

		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->