---
title: "Page Templates"
---

<!-- HERO - BEGINS -->
	<section class="row expanded evo-site-hero" data-evo-site-hero-size="large" data-evo-site-hero-arrow-position="bottom">
		<div class="small-12 columns evo-vertical-middle hide" data-anijs="if: load, on: window, do: $removeClass hide;">
			<div class="text-center evo-vertical-middle-element">
				<h1 class="evo-site-hero--hdr evo-no-margin-bottom" data-evo-site-hero-hdr-size="large">{{{page-templates.hero.title}}} <span>{{{page-templates.hero.subtitle}}}</span></h1>
			</div>		
		</div>
	</section>
<!-- HERO - ENDS -->

<!-- PAGE CONTENT - BEGINS -->
	<section class="row">
		<div class="small-12 columns evo-spacer-padding-top-xxx-large evo-spacer-padding-bottom-xxx-large">

{{# markdown }}
A collection of common page templates for use in any project.
***
{{/ markdown }}

			<div class="row small-up-2 medium-up-3 large-up-3 xlarge-up-3 xxlarge-up-4 evo-site--page-template-container">
			{{#each page-templates.data }}
				<div class="columns">
					<a href="/page-templates/{{url}}.html" target="_blank"><img class="evo-site--page-template-thumbnail" src="/assets/images/content/{{image}}" alt="" width="100%"></a>
					<h5>{{header}}</h5>
					<p>{{description}}</p>
					<ul class="evo-inline-list evo-inline-list-pipes">
						<!-- <li><a href="/page-templates/{{url}}.html" download>Download</a></li> -->
						<li><a href="/page-templates/{{url}}.html" target="_blank">Demo</a></li>
					</ul>
				</div>
			{{/each}}
			</div>

		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->