---
title: "User Journeys"
---
<!-- USER JOURNEYS HERO - BEGINS -->
	<section class="row expanded evo-site-hero" data-evo-site-hero-size="x-large" data-evo-site-hero-arrow-position="bottom">
		<div class="small-12 columns evo-vertical-middle hide" data-anijs="if: load, on: window, do: $removeClass hide;">
			<div class="text-center evo-vertical-middle-element">
				<h1 class="evo-site-hero--hdr" data-evo-site-hero-hdr-size="medium">{{{user-journeys.hero.title}}} <span>{{{user-journeys.hero.subtitle}}}</span></h1>
				<h3 class="float-center evo-site-hero--tagline">{{{ user-journeys.hero.tagline }}}</h3>
			</div>		
		</div>
	</section>
<!-- USER JOURNEYS HERO - ENDS -->

<!-- INFO GRAPHIC CONTENT BAND - BEGINS -->
	<section class="row expanded evo-site-band evo-site-band--marketing">
		<div class="medium-12 large-10 large-centered columns evo-site-band--marketing-content">
			<!--
			<div class="row">
				<div class="medium-12 columns text-center">
					<h5 class="text-center evo-margin-left evo-margin-right evo-spacer-margin-bottom-xxx-large">{{{user-journeys.info_graphic_band.header}}}</h5>
					<img class="show-for-medium evo-site-hidden" src="{{assets}}/images/evo-site-what-inside-out.png" alt="{{{user-journeys.info_graphic_band.header}}}" data-anijs="if: scroll, on: window, do: fadeInUpBig animated evo-site-visible, before: scrollReveal, after: holdAnimClass">
				</div>
			</div>
			-->
			<div class="row">
				<div class="small-12 medium-10 large-8 medium-centered columns">
					<h5 class="text-center evo-margin-left evo-margin-right evo-spacer-margin-bottom-xxx-large">{{{user-journeys.info_graphic_band.header}}}</h5>
					<p>{{{user-journeys.info_graphic_band.text}}}</p>
				</div>
			</div>
		</div>
	</section>
<!-- INFO GRAPHIC CONTENT BAND - ENDS -->

<!-- KEY OBJECTIVES CONTENT BAND - BEGINS -->
	<section class="row expanded evo-site-band evo-site-band--dark evo-site-band--marketing" data-evo-site-band-theme="learn">
		<div class="medium-12 large-10 large-centered columns evo-site-band--marketing-content">
			<h5 class="text-center evo-margin-left evo-margin-right evo-spacer-margin-bottom-xxx-large">{{{user-personas.key_objectives_band.header}}}</h5>
			<div class="row">
				<div class="small-10 small-centered columns">
					<div class="row medium-up-2">
						<div class="columns">
							<ul>
								<li class="evo-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit nisi.</li>
								<li class="evo-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit nisi.</li>
							</ul>
						</div>
						<div class="columns">
							<ul>
								<li class="evo-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit nisi.</li>
								<li class="evo-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit nisi.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- KEY OBJECTIVES CONTENT BAND - ENDS -->

<!-- JOURNEYS LIBRARY TAB BAND - BEGINS -->
	<section class="row expanded evo-site-band--marketing evo-site-band--tab">
		<div class="evo-site-band--tab-hdr" data-evo-site-band-theme="learn">
			<div class="small-12 columns">
				<div class="row">
					<div class="small-10 medium-7 large-6 small-centered columns evo-site-band--tab-hdr-tab">
						<h3 class="text-center">{{{user-journeys.journey_library_tab_band.header}}}</h3>
					</div>
				</div>
				<div class="row">
					<div class="small-10 medium-7 large-6 small-centered columns evo-site-band--tab-hdr-tab-shim"></div>
				</div>
			</div>
		</div>
		<div class="evo-site-band--tab-panel">
			<div class="row">
				<div class="medium-12 large-10 large-centered columns">

				{{#each user-journeys.journey_library_tab_band.items}}
					<div class="row evo-site-band--media-object">
						<div class="medium-5 medium-push-7 columns text-center medium-text-right">
							<a href="{{url}}" target="_blank"><img src="{{image_src}}" width="300"></a>
						</div>
						<div class="medium-7 medium-pull-5 columns">
							<h5>{{{header}}}</h5>
							<p>{{{description}}}</p>
							<a href="{{url}}" class="button hollow evo-button" data-evo-button-icons="right" role="button" target="_blank"><span class="evo-button-text">{{link_text}}</span><i class="evo-icon-arrow-right2 evo-icon-position-right"></i></a>
						</div>
					</div>
				{{/each}}

				</div>
			</div>
		</div>
	</section>
<!-- JOURNEYS LIBRARY TAB BAND - ENDS -->