---
title: "What is Evolution?"
---
<!-- WHAT IS HERO - BEGINS -->
	<section class="evo-full-width evo-site-hero" data-evo-site-hero-size="x-large" data-evo-site-hero-arrow-position="bottom">
		<div class="small-12 columns evo-center-block-vertical hide" data-anijs="if: load, on: window, do: $removeClass hide;">
			<div class="text-center evo-center-block-vertical-element">
				<h1 class="evo-site-hero--hdr flipInY animated" data-evo-site-hero-hdr-size="large">{{{what.hero.title}}} <span>{{{what.hero.subtitle}}}</span></h1>
				<h3 class="evo-center-block evo-site-hero--tagline bounceInUp animated">{{{ what.hero.tagline }}}</h3>
			</div>		
		</div>
	</section>
<!-- WHAT IS HERO - ENDS -->

<!-- WHAT IS USERS BAND - BEGINS -->
	<section class="evo-full-width evo-site-band evo-site-band--marketing">
		<div class="medium-12 large-10 large-centered columns evo-site-band--marketing-content">
			<h3 class="text-center evo-margin-left evo-margin-right">{{{what.users.header}}}</h3>

			<div class="row small-up-{{what.users.grid_small}} medium-up-{{what.users.grid_medium}} large-up-{{what.users.grid_large}} evo-site-band--marketing-block-grid">
				{{#each what.users.items}}
				<div class="columns text-center">
					{{> (lookup . 'partial') }}
					<h5>{{{header}}}</h5>
					<p>{{{text}}}</p>
				</div>
				{{/each}}
			</div>
		</div>
	</section>
<!-- WHAT IS USERS BAND - ENDS -->

<!-- WHAT IS INSIDE AND OUT TAB BAND - BEGINS -->
	<section class="evo-full-width evo-site-band--marketing evo-site-band--tab evo-site-band--what">
		<div class="evo-full-width evo-site-band--tab-hdr">
			<div class="small-12 columns">
				<div class="row">
					<div class="small-10 medium-9 large-7 small-centered columns evo-site-band--tab-hdr-tab">
						<h3 class="text-center">{{{what.inside_out.header}}}</h3>
					</div>
					<div class="small-10 medium-9 large-7 small-centered columns evo-site-band--tab-hdr-tab-shim"></div>
				</div>
			</div>
		</div>
		<div class="evo-full-width evo-site-band--tab-panel">
			<div class="medium-12 large-10 large-centered columns">
				<div class="row">
					<div class="medium-12 text-center columns">
						<img class="evo-site-hidden" src="{{assets}}/images/evo-site-what-inside-out.png" alt="{{{what.inside_out.header}}}" data-anijs="if: scroll, on: window, do: fadeInUpBig animated evo-site-visible, before: scrollReveal, after: holdAnimClass">
					</div>
				</div>
			</div>
			<div class="medium-12 large-10 large-centered columns evo-site-band--marketing-content">

				<div class="row small-up-1 medium-up-1 large-up-2 evo-site-band--marketing-block-grid" data-equalizer="site-band">
					<div class="columns evo-no-padding-bottom" data-equalizer-watch="site-band">
						<h5 class="text-center evo-spacer-margin-bottom-x-large">{{{what.inside_out.item_code_header}}}</h5>
						<div class="row small-up-{{what.inside_out.grid_small}} medium-up-{{what.inside_out.grid_medium}} large-up-{{what.inside_out.grid_large}}">
							{{#each what.inside_out.items_code}}
							<div class="columns text-center">
								{{> (lookup . 'partial') }}
								<p class="evo-spacer-margin-top-small evo-no-margin-bottom">{{{text}}}</p>
							</div>
							{{/each}}
						</div>
					</div>
					<div class="columns evo-keyline-left evo-no-padding-bottom" data-equalizer-watch="site-band">
						<h5 class="text-center evo-spacer-margin-bottom-x-large">{{{what.inside_out.item_design_header}}}</h5>
						<div class="row small-up-{{what.inside_out.grid_small}} medium-up-{{what.inside_out.grid_medium}} large-up-{{what.inside_out.grid_large}}">
							{{#each what.inside_out.items_design}}
							<div class="columns text-center">
								{{> (lookup . 'partial') }}
								<p class="evo-spacer-margin-top-small evo-no-margin-bottom">{{{text}}}</p>
							</div>
							{{/each}}
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
<!-- WHAT IS INSIDE AND OUT TAB BAND - ENDS -->

<!-- WHAT IS TESTIMONIALS BAND - BEGINS -->
	<section class="evo-full-width evo-site-band evo-site-band--marketing evo-site-band--testimonials">
		<div class="medium-12 large-9 large-centered columns evo-site-band--marketing-content">
			<h3 class="text-center evo-margin-left evo-margin-right">{{{what.testimonials.header}}}</h3>

		<!-- TESTIMONIALS CAROUSEL - BEGINS -->
			<div class="evo-carousel" data-evo-carousel="evo-site-testimonials-carousel">
				{{#each what.testimonials.items}}
				<div class="evo-carousel-item">
					<blockquote>
						<p>{{{text}}}</p>
						<cite>
							{{{name}}}{{#if title}}<br>
							<span class="title">{{{title}}}</span>
							{{/if}}
						</cite>
					</blockquote>
				</div>
				{{/each}}
			</div>
		<!-- TESTIMONIALS CAROUSEL - ENDS -->

		</div>
	</section>
<!-- WHAT IS TESTIMONIALS BAND - ENDS -->