---
title: "Why Evolution?"
---

<div class="evo-site-band--marketing-ctn">

<!-- WHY HERO - BEGINS -->
	<section class="row expanded evo-site-hero" data-evo-site-hero-size="x-large" data-evo-site-hero-arrow-position="bottom">
		<div class="small-12 columns evo-vertical-middle hide" data-anijs="if: load, on: window, do: $removeClass hide;">
			<div class="text-center evo-vertical-middle-element">
				<h1 class="evo-site-hero--hdr flipInY animated" data-evo-site-hero-hdr-size="large">{{{why.hero.title}}} <span>{{{why.hero.subtitle}}}</span></h1>
				<h3 class="float-center evo-site-hero--tagline bounceInUp animated">{{{ why.hero.tagline }}}</h3>
			</div>		
		</div>
	</section>
<!-- WHY HERO - ENDS -->

<!-- MAGELLAN - BEGINS -->
	<div data-sticky-container class="show-for-medium">
		<div class="sticky" id="navbar" data-anchor="hero" data-margin-top="0" data-sticky>
			<nav class="evo-site--why-sticky-navbar" data-bar-offset="80" data-threshold="80" data-magellan>
				<ul class="horizontal menu expanded" data-equalizer>
				{{#each why.data}}
					<li data-equalizer-watch><a href="#{{slug}}" data-equalizer-watch>{{{name}}}</a></li>
				{{/each}}
				</ul>
			</nav>
		</div>
	</div>
<!-- MAGELLAN - ENDS -->

</div>


<!-- PAGE CONTENT - BEGINS -->
	<section class="row expanded evo-site-band evo-site-band--why" id="hero">
		<div class="medium-11 large-11 medium-centered columns">

		{{#each why.data}}
		<!-- CONTENT SECTION - BEGINS -->
			<div class="row evo-site--why-content-section evo-site-hidden" data-equalizer="site-band" data-magellan-destination="{{slug}}"{{#is @index '0'}}data-anijs="if: window, on: load, do: evo-site-visible {{animation}} animated delay-sm, after: holdAnimClass"{{else}}data-anijs="if: scroll, on: window, do: evo-site-visible {{animation}} animated delay-sm, before: scrollReveal, after: holdAnimClass"{{/is}}>
				<div class="medium-6 large-4 columns" data-equalizer-watch="site-band">
					<div class="evo-vertical-middle">
						<div class="evo-vertical-middle-element">
							<h3 data-magellan-target="{{slug}}" id="{{slug}}">{{{bulletpoint_header}}}</h3>
							{{#each bulletpoints}}
								<p class="evo-keyline-left evo-spacer-margin-bottom-large evo-site-pull-out">{{{text}}}</p>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="medium-6 large-8 columns" data-equalizer-watch="site-band">
					<div class="evo-vertical-middle">
						<div class="small-text-center medium-text-right evo-vertical-middle-element">
							<img src="/assets/images/evo-site-why-{{add @index 1}}.png" alt="{{name}}">
						</div>
					</div>
				</div>
			</div>
		<!-- CONTENT SECTION - ENDS -->
		{{/each}}

		</div>
	</section>
<!-- PAGE CONTENT - ENDS -->

</div>