---
title: "Why Evolution?"
---

<!-- WHY HERO - BEGINS -->
	<section class="evo-full-width evo-site-hero" data-evo-site-hero-size="x-large">
		<div class="small-12 columns evo-center-block-vertical hide" data-anijs="if: load, on: window, do: $removeClass hide;">
			<div class="text-center evo-center-block-vertical-element">
				<h1 class="evo-site-hero--hdr flipInY animated" data-evo-site-hero-hdr-size="large">{{{why.hero.title}}} <span>{{{why.hero.subtitle}}}</span></h1>
				<h3 class="evo-center-block evo-site-hero--tagline bounceInUp animated">{{{ why.hero.tagline }}}</h3>
			</div>		
		</div>
	</section>
<!-- WHY HERO - ENDS -->

<!-- MAGELLAN - BEGINS -->
	<section class="show-for-medium-up evo-full-width evo-site-magellan" data-magellan-expedition="fixed" data-options="fixed_top: 0; destination_threshold: 80; offset_by_height: true;">
		<div class="medium-12 large-10 large-centered columns">
			<dl class="sub-nav">
			{{#each why.data}}
				<dd data-magellan-arrival="{{slug}}"><a href="#{{slug}}">{{name}}</a></dd>
			{{/each}}
			</dl>
		</div>
	</section>
<!--MAGELLAN - ENDS-->

<!-- PAGE CONTENT - BEGINS -->
<section class="evo-full-width evo-site-band evo-site-band--why">
	<div class="medium-12 large-11 large-centered columns">

	{{#each why.data}}
	<!-- CONTENT SECTION - BEGINS -->
		<div class="row evo-site--why-content-section" data-magellan-destination="{{slug}}"{{#if animation}} data-anijs="if: scroll, on: window, do: {{animation}} animated, before: scrollReveal, after: holdAnimClass"{{/if}}>
			<div class="medium-6 large-4 columns">
				<a name="{{slug}}"></a>
				<h3>{{{bulletpoint_header}}}</h3>
				{{#each bulletpoints}}
					<p>{{{text}}}</p>
				{{/each}}
			</div>
			<div class="medium-6 large-8 columns">
				<img src="/assets/images/evo-site-why-{{add @index 1}}.png" alt="{{name}}">
			</div>
		</div>
	<!-- CONTENT SECTION - ENDS -->
	{{/each}}

	</div>
</section>
<!-- PAGE CONTENT - ENDS -->