---
title: "Why Evolution?"
---

<div class="evo-site-band--marketing-ctn">

	<!-- WHY HERO - BEGINS -->
		<section class="row expanded evo-site-hero" data-evo-site-hero-size="x-large" data-evo-site-hero-arrow-position="bottom">
			<div class="small-12 columns evo-center-block-vertical hide" data-anijs="if: load, on: window, do: $removeClass hide;">
				<div class="text-center evo-center-block-vertical-element">
					<h1 class="evo-site-hero--hdr flipInY animated" data-evo-site-hero-hdr-size="large">{{{why.hero.title}}} <span>{{{why.hero.subtitle}}}</span></h1>
					<h3 class="evo-center-block evo-site-hero--tagline bounceInUp animated">{{{ why.hero.tagline }}}</h3>
				</div>		
			</div>
		</section>
	<!-- WHY HERO - ENDS -->

	<!-- MAGELLAN - BEGINS -->
		<section class="row expanded show-for-medium-up evo-site-magellan" data-magellan-expedition="fixed" data-options="fixed_top: 0; destination_threshold: 120; offset_by_height: true;">
			<div class="medium-12 large-12 large-centered columns evo-no-padding">
				<ul class="medium-block-grid-6 sub-nav" data-equalizer="site-magellan">
				{{#each why.data}}
					<li data-magellan-arrival="{{slug}}" data-equalizer-watch="site-magellan"><a href="#{{slug}}" data-equalizer-watch="site-magellan">{{{name}}}</a></li>
				{{/each}}
				</ul>
			</div>
		</section>
	<!--MAGELLAN - ENDS-->

	<!-- PAGE CONTENT - BEGINS -->
	<section class="row expanded evo-site-band evo-site-band--why">
		<div class="medium-11 large-11 medium-centered columns">

		{{#each why.data}}
		<!-- CONTENT SECTION - BEGINS -->
			<div class="row evo-site--why-content-section evo-site-hidden" data-equalizer="site-band" data-magellan-destination="{{slug}}"{{#is @index '0'}}data-anijs="if: window, on: load, do: evo-site-visible {{animation}} animated delay-sm, after: holdAnimClass"{{else}}data-anijs="if: scroll, on: window, do: evo-site-visible {{animation}} animated delay-sm, before: scrollReveal, after: holdAnimClass"{{/is}}>
				<div class="medium-6 large-4 columns" data-equalizer-watch="site-band">
					<div class="evo-center-block-vertical">
						<div class="evo-center-block-vertical-element">
							<a name="{{slug}}"></a>
							<h3>{{{bulletpoint_header}}}</h3>
							{{#each bulletpoints}}
								<p class="evo-keyline-left evo-spacer-margin-bottom-large evo-site-pull-out">{{{text}}}</p>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="medium-6 large-8 columns" data-equalizer-watch="site-band">
					<div class="evo-center-block-vertical">
						<div class="small-text-center medium-text-right evo-center-block-vertical-element">
							<img src="/assets/images/evo-site-why-{{add @index 1}}.png" alt="{{name}}">
						</div>
					</div>
				</div>
			</div>
		<!-- CONTENT SECTION - ENDS -->
		{{/each}}

		</div>
	</section>
	<!-- PAGE CONTENT - ENDS -->

</div>