<footer class="evo-footer">
	<section class="row">
		<div class="small-12 columns">
			<ul class="inline-list evo-inline-list evo-inline-list-pipes right">
				<li><a href="/change-log">Evolution Core {{ global.version_number }}</a></li>
				<li><a href="http://foundation.zurb.com/docs/" target="_blank">Foundation {{ global.foundation_version }}</a></li>
				<li><a href="https://jquery.com/" target="_blank">jQuery {{ global.jquery_version }}</a></li>
				<li><a href="http://jqueryui.com/" target="_blank">jQuery UI {{ global.jquery_ui_version }}</a></li>
				<li><span class="evo-copyright">&copy; {{ 'now' | date: "%Y" }} Mercer LLC, All Rights Reserved</span></li>
			</ul>
		</div>
	</section>
</footer>