<!-- CONTENT SECTION - TOGGLE BUTTONS - BEGINS -->
	<ul class="mul-btn-group-horizontal">{% for item in global.reference-buttons %}<li class="mul-btn"><a href="#mul-ref-alternate-views-badge-content-panel-{% cycle '1', '2', '3', '4', '5', 'get-code'%}"><i class="mul-icon-{{ item.reference-button-icon }} mul-icon-position-left" title="{{ item.reference-button-label }}"></i><span>{{ item.reference-button-label }}</span></a></li>{% endfor %}</ul>
<!-- CONTENT SECTION - TOGGLE BUTTONS - ENDS -->

<!-- CONTENT SECTION - CONTENT PANEL - BEGINS -->
	<div id="mul-ref-alternate-views-badge-content-panel-1">
		{{ model.reference-overview }}
	</div>
<!-- CONTENT SECTION - CONTENT PANEL - ENDS -->

<!-- CONTENT SECTION - CONTENT PANEL - BEGINS -->
	<div id="mul-ref-alternate-views-badge-content-panel-2">
		{{ model.reference-usage }}
	</div>
<!-- CONTENT SECTION - CONTENT PANEL - ENDS -->

<!-- CONTENT SECTION - CONTENT PANEL - BEGINS -->
	<div id="mul-ref-alternate-views-badge-content-panel-3">
		{{ model.reference-details }}
	</div>
<!-- CONTENT SECTION - CONTENT PANEL - ENDS -->

<!-- CONTENT SECTION - CONTENT PANEL - BEGINS -->
	<div id="mul-ref-alternate-views-badge-content-panel-4">
		{{ model.reference-mobile }}
	</div>
<!-- CONTENT SECTION - CONTENT PANEL - ENDS -->

<!-- CONTENT SECTION - CONTENT PANEL - BEGINS -->
	<div id="mul-ref-alternate-views-badge-content-panel-5">
		{{ model.reference-technical }}
		
		{% if model.reference-dependency == "true" %}
		<!-- DEPENDENCY LIST - BEGINS -->
		<h5 class="mul-hdr-rule">Dependencies</h5>
		<ul>
			{% if model.reference-dependency-jquery == "true" %}
				<li>jQuery {{ global.jquery_version }}</li>
			{% endif %}

			{% if model.reference-dependency-jquery-ui == "true" %}
				<li>jQuery UI {{ global.jquery_ui_version }}</li>
			{% endif %}

			{{ model.reference-dependency-list }}
		</ul>
		<!-- DEPENDENCY LIST - ENDS -->
		{% endif %}

	</div>
<!-- CONTENT SECTION - CONTENT PANEL - ENDS -->