<dl class="tabs evo-tabs" data-tab>
{% for item in global.reference-buttons %}
	<dd>
		<a href="#panel{% cycle '1', '2', '3', '4', '5' %}">
			<i class="evo-icon-{{ item.reference-button-icon }} evo-icon-position-left" title="{{ item.reference-button-label }}"></i>
			{{ item.reference-button-label }}
		</a>
	</dd>
{% endfor %}

{% if model.reference-get-code == "true" %}
	<dd>
		<a href="#panel5">
			<i class="evo-icon-{{ global.reference-button-icon-get-code }} evo-icon-position-left" title="{{ global.reference-button-label-get-code }}"></i>
			{{ global.reference-button-label-get-code }}
		</a>
	</dd>
{% endif %}
</dl>
<div class="tabs-content evo-tabs-content">
<!-- REFERENCE OVERVIEW - BEGINS -->
	<div class="content active" id="panel1">
		{{ model.reference-overview }}
	</div>
<!-- REFERENCE OVERVIEW - ENDS -->

<!-- REFERENCE USAGE - BEGINS -->
	<div class="content" id="panel2">
		{{ model.reference-usage }}
	</div>
<!-- REFERENCE USAGE - ENDS -->

<!-- REFERENCE DETAILS - BEGINS -->
	<div class="content" id="panel3">
		{{ model.reference-details }}
	</div>
<!-- REFERENCE DETAILS - ENDS -->

<!-- REFERENCE MOBILE - BEGINS -->
	<div class="content" id="panel4">
		{{ model.reference-mobile }}
	</div>
<!-- REFERENCE MOBILE - ENDS -->

<!-- REFERENCE TECHNICAL - BEGINS -->
	<div class="content" id="panel5">
		{{ model.reference-technical }}
	</div>
<!-- REFERENCE TECHNICAL - ENDS -->

<!-- REFERENCE DEPENDECY - BEGINS -->
	<div class="content" id="panel6">
		{% if model.reference-dependency == "true" %}
		<!-- DEPENDENCY LIST - BEGINS -->
		<h3>Dependencies</h3>
		<ul>
			{% if model.reference-dependency-jquery == "true" %}
				<li>jQuery {{ global.jquery_version }}</li>
			{% endif %}

			{% if model.reference-dependency-jquery-ui == "true" %}
				<li>jQuery UI {{ global.jquery_ui_version }}</li>
			{% endif %}

			{{ model.reference-dependency-list }}
		</ul>
		<!-- DEPENDENCY LIST - ENDS -->
		{% endif %}
	</div>
<!-- REFERENCE DEPENDECY - ENDS -->
</div>